﻿@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Regular.otf');
}
@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('../fonts/SourceSansPro-Light.otf');
}
@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url('../fonts/SourceSansPro-Semibold.otf');
}
@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url('../fonts/SourceSansPro-Bold.otf');
}