<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_SharePoint_CMSPages_GetSharePointFile" CodeFile="GetSharePointFile.aspx.cs" %>
<!DOCTYPE html>
<html>
<head id="Head1" runat="server" enableviewstate="false">
    <title>SharePoint File</title>
</head>
<body>
    <form id="form1" runat="server">
    </form>
</body>
</html>
