﻿/* VARIABLES */
/* Colors */
/* Night Mode Colors */
/* Alert Colors */
/* MIXINS */
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.flatten {
  background-image: none !important;
  border-radius: 0;
}
.primary-btn {
  background-color: #144b96;
  color: #fff;
}
.primary-btn-hover {
  background-color: #0e3469;
  color: #fff;
}
/* Night Mode */
.ni-primary-btn {
  background-color: #213547;
  color: #6986a0;
}
.ni-primary-btn-hover {
  background-color: #111b24;
  color: #6986a0;
}
/* Font */
.smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sourcesans {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
.sourcesans-lt {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro Light', Helvetica, Arial, sans-serif;
}
.sourcesans-sb {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro Semibold', Helvetica, Arial, sans-serif;
}
.sourcesans-b {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro Bold', Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: 'Dancing Script';
  src: url('../_framework/fonts/DancingScript-Regular.ttf');
}
.dancing-script {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dancing Script', Georgia !important;
}
/* DEFAULTS */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
body > form {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  background-color: #0f0f0f;
  color: #3f3f3f;
  font-size: 16px;
}
body.day {
  background-color: #fff;
}
a {
  color: #144b96;
}
p {
  line-height: 1.5em;
}
h2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro Light', Helvetica, Arial, sans-serif;
}
button.btn,
button,
.btn {
  background-image: none !important;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  text-shadow: none;
}
button.btn i,
button i,
.btn i {
  display: inline-block;
  margin-right: 5px;
}
button.btn:hover,
button:hover,
.btn:hover {
  border: 0;
}
.btn.primary-button {
  background-color: #144b96;
  color: #fff;
  border-bottom: 0 !important;
  color: #fff !important;
}
.btn.primary-button:hover {
  background-color: #0e3469;
  color: #fff;
}
.btn.button-inline {
  margin-right: 5px;
}
.clear {
  clear: both;
}
.m-left {
  margin-left: 10px;
}
.modal-dialog button,
.editable-buttons button {
  background-color: #144b96;
  color: #fff;
}
.modal-dialog button:hover,
.editable-buttons button:hover {
  background-color: #0e3469;
  color: #fff;
}
.signature > span,
.signature > a,
.signature pre {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dancing Script', Georgia !important;
}
/* STYLES */
.container-full {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}
.content-wrapper {
  display: inline-block;
  margin: 0;
  min-height: 100%;
  position: relative;
  width: 100%;
}
/* Header */
.header {
  background-color: #1f1f1f;
  color: #fff;
  /* login */
}
.header .logo-container {
  display: inline;
}
.header .logo-container .logo-img {
  padding: 10px 15px;
}
.header .vessel-name {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro Semibold', Helvetica, Arial, sans-serif;
  border-left: 1px solid #3f3f3f;
  display: inline-block;
  font-size: 1.8rem;
  padding-left: 15px;
  position: absolute;
  top: 13px;
}
.header .login {
  display: inline-block;
  font-size: 1.8rem;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  text-align: right;
}
.header .login .trip-info {
  margin-right: 15px;
}
.header .login .trip-info a {
  color: #71a5ec;
}
.header .login .user-name {
  display: inline-block;
  margin-top: 5px;
  padding-right: 15px;
}
.header .login i.fa-user,
.header .login i.fa-flag,
.header .login i.fa-lock {
  font-size: 2.2rem;
  padding-right: 10px;
}
.header .login .signoutLink {
  background-color: #144b96;
  color: #fff;
  float: right;
  margin-right: 15px;
}
.header .login .signoutLink:hover {
  background-color: #0e3469;
  color: #fff;
}
.header .login .login-toggle {
  cursor: pointer;
  display: inline-block;
  padding-right: 15px;
}
.header .login .login-toggle i.fa-caret-down,
.header .login .login-toggle i.fa-caret-up {
  padding-left: 5px;
}
.header .login .login-mini-form {
  display: none;
  background-color: #3f3f3f;
  padding: 15px 30px 15px 15px;
  position: absolute;
  right: 0;
  top: 45px;
  width: 300px;
  z-index: 999;
}
.header .login .login-mini-form table {
  width: 100%;
}
.header .login .login-mini-form label {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro Light', Helvetica, Arial, sans-serif;
  color: #a6a6a6;
  float: left;
}
.header .login .login-mini-form input {
  background-image: none !important;
  border-radius: 0;
  margin-bottom: 5px;
}
.header .login .login-mini-form input[type=submit] {
  background-color: #144b96;
  color: #fff;
  margin: 10px 0 0 0;
}
.header .login .login-mini-form input[type=submit]:hover {
  background-color: #0e3469;
  color: #fff;
}
/* Status Message */
statusmessage .alert-success .close {
  background-color: #dff0d8;
}
statusmessage .alert-success .close:hover {
  background-color: #dff0d8;
  color: #112111;
}
statusmessage .alert-warning .close {
  background-color: #fcf8e3;
}
statusmessage .alert-warning .close:hover {
  background-color: #fcf8e3;
  color: #312615;
}
/* Modals */
.modal-dialog .modal-footer {
  width: 598px;
}
.modal-dialog .modal-footer .btn {
  background-color: #a94442;
  color: #f2dede;
}
.modal-dialog .modal-footer .btn:hover,
.modal-dialog .modal-footer .btn:focus {
  background-color: #843534;
  color: #f2dede;
}
.modal-dialog .modal-footer .btn.btn-primary {
  background-color: #3c763d;
  color: #dff0d8;
}
.modal-dialog .modal-footer .btn.btn-primary:hover,
.modal-dialog .modal-footer .btn.btn-primary:focus {
  background-color: #2b542c;
  color: #dff0d8;
}
/* Loading */
.loading-message {
  bottom: 0;
  font-size: 5rem;
  height: 100%;
  padding-top: 300px;
  position: fixed;
  width: 100%;
}
/* Content */
.content {
  float: right;
}
.content .head i {
  display: inline-block;
  font-size: 3.6rem;
  margin-right: 15px;
}
.content .head h1 {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro Light', Helvetica, Arial, sans-serif;
}
.content .breadcrumbs {
  background-color: #efefef;
  font-size: 1.4rem;
  margin: 10px 0 20px 0;
  padding: 10px;
}
.content .breadcrumbs a,
.content .breadcrumbs i {
  padding-right: 10px;
}
.content .breadcrumbs i:first-child {
  padding-right: 5px;
}
.content .breadcrumbs a,
.content .breadcrumbs span {
  color: #3f3f3f;
}
/* Sidebar */
.sidebar {
  background-color: #3f3f3f;
  bottom: 0;
  height: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
}
.sidebar li {
  cursor: pointer;
}
.sidebar > ul {
  padding: 0;
}
.sidebar > ul > li {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro Light', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #666;
  list-style-type: none;
  position: relative;
}
.sidebar > ul > li i {
  color: #a6a6a6;
}
.sidebar > ul > li.CMSListMenuHighlightedLI {
  background: url('../APM/media/Images/icons/active-link.png') top 11px right no-repeat #144b96;
}
.sidebar > ul > li.CMSListMenuHighlightedLI a,
.sidebar > ul > li.CMSListMenuHighlightedLI i.fa-table {
  color: #fff;
}
.sidebar > ul > li.CMSListMenuHighlightedLI ul {
  background-color: #3f3f3f;
}
.sidebar > ul > li.CMSListMenuHighlightedLI ul a {
  color: #a6a6a6;
}
.sidebar > ul > li a {
  color: #a6a6a6;
  display: inline-block;
  padding: 10px 15px 10px 15px;
}
.sidebar > ul > li > ul {
  display: none;
  padding-left: 0;
}
.sidebar > ul > li > ul > li {
  padding-left: 40px;
}
.sidebar > ul > li > ul > li.hovered,
.sidebar > ul > li > ul > li.CMSListMenuHighlightedLI {
  background-color: #1f1f1f;
}
.sidebar > ul > li > ul > li.hovered a,
.sidebar > ul > li > ul > li.CMSListMenuHighlightedLI a {
  color: #fff;
}
.sidebar > ul > li > ul > li > a {
  padding: 5px 15px 5px 15px;
}
.sidebar > ul li.hovered {
  background-color: #144b96;
}
.sidebar > ul li.hovered a {
  color: #fff;
}
.sidebar > ul li.hovered i {
  color: #fff;
}
.sidebar > ul li.hovered ul {
  background-color: #3f3f3f;
}
.sidebar > ul li.hovered ul a {
  color: #a6a6a6;
}
.sidebar > ul > li:last-child {
  border: 0;
}
/* Night/Day Mode Toggle */
.mode-toggle {
  background-color: #1f1f1f;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px;
  position: fixed;
  right: 0;
  width: 16%;
}
.mode-toggle i {
  padding-right: 15px;
}
.mode-toggle:hover {
  color: #efefef;
}
/* Dashboard */
.dash .dashboard-grid ul {
  padding: 0;
}
.dash .dashboard-grid li {
  background-color: #144b96;
  cursor: pointer;
  display: inline-block;
  height: 142px;
  list-style-type: none;
  margin: 0 15px 3px 0;
  padding: 0 5px;
  width: 142px;
}
.dash .dashboard-grid li:hover,
.dash .dashboard-grid li.hovered {
  background-color: #1f1f1f;
}
.dash .dashboard-grid li a {
  color: #fff;
}
.dash .dashboard-grid li a i {
  display: block;
  font-size: 4.8rem;
  margin: 35px auto 5px auto;
  text-align: center;
  text-decoration: none !important;
}
.dash .dashboard-grid li a span {
  display: block;
  text-align: center;
}
.dash .dashboard-grid li a:hover {
  text-decoration: none;
}
.dash .dashboard-grid.content-grid li {
  display: block;
  float: left;
  height: 90px;
  width: 90px;
}
.dash .dashboard-grid.content-grid li i {
  font-size: 3rem;
  margin-top: 14px;
}
.dash .dashboard-grid.content-grid li span {
  font-size: 1.3rem;
}
/* Data */
.data-tables {
  /* cal picker */
  /* data pages */
  /* Forms */
}
.data-tables input.form-control {
  border-radius: 0;
}
.data-tables select {
  background-image: none !important;
  border-radius: 0;
}
.data-tables button.fa {
  background-image: none !important;
  border-radius: 0;
  background-color: transparent !important;
  border: 0;
  box-shadow: none;
  color: #3f3f3f;
  margin-left: 2px !important;
  padding: 5px;
  text-shadow: none;
}
.data-tables button.fa:hover {
  background-color: transparent !important;
  background-image: none !important;
  color: #666;
}
.data-tables .btn-info,
.data-tables .btn-default {
  background-color: #144b96;
  color: #fff;
}
.data-tables .btn-info {
  color: #fff !important;
}
.data-tables .btn-today {
  float: right;
}
.data-tables .btn-info:hover,
.data-tables .btn-default:hover {
  background-color: #0e3469;
}
.data-tables .dropdown-menu {
  border-radius: 0;
}
.data-tables .range-container .popover .popover-content .editableform .form-group .editable-input {
  border: 0 !important;
  width: 185px;
}
.data-tables .cal-picker,
.data-tables .editable-date {
  background-color: #fff;
  background-image: none;
}
.data-tables .cal-picker button,
.data-tables .editable-date button {
  color: #1f1f1f;
}
.data-tables .cal-picker table,
.data-tables .editable-date table {
  width: 100%;
}
.data-tables .cal-picker table thead tr:first-child,
.data-tables .editable-date table thead tr:first-child {
  border-bottom: 1px solid #efefef;
}
.data-tables .cal-picker table td.day.active,
.data-tables .editable-date table td.day.active,
.data-tables .cal-picker table td.day:hover,
.data-tables .editable-date table td.day:hover {
  background-image: none !important;
  border-radius: 0;
}
.data-tables .cal-picker table button,
.data-tables .editable-date table button {
  background-color: transparent !important;
  box-shadow: none;
}
.data-tables .cal-picker table button span,
.data-tables .editable-date table button span,
.data-tables .cal-picker table button strong,
.data-tables .editable-date table button strong {
  color: #3f3f3f;
}
.data-tables .cal-picker table button.active,
.data-tables .editable-date table button.active {
  background-color: #144b96 !important;
  text-shadow: none;
}
.data-tables .cal-picker table button.active .text-info,
.data-tables .editable-date table button.active .text-info,
.data-tables .cal-picker table button.active span,
.data-tables .editable-date table button.active span {
  color: #fff;
}
.data-tables .cal-picker.picker-right,
.data-tables .editable-date.picker-right {
  margin-top: 20px;
}
.data-tables .btn-today {
  float: right;
}
.data-tables .btn-right {
  margin-top: 20px;
  float: right;
}
.data-tables .data {
  font-size: 1.4rem;
}
.data-tables .data h2 {
  text-align: center;
  background-color: #fcfcfc;
  color: #3f3f3f;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0;
  padding: 10px 0;
  width: 100%;
}
.data-tables .data .top-row {
  margin-bottom: 10px;
}
.data-tables .data .mega-head > div {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro Semibold', Helvetica, Arial, sans-serif;
  background-color: #efefef;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}
.data-tables .data .mega-head > div:first-child {
  border-left: 1px solid #ccc;
}
.data-tables .data .mega-head > div:nth-child(even) {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.data-tables .data .mega-head > div a {
  color: #144b96;
}
.data-tables .data .mega-head > div a:hover {
  color: #0e3469;
}
.data-tables .data .mega-head > div form {
  border: 0;
}
.data-tables .data .mega-head > div form div {
  border: 0;
}
.data-tables .data .mega-head > div form div input[type=text] {
  width: 170px;
}
.data-tables .data .head-row .cell {
  font-size: 1.3rem;
}
.data-tables .data .head-row > div > div {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro Semibold', Helvetica, Arial, sans-serif;
  background-color: #efefef;
  border: 1px solid #ccc;
}
.data-tables .data .cargo-label {
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 5px;
}
.data-tables .data .cell {
  float: left;
  padding: 5px;
  width: 8%;
}
.data-tables .data .cell.cell-6 {
  width: 6%;
}
.data-tables .data .cell.cell-8 {
  width: 8%;
}
.data-tables .data .cell.cell-10 {
  width: 10%;
}
.data-tables .data .cell.cell-12 {
  width: 12%;
}
.data-tables .data .cell.cell-14 {
  width: 14%;
}
.data-tables .data .cell.cell-16 {
  width: 16%;
}
.data-tables .data .cell.cell-18 {
  width: 18%;
}
.data-tables .data .cell.cell-15 {
  width: 15%;
}
.data-tables .data .cell.cell-20 {
  width: 20%;
}
.data-tables .data .cell.cell-25 {
  width: 25%;
}
.data-tables .data .cell.cell-30 {
  width: 30%;
}
.data-tables .data .cell.cell-35 {
  width: 35%;
}
.data-tables .data .cell.cell-40 {
  width: 40%;
}
.data-tables .data .cell.cell-45 {
  width: 45%;
}
.data-tables .data .cell.cell-50 {
  width: 50%;
}
.data-tables .data .cell.cell-55 {
  width: 55%;
}
.data-tables .data .cell.cell-60 {
  width: 60%;
}
.data-tables .data .cell.cell-65 {
  width: 65%;
}
.data-tables .data .cell.cell-70 {
  width: 70%;
}
.data-tables .data .cell.cell-75 {
  width: 75%;
}
.data-tables .data .cell.cell-80 {
  width: 80%;
}
.data-tables .data .cell.cell-85 {
  width: 85%;
}
.data-tables .data .cell.cell-90 {
  width: 90%;
}
.data-tables .data .cell.cell-95 {
  width: 95%;
}
.data-tables .data .cell.cell-100 {
  width: 100%;
}
.data-tables .data .cell input[type=radio] {
  margin-right: 5px;
}
.data-tables .data .cell input[type=radio] + label {
  font-weight: 400;
  margin-right: 10px;
}
.data-tables .data .cell a.editable-empty {
  color: #7b694a;
  border-color: #cdc0ab;
}
.data-tables .data .cell a.editable-pre-wrapped {
  word-wrap: break-word;
  word-break: break-all;
  display: inline-block;
}
.data-tables .data .cell:first-child {
  padding-left: 5px;
}
.data-tables .data a {
  color: #3f3f3f;
  border-bottom: 1px dashed #ccc;
}
.data-tables .data a:hover {
  color: #0e3469;
}
.data-tables .data a.editable-disabled {
  border-bottom: none;
}
.data-tables .data a.editable-disabled:hover {
  color: #3f3f3f;
}
.data-tables .data .even > div > div {
  background-color: #efefef;
}
.data-tables .data .buttons button {
  color: #144b96;
}
.data-tables .data .buttons button:hover {
  color: #0e3469;
}
.data-tables .data .buttons button:first-child,
.data-tables .data .buttons .btn {
  background-color: #144b96;
  border-bottom: 0 !important;
  color: #fff;
  padding: 1px 5px;
}
.data-tables .data .buttons button:first-child:hover,
.data-tables .data .buttons .btn:hover {
  background-color: #0e3469;
  color: #fff;
}
.data-tables .data .buttons button:first-child:before {
  content: "save";
  font-size: 1.3rem;
}
.data-tables .data button.fa.fa-save,
.data-tables .data button.fa.fa-trash-o {
  color: #144b96;
}
.data-tables .data button.fa.fa-save:hover,
.data-tables .data button.fa.fa-trash-o:hover {
  color: #0e3469;
}
.data-tables .data .table-data {
  background-color: #fefefe;
  border: 1px solid #ccc;
  margin-top: 20px;
}
.data-tables .data .table-data h2.table-header {
  border-bottom: 1px solid #ccc;
  margin-top: 0;
}
.data-tables .data .table-data .row > div > div {
  border: 0;
}
.data-tables .data .table-data .editable-unsaved > div > div {
  background-color: #d2dff1;
}
.data-tables .data .table-data + .row {
  margin-top: 15px;
}
.data-tables .data .comment-row {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro Semibold', Helvetica, Arial, sans-serif;
  margin-top: 15px;
}
.data-tables .data .comment-row .h4 {
  margin-left: 5px;
}
.data-tables .data .comment-row pre {
  background-image: none !important;
  border-radius: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-top: 5px;
}
.data-tables .data .comment-row textarea {
  background-image: none !important;
  border-radius: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
.data-tables .data .comment-row .popover {
  width: 400px;
}
.data-tables .data .comment-row .popover textarea {
  width: 285px;
}
.data-tables .data .popover {
  border-radius: 0;
}
.data-tables .data .popover .popover-content div {
  border: 0;
}
.data-tables .data .popover input[type=number] {
  width: 200px;
}
.data-tables .data .popover .editable-clear {
  margin: 5px 10px;
}
.data-tables .data .popover .editable-clear-x {
  right: 5px !important;
}
.data-tables .data .popover .editable-buttons button {
  background-color: #144b96;
  color: #fff;
  height: 28px;
}
.data-tables .data .popover .editable-buttons button i {
  margin-right: 0;
}
.data-tables .data .popover .editable-input {
  border: 1px solid #ccc !important;
}
.data-tables .data .popover .editable-input .select2-container,
.data-tables .data .popover .editable-input .select2-drop,
.data-tables .data .popover .editable-input .select2-choice {
  background-color: #fff;
}
.data-tables .data .popover .editable-input .select2-container a,
.data-tables .data .popover .editable-input .select2-drop a,
.data-tables .data .popover .editable-input .select2-choice a {
  background-image: none;
  color: #3f3f3f !important;
  border: none;
}
.data-tables .data .popover .editable-input .select2-container a .select2-arrow,
.data-tables .data .popover .editable-input .select2-drop a .select2-arrow,
.data-tables .data .popover .editable-input .select2-choice a .select2-arrow {
  background-image: none;
  border: 0;
}
.data-tables .data .popover .editable-input .select2-container a .select2-arrow b,
.data-tables .data .popover .editable-input .select2-drop a .select2-arrow b,
.data-tables .data .popover .editable-input .select2-choice a .select2-arrow b {
  background-color: #fff;
  color: #3f3f3f !important;
}
.data-tables .data .popover .editable-input .select2-container {
  width: 225px;
}
.data-tables .data .popover .editable-input .datetimepicker .hour,
.data-tables .data .popover .editable-input .datetimepicker .minute {
  background-image: none !important;
  border-radius: 0;
}
.data-tables .data .popover .editable-input .datetimepicker .hour.active,
.data-tables .data .popover .editable-input .datetimepicker .minute.active {
  background-color: #144b96;
}
.data-tables .data .time-entry .popover {
  width: 290px;
}
.data-tables .data .time-entry .popover .editable-input {
  border: 0 !important;
}
.data-tables .data .time-entry .popover .editable-input select {
  height: 28px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.data-tables .form .table-form {
  background-color: #efefef;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 15px 0 0 0;
}
.data-tables .form .table-form .cal-picker {
  background-color: inherit;
}
.data-tables .form .table-form .input-group {
  margin-bottom: 0;
}
.data-tables .form .table-form select {
  margin-bottom: 15px;
}
.data-tables .form .table-form + .row button {
  margin-top: 15px;
}
/* Alerts */
.alert {
  background-image: none !important;
  border-radius: 0;
  border: 0;
  border-left: 5px solid #3c763d;
  margin: 15px 0;
}
.alert > div {
  font-size: 2rem;
}
.alert > div i {
  font-size: 2.2rem;
  margin-right: 10px;
}
.alert button {
  background-color: #3c763d;
  float: right;
  height: 100%;
  padding: 4px 10px;
}
.alert button:hover {
  background-color: #2b542c;
}
.alert.alert-warning {
  border-left: 5px solid #8a6d3b;
}
.alert.alert-warning button {
  background-color: #8a6d3b;
}
.alert.alert-warning button:hover {
  background-color: #66512c;
}
.alert.alert-danger {
  border-left: 5px solid #a94442;
}
.alert.alert-danger button {
  background-color: #a94442;
}
.alert.alert-danger button:hover {
  background-color: #843534;
}
/* Login Page */
.login-page {
  background-color: #1f1f1f;
}
.login-page .login-logo {
  display: block;
  margin: 40px auto 0 auto;
  width: 205px;
}
.login-page .DialogPosition {
  background-color: #fff;
  margin: 40px auto 0 auto;
  padding: 20px;
  width: 375px;
}
.login-page .DialogPosition > tbody {
  display: block;
  padding: 20px;
  width: 100%;
}
.login-page .DialogPosition td.login-td {
  position: relative;
}
.login-page .DialogPosition td.login-td i.fa-long-arrow-right {
  color: #fff;
  font-size: 2.4rem;
  position: absolute;
  right: 110px;
  top: 10px;
}
.login-page .DialogPosition td.login-td i.fa-user,
.login-page .DialogPosition td.login-td i.fa-lock {
  background-color: #144b96;
  color: #fff;
  font-size: 2.4rem;
  height: 45px;
  left: 0;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 45px;
}
.login-page .DialogPosition label,
.login-page .DialogPosition .checkbox {
  display: none;
}
.login-page .DialogPosition input {
  background-image: none !important;
  border-radius: 0;
  height: 45px;
  margin-bottom: 10px;
  width: 325px;
}
.login-page .DialogPosition input[type=text],
.login-page .DialogPosition input[type=password] {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro Light', Helvetica, Arial, sans-serif;
  color: #666;
  font-size: 1.6rem;
  padding-left: 55px;
}
.login-page .DialogPosition input[type=submit] {
  background-color: #144b96;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro Bold', Helvetica, Arial, sans-serif;
  font-size: 2.4rem;
  margin-bottom: 0;
  margin-top: -2px;
  padding-right: 40px;
  text-transform: uppercase;
}
.login-page .DialogPosition input[type=submit]:hover {
  background-color: #0e3469;
  color: #fff;
}
.login-page .DialogPosition span.form-control-error,
.login-page .DialogPosition span.ErrorLabel {
  color: #a94442;
  display: inline-block;
  padding-bottom: 10px;
  padding-left: 5px;
}
.login-page .DialogPosition a {
  color: #144b96;
  font-size: 1.4rem;
  margin-left: 5px;
  text-decoration: underline;
}
.login-page .DialogPosition a:hover {
  color: #0e3469;
  text-decoration: none;
}
/* Decklog Page */
.comment-safety-meeting a pre {
  color: red !important;
}
/* Select2 Styles */
.select2-drop {
  background-image: none !important;
  border-radius: 0;
}
.select2-drop.select2-drop-active {
  border-color: #144b96;
}
.select2-drop .select2-highlighted {
  background-color: #144b96;
}
/* Night Mode */
.night {
  background-color: #0f0f0f;
  color: #999;
}
.night .mode-toggle {
  color: #999;
}
.night .btn.primary-button {
  background-color: #213547;
  color: #6986a0;
  color: #6986a0 !important;
}
.night .btn.primary-button:hover {
  background-color: #111b24;
  color: #6986a0;
}
.night statusmessage .alert-success .close {
  background-color: #3c763d;
  color: #fcf8e3;
}
.night statusmessage .alert-success .close:hover {
  background-color: #3c763d;
  color: #93cd7c;
}
.night statusmessage .alert-warning .close {
  background-color: #8a6d3b;
  color: #fcf8e3;
}
.night statusmessage .alert-warning .close:hover {
  background-color: #8a6d3b;
  color: #f0db70;
}
.night .modal-dialog .modal-content {
  background-color: #333;
}
.night .modal-dialog .modal-header {
  border-bottom: 1px solid #555;
}
.night .modal-dialog .modal-footer {
  border-top: 1px solid #555;
}
.night .header {
  color: #999;
}
.night .header .login {
  color: #999;
}
.night .header .login .signoutLink {
  color: #6986a0;
  background-color: #213547;
}
.night .header .login .signoutLink:hover {
  background-color: #192836;
}
.night .header .login .trip-info {
  margin-right: 15px;
}
.night .header .login .trip-info a {
  color: #6986a0;
}
.night .header .login .login-mini-form input {
  background-color: #1f1f1f;
  border: #333;
  color: #999;
}
.night .header .login .login-mini-form input[type=submit] {
  background-color: #213547;
  color: #6986a0;
}
.night .header .login .login-mini-form input[type=submit]:hover {
  background-color: #192836;
}
.night .modal-dialog button,
.night .editable-buttons button {
  background-color: #213547;
  color: #6986a0;
}
.night .modal-dialog button:hover,
.night .editable-buttons button:hover {
  background-color: #111b24;
  color: #6986a0;
}
.night .breadcrumbs {
  background-color: #1f1f1f;
  color: #999;
}
.night .breadcrumbs a,
.night .breadcrumbs span {
  color: #999;
}
.night .sidebar > ul > li > ul > li.hovered,
.night .sidebar > ul > li > ul > li.CMSListMenuHighlightedLI {
  color: #6986a0;
  background-color: #192836;
}
.night .sidebar > ul > li > ul > li.hovered a,
.night .sidebar > ul > li > ul > li.CMSListMenuHighlightedLI a,
.night .sidebar > ul > li > ul > li.hovered i,
.night .sidebar > ul > li > ul > li.CMSListMenuHighlightedLI i {
  color: #6986a0;
}
.night .sidebar > ul > li:hover {
  background-color: #213547;
}
.night .sidebar > ul > li.CMSListMenuHighlightedLI {
  background: url('../APM/media/Images/icons/active-link-night.png') top 11px right no-repeat #213547;
}
.night .sidebar > ul > li.CMSListMenuHighlightedLI > a,
.night .sidebar > ul > li.CMSListMenuHighlightedLI > i {
  color: #6986a0;
}
.night .dash .dashboard-grid li {
  background-color: #213547;
}
.night .dash .dashboard-grid li:hover,
.night .dash .dashboard-grid li.hovered {
  background-color: #1f1f1f;
}
.night .dash .dashboard-grid li:hover a,
.night .dash .dashboard-grid li.hovered a {
  color: #999;
}
.night .dash .dashboard-grid li a {
  color: #6986a0;
}
.night .data-tables {
  /* cal picker */
  /* data pages */
  /* Forms */
}
.night .data-tables button.fa {
  color: #3f3f3f;
}
.night .data-tables button.fa:hover {
  color: #666;
}
.night .data-tables .btn-info,
.night .data-tables .btn-default {
  background-color: #213547;
  color: #6986a0;
}
.night .data-tables .btn-info {
  color: #6986a0 !important;
}
.night .data-tables .btn-info:hover,
.night .data-tables .btn-default:hover {
  background-color: #192836;
}
.night .data-tables .form-control {
  background-color: #3f3f3f;
  border: 0;
  color: #999;
}
.night .data-tables .cal-picker,
.night .data-tables .editable-date {
  background-color: #0f0f0f;
}
.night .data-tables .cal-picker .dropdown-menu,
.night .data-tables .editable-date .dropdown-menu {
  background-color: #3f3f3f;
}
.night .data-tables .cal-picker thead tr:first-child,
.night .data-tables .editable-date thead tr:first-child {
  border-bottom: 1px solid #999;
}
.night .data-tables .cal-picker thead tr:first-child th:hover,
.night .data-tables .editable-date thead tr:first-child th:hover {
  background-color: inherit;
}
.night .data-tables .cal-picker td.day.active,
.night .data-tables .editable-date td.day.active,
.night .data-tables .cal-picker td.day:hover,
.night .data-tables .editable-date td.day:hover {
  background-color: #213547;
  color: #6986a0;
}
.night .data-tables .cal-picker button,
.night .data-tables .editable-date button {
  color: #999;
}
.night .data-tables .cal-picker button span,
.night .data-tables .editable-date button span,
.night .data-tables .cal-picker button strong,
.night .data-tables .editable-date button strong {
  color: #999;
}
.night .data-tables .cal-picker button.active,
.night .data-tables .editable-date button.active {
  background-color: #213547 !important;
}
.night .data-tables .cal-picker button.active .text-info,
.night .data-tables .editable-date button.active .text-info,
.night .data-tables .cal-picker button.active span,
.night .data-tables .editable-date button.active span {
  color: #999;
}
.night .data-tables .data h2 {
  text-align: center;
  background-color: #1f1f1f;
  color: #999;
}
.night .data-tables .data .mega-head > div {
  background-color: #1f1f1f;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.night .data-tables .data .mega-head > div:first-child {
  border-left: 1px solid #333;
}
.night .data-tables .data .mega-head > div:nth-child(even) {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
.night .data-tables .data .mega-head > div a {
  color: #6986a0;
}
.night .data-tables .data .mega-head > div a:hover {
  color: #0e3469;
}
.night .data-tables .data .head-row > div > div {
  background-color: #1f1f1f;
}
.night .data-tables .data .head-row.special-head > div > div {
  background-color: #3f3f3f;
}
.night .data-tables .data .cell a.editable-empty {
  color: #7b694a;
  border-color: #8b7753;
}
.night .data-tables .data a {
  color: #999;
  border-bottom: 1px dashed #555;
}
.night .data-tables .data a:hover {
  color: #6986a0;
}
.night .data-tables .data a.editable-disabled {
  border-bottom: none;
}
.night .data-tables .data a.editable-disabled:hover {
  color: #999;
}
.night .data-tables .data .odd > div > div {
  background-color: #3f3f3f;
}
.night .data-tables .data .even > div > div {
  background-color: #1f1f1f;
}
.night .data-tables .data .buttons button {
  color: #6986a0;
}
.night .data-tables .data .buttons button:hover {
  color: #536c83;
}
.night .data-tables .data .buttons button:first-child,
.night .data-tables .data .buttons .btn {
  background-color: #6986a0;
  border: 0 !important;
  color: #213547;
  padding: 1px 5px;
}
.night .data-tables .data .buttons button:first-child:hover,
.night .data-tables .data .buttons .btn:hover {
  background-color: #536c83;
  color: #0f0f0f;
}
.night .data-tables .data .buttons button:first-child:before {
  content: "save";
  font-size: 1.3rem;
}
.night .data-tables .data button.fa.fa-save,
.night .data-tables .data button.fa.fa-trash-o {
  color: #6986a0;
}
.night .data-tables .data button.fa.fa-save:hover,
.night .data-tables .data button.fa.fa-trash-o:hover {
  color: #536c83;
}
.night .data-tables .data .table-data {
  background-color: #1f1f1f;
  border: 1px solid #333;
}
.night .data-tables .data .table-data h2.table-header {
  border-bottom: 1px solid #333;
}
.night .data-tables .data .table-data .editable-unsaved > div > div {
  background-color: #354654;
}
.night .data-tables .data .popover {
  background-color: #3f3f3f;
}
.night .data-tables .data .popover .arrow {
  background-color: transparent;
}
.night .data-tables .data .popover .arrow:after {
  background-color: transparent;
  border-bottom-color: #3f3f3f;
  border-top-color: #3f3f3f;
}
.night .data-tables .data .popover .popover-title {
  background-color: #1f1f1f;
  border-bottom: 1px solid #333;
}
.night .data-tables .data .popover .editable-buttons button {
  background-color: #213547;
  color: #6986a0;
}
.night .data-tables .data .popover .editable-input {
  border: 1px solid #999 !important;
}
.night .data-tables .data .popover .editable-input .select2-container,
.night .data-tables .data .popover .editable-input .select2-drop,
.night .data-tables .data .popover .editable-input .select2-choice {
  background-image: none !important;
  border-radius: 0;
  background-color: #333;
}
.night .data-tables .data .popover .editable-input .select2-container a,
.night .data-tables .data .popover .editable-input .select2-drop a,
.night .data-tables .data .popover .editable-input .select2-choice a {
  color: #999 !important;
}
.night .data-tables .data .popover .editable-input .select2-container a .select2-arrow b,
.night .data-tables .data .popover .editable-input .select2-drop a .select2-arrow b,
.night .data-tables .data .popover .editable-input .select2-choice a .select2-arrow b {
  background-color: #333;
  color: #999 !important;
}
.night .data-tables .data .popover .editable-input .datetimepicker .hour.active,
.night .data-tables .data .popover .editable-input .datetimepicker .minute.active,
.night .data-tables .data .popover .editable-input .datetimepicker .hour:hover,
.night .data-tables .data .popover .editable-input .datetimepicker .minute:hover {
  background-color: #213547;
}
.night .data-tables .data .comment-row pre {
  background-color: #3f3f3f;
  border-color: #3f3f3f;
  color: #999;
}
.night .data-tables .data .datetimepicker {
  background-image: none !important;
  border-radius: 0;
}
.night .data-tables .form .table-form {
  background-color: #0f0f0f;
  border: 1px solid #3f3f3f;
}
.night .data-tables .form .table-form .cal-picker {
  background-color: inherit;
}
.night .alert {
  background-color: #3c763d;
  border-left: 5px solid #dff0d8;
  color: #dff0d8;
}
.night .alert button {
  background-color: #dff0d8;
  color: #3c763d;
}
.night .alert button:hover {
  background-color: #c1e2b3;
}
.night .alert.alert-warning {
  background-color: #8a6d3b;
  border-left: 5px solid #fcf8e3;
  color: #fcf8e3;
}
.night .alert.alert-warning button {
  background-color: #fcf8e3;
  color: #8a6d3b;
}
.night .alert.alert-warning button:hover {
  background-color: #f7ecb5;
}
.night .alert.alert-danger {
  background-color: #a94442;
  border-left: 5px solid #f2dede;
  color: #f2dede;
}
.night .alert.alert-danger button {
  background-color: #f2dede;
  color: #a94442;
}
.night .alert.alert-danger button:hover {
  background-color: #e4b9b9;
}
.night .select2-drop {
  background-color: #333;
  color: #999;
}
.night .select2-drop.select2-drop-active {
  border-color: #213547;
  color: #6986a0;
}
.night .select2-drop .select2-highlighted {
  background-color: #213547;
  color: #6986a0;
}
#ng-app {
  padding-bottom: 100px;
}
#printSection {
  visibility: hidden;
  display: none;
}