﻿
/* VARIABLES */

/* Colors */
@primary: #144b96;
@primary-lt: lighten(@primary, 35%);
@gray-lt: #efefef;
@gray: #ccc;
@gray-md: #666;
@gray-dk: #3f3f3f;
@blk: #1f1f1f;
@wht: #fff;

/* Night Mode Colors */
@ni-primary: #213547;
@ni-primary-lt: #6986a0;
@ni-gray-lt: #999;
@ni-gray-lt2: #a6a6a6;
@ni-gray: #555;
@ni-gray-dk: #333;
@ni-blk: #0f0f0f;

/* Alert Colors */
@success: #3c763d;
@success-lt: #dff0d8;
@warning: #8a6d3b;
@warning-lt: #fcf8e3;
@danger: #a94442;
@danger-lt: #f2dede;

@default-cell-width: 8%;

/* MIXINS */

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.flatten {
    background-image :none !important;
    border-radius: 0;
}

.primary-btn {
    background-color: @primary;
    color: @wht;
}

.primary-btn-hover {
    background-color: darken(@primary, 10%);
    color: @wht;
}

/* Night Mode */

.ni-primary-btn {
    background-color: @ni-primary;
    color: @ni-primary-lt;
}

.ni-primary-btn-hover {
    background-color: darken(@ni-primary, 10%);
    color: @ni-primary-lt;
}

/* Font */

.smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sourcesans {
    .smoothing;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.sourcesans-lt {
    .smoothing;
    font-family: 'Source Sans Pro Light', Helvetica, Arial, sans-serif;
}

.sourcesans-sb {
    .smoothing;
    font-family: 'Source Sans Pro Semibold', Helvetica, Arial, sans-serif;
}

.sourcesans-b {
    .smoothing;
    font-family: 'Source Sans Pro Bold', Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'Dancing Script';
  src: url('../_framework/fonts/DancingScript-Regular.ttf');
}

.dancing-script {
    .smoothing;
    font-family: 'Dancing Script', Georgia !important;
}

/* DEFAULTS */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, body > form {
    height: 100%;
}

body {
    .sourcesans;
    background-color: @ni-blk;
    color: @gray-dk;
    font-size: 16px;
}

body.day {
    background-color: @wht;
}

a {color: @primary;}

p {
    line-height: 1.5em;
}

h2 {
    .sourcesans-lt;}

button.btn, button, .btn {
    .flatten;
    background-color: @wht;
    border: 0;
    border-radius: 0;
    text-shadow: none;
    i {
        display: inline-block;
        margin-right: 5px;
    }
}

button.btn:hover, button:hover, .btn:hover {
    border: 0;
}

.btn.primary-button {
    .primary-btn;
    border-bottom: 0 !important;
    color: @wht !important;
    &:hover {
        .primary-btn-hover;
    }
}

.btn.button-inline {margin-right: 5px;}

.clear {clear: both;}

.m-left {margin-left: 10px;}

.modal-dialog, .editable-buttons {
    button {
        .primary-btn;
        &:hover {
            .primary-btn-hover;
        }
    }
}

.signature > span, .signature > a, .signature pre {
    .dancing-script;
}

/* STYLES */

.container-full {
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}

.content-wrapper {
    display: inline-block;
    margin: 0;
    min-height: 100%;
    position: relative;
    width: 100%;
}

/* Header */

.header {
    background-color: @blk;
    color: @wht;
    .logo-container {
        display: inline;
        .logo-img {
            padding: 10px 15px;
        }
    }
    .vessel-name {
        .sourcesans-sb;
        border-left: 1px solid @gray-dk;
        display: inline-block;
        font-size: 1.8rem;
        padding-left: 15px;
        position: absolute;
        top: 13px;
    }
    /* login */
    .login {
        display: inline-block;
        font-size: 1.8rem;
        padding-bottom: 10px;
        padding-top: 10px;
        position: relative;
        text-align: right;
        .trip-info {
            margin-right: 15px;
            a {
                color: @primary-lt;
            }
        }
        .user-name {
            display: inline-block;
            margin-top: 5px;
            padding-right: 15px;
        }
        i.fa-user, i.fa-flag, i.fa-lock {
            font-size: 2.2rem;
            padding-right: 10px;
        }
        .signoutLink {
            .primary-btn;
            float: right;
            margin-right: 15px;
            &:hover {
                .primary-btn-hover;
            }
        }
        .login-toggle {
            cursor: pointer;
            display: inline-block;
            padding-right: 15px;
            i.fa-caret-down, i.fa-caret-up {
                padding-left: 5px;
            } 
        }
        .login-mini-form {
            display: none;
            background-color: @gray-dk;
            padding: 15px 30px 15px 15px;
            position: absolute;
            right: 0;
            top: 45px;
            width: 300px;
            z-index: 999;
            table {
                width: 100%;
            }
            label {
                .sourcesans-lt;
                color: lighten(@gray-md, 25%);
                float: left; 
            }
            input {
                .flatten;
                margin-bottom: 5px;
            }
            input[type=submit] {
                .primary-btn;
                margin: 10px 0 0 0;
                &:hover {
                    .primary-btn-hover;
                }
            }
        }
    }
}

/* Status Message */

statusmessage {
    .alert-success .close {
        background-color: @success-lt;
        &:hover {
            background-color: @success-lt;
            color: darken(@success, 25%);
        }
    }
    .alert-warning .close {
        background-color: @warning-lt;
        &:hover {
            background-color: @warning-lt;
            color: darken(@warning, 25%);
        }
    }
}

/* Modals */

.modal-dialog {
    .modal-footer {
        width: 598px;
        .btn {
            background-color: @danger;
            color: @danger-lt;
            &:hover, &:focus {
                background-color: darken(@danger, 10%);
                color: @danger-lt;
            }
        }
        .btn.btn-primary {
            background-color: @success;
            color: @success-lt;
            &:hover, &:focus {
                background-color: darken(@success, 10%);
                color: @success-lt;
            }
        }
    }
}

/* Loading */

.loading-message {
    bottom: 0;
    font-size: 5rem;
    height: 100%;
    padding-top: 300px;
    position: fixed;
    width: 100%;
}

/* Content */

.content {
    float: right;
    //position: relative;
    .head {
        i {
            display: inline-block;
            font-size: 3.6rem;
            margin-right: 15px;
        }
        h1 {
            display: inline-block;
            .sourcesans-lt;
        }

    }

    .breadcrumbs {
        background-color: @gray-lt;
        font-size: 1.4rem;
        margin: 10px 0 20px 0;
        padding: 10px;
        a, i {padding-right: 10px;}
        i:first-child {padding-right: 5px;}
        a, span {
            color: @gray-dk;
        }
    }
}

/* Sidebar */

.sidebar {
    background-color: @gray-dk;
    bottom: 0;
    height: 100%;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    li {cursor: pointer;}
    >ul {
        padding: 0;

        >li {
            .sourcesans-lt;
            border-bottom: 1px solid @gray-md;
            list-style-type: none;
            position: relative;

            i {
                color: lighten(@gray-md, 25%);
            }

            &.CMSListMenuHighlightedLI {
                background: url('../APM/media/Images/icons/active-link.png') top 11px right no-repeat @primary;
                a, i.fa-table {
                    color: @wht;
                }
                ul {
                    background-color: @gray-dk;
                    a {
                        color: lighten(@gray-md, 25%);
                    }
                }
            }
            a {
                color: lighten(@gray-md, 25%);
                display: inline-block;
                padding: 10px 15px 10px 15px;
            }
            >ul {
                display: none;
                padding-left: 0;
                >li {
                    padding-left: 40px;
                    &.hovered, &.CMSListMenuHighlightedLI {
                        background-color: @blk;
                        a {color: @wht;}
                    }
                    >a {
                        padding: 5px 15px 5px 15px;
                    }
                }
            }
        } //end >li

        li.hovered {
                background-color: @primary;

                a {
                    color: @wht;
                }
                i {color: @wht;}
                ul {
                    background-color: @gray-dk;
                    a {
                        color: lighten(@gray-md, 25%);
                    }
                }
            }

            >li:last-child {
                border: 0;
            }
    }
} //end sidebar

/* Night/Day Mode Toggle */
.mode-toggle {
    background-color: @blk;
    bottom: 0;
    color: @wht;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px;
    position: fixed;
    right: 0;
    width: 16%;
    i {
        padding-right: 15px;
    }
    &:hover {
        color: @gray-lt;
    }
}

/* Dashboard */
.dash {
    .dashboard-grid {
        ul {
            padding: 0;
        }
            li {
                background-color: @primary;
                cursor: pointer;
                display: inline-block;
                height: 142px;
                list-style-type: none;
                margin: 0 15px 3px 0;
                padding: 0 5px;
                width: 142px;

                &:hover, &.hovered {background-color: @blk;}

                a {
                    color: @wht;

                    i {
                        display: block;
                        font-size: 4.8rem;
                        margin: 35px auto 5px auto;
                        text-align: center;
                        text-decoration: none !important;
                    }

                    span {
                        display: block;
                        text-align: center;
                    }
                }

                    a:hover {
                        text-decoration: none;
                    }
            }
        &.content-grid {
            li {
                display: block;
                float: left;
                height: 90px;
                width: 90px;
                i {
                    font-size: 3rem;
                    margin-top: 14px;
                }
                span {
                    font-size: 1.3rem;
                }
            }
        }
    }
}  //End dashboard

/* Data */

.data-tables {
    input.form-control {
        border-radius: 0;
    }

    select {.flatten;}

    button.fa {
        .flatten;
        background-color: transparent !important;
        border: 0;
        box-shadow: none;
        color: @gray-dk;
        margin-left: 2px !important;
        padding: 5px;
        text-shadow: none;
    }

        button.fa:hover {
            background-color: transparent !important;
            background-image: none !important;
            color: @gray-md;
        }

    .btn-info, .btn-default {
        background-color: @primary;
        color: @wht;
    }
    .btn-info {
        color: @wht !important;
    }

    .btn-today {
        float: right;
    }
    //.btn-today {float: right;}
    .btn-info:hover, .btn-default:hover {
        background-color: darken(@primary, 10%);
    }

    .dropdown-menu {
        border-radius: 0;
    }

    .range-container .popover .popover-content .editableform .form-group .editable-input {
        border: 0 !important;
        width: 185px;
    }

    /* cal picker */

    .cal-picker, .editable-date {
        background-color: @wht;
        background-image: none;
        button {
            color: @blk;
        }
        table {
            width: 100%;

            thead tr:first-child {
                border-bottom: 1px solid @gray-lt;
            }

            td.day.active, td.day:hover {
                .flatten;
            }

            button {
                background-color: transparent !important;
                box-shadow: none;

                span, strong {
                    color: @gray-dk;
                }
            }

                button.active {
                    background-color: @primary !important;
                    text-shadow: none;

                    .text-info, span {
                        color: @wht;
                    }
                }
        }
        &.picker-right {margin-top: 20px;}
    } //end cal-picker

    .btn-today {float: right;}
    .btn-right {margin-top: 20px; float: right;}

    /* data pages */

    .data {
        font-size: 1.4rem;

        h2 {
            .center;
            background-color: #fcfcfc;
            color: @gray-dk;
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 0;
            padding: 10px 0;
            width: 100%;
        }

        .top-row {
            margin-bottom: 10px;
        }

        .mega-head {
            >div {
                .sourcesans-sb;
                background-color: @gray-lt;
                border-top: 1px solid @gray;
                border-bottom: 1px solid @gray;
                padding: 5px;

                &:first-child {
                    border-left: 1px solid @gray;
                }

                &:nth-child(even) {
                    border-left: 1px solid @gray;
                    border-right: 1px solid @gray;
                }

                a {
                    color: @primary;

                    &:hover {
                        color: darken(@primary, 10%);
                    }
                }

                form {
                    border: 0;

                    div {
                        border: 0;

                        input[type=text] {
                            width: 170px;
                        }
                    }
                }
            }
        }
        //end mega-head
        .head-row {
            .cell {
                font-size: 1.3rem;
            }
        }

            .head-row > div > div {
                .sourcesans-sb;
                background-color: @gray-lt;
                border: 1px solid @gray;
            }
        .cargo-label {
            font-size: 1.8rem;
            font-weight: 400;
            margin-top: 5px;
        }
        .cell {
            float: left;
            padding: 5px;
            width: @default-cell-width;

            .generate-cells(18);
            .generate-cells(@n, @i: 6) when (@i =< @n) {
              &.cell-@{i} {
                width: (@i * 1%);
              }
              .generate-cells(@n, (@i + 2));
            }

            .generate-cells5(100);
            .generate-cells5(@n, @i: 15) when (@i =< @n) {
              &.cell-@{i} {
                width: (@i * 1%);
              }
              .generate-cells5(@n, (@i + 5));
            }

            input[type=radio] {
                margin-right: 5px;
            }

            input[type=radio]+label {
                font-weight: 400;
                margin-right: 10px;
            }
            a.editable-empty {
                color: desaturate(@warning, 15%);
                border-color: lighten(desaturate(@warning, 15%), 35%);
            }
            a.editable-pre-wrapped {
                word-wrap: break-word;
                word-break: break-all;
                display: inline-block;
            }
        }
        .cell:first-child {
            padding-left: 5px;
        }
        a {
            color: @gray-dk;
            border-bottom: 1px dashed @gray;
            &:hover {
                color: darken(@primary, 10%);
            }
            &.editable-disabled {
                border-bottom: none;
                &:hover {color: @gray-dk;}
            }
        }

        .even > div > div {
            background-color: @gray-lt;
        }

        .buttons {
            button {
                color: @primary;
                &:hover {
                    color: darken(@primary, 10%);
                }
            }
            button:first-child, .btn {
                background-color: @primary;
                border-bottom: 0 !important;
                color: @wht;
                padding: 1px 5px;
                &:hover {
                    background-color: darken(@primary, 10%);
                    color: @wht;
                }
            }
            button:first-child:before {
                content: "save";
                font-size: 1.3rem;
            }
        }

        button.fa.fa-save, button.fa.fa-trash-o {
            color: @primary;

            &:hover {
                color: darken(@primary, 10%);
            }
        }

        .table-data {
            background-color: #fefefe;
            border: 1px solid @gray;
            margin-top: 20px;
            h2.table-header {
                border-bottom: 1px solid @gray;
                margin-top: 0;
            }
            .row >div >div {border: 0;}
            .editable-unsaved >div >div {
                background-color: desaturate(lighten(@primary, 55%), 25%);
            }
        }
        .table-data + .row {margin-top: 15px;}

        .comment-row {
            .sourcesans-sb;
            margin-top: 15px;
            .h4 {
                margin-left: 5px;
            }
            pre {
                .flatten;
                .sourcesans;
                font-style: normal;
                font-weight: normal;
                margin-top: 5px;
            }

            textarea {
                .flatten;
                .sourcesans;
            }

            .popover {
                width: 400px;

                textarea {
                    width: 285px;
                }
            }
        }

        .popover {
            border-radius: 0;

            .popover-content div {
                border: 0;
            }

            input[type=number] {
                width: 200px;
            }

            .editable-clear {
                margin: 5px 10px;
            }

            .editable-clear-x {
                right: 5px !important;
            }

            .editable-buttons {
                button {
                    background-color: @primary;
                    color: @wht;
                    height: 28px;

                    i {
                        margin-right: 0;
                    }
                }
            }

            .editable-input {
                border: 1px solid @gray !important;

                .select2-container, .select2-drop, .select2-choice {
                    background-color: @wht;

                    a {
                        background-image: none;
                        color: @gray-dk !important;
                        border: none;

                        .select2-arrow {
                            background-image: none;
                            border: 0;

                            b {
                                background-color: @wht;
                                color: @gray-dk!important;
                            }
                        }
                    }
                }
                .select2-container {
                    width: 225px;
                }
                .datetimepicker .hour, .datetimepicker .minute {
                    .flatten;
                    &.active {background-color: @primary;}
                }
            }//end editable-input
        }//end popover
        .time-entry .popover {
            width: 290px;

            .editable-input {
                border: 0 !important;

                select {
                    height: 28px;
                    padding-top: 2px;
                    padding-bottom: 2px;
                }
            }
        }
    }//End data

     /* Forms */
     .form {
         .table-form {
             background-color: @gray-lt;
             border: 1px solid @gray;
             display: inline-block;
             padding: 15px 0 0 0;
             .cal-picker {
                 background-color: inherit;
             }
             .input-group {margin-bottom: 0;}
             select {margin-bottom: 15px;}
        }//end table-form
        .table-form + .row button {margin-top: 15px;}
     }//end form
} //End data tables

/* Alerts */

.alert {
    .flatten;
    border: 0;
    border-left: 5px solid @success;
    margin: 15px 0;
    >div {
        font-size: 2rem;
        i {
            font-size: 2.2rem;
            margin-right: 10px;
        }
    }
    button {
        background-color: @success;
        float: right;
        height: 100%;
        padding: 4px 10px;
        &:hover {
            background-color: darken(@success, 10%);
        }
    }
    &.alert-warning {
        border-left: 5px solid @warning;
        button {
            background-color: @warning;
            &:hover {
                background-color: darken(@warning, 10%);
            }
        }
    }
    &.alert-danger {
        border-left: 5px solid @danger;
        button {
            background-color: @danger;
            &:hover {
                background-color: darken(@danger, 10%);
            }
        }
    }
} //end alert

/* Login Page */
.login-page {
    background-color: @blk;
    .login-logo {
        display: block;
        margin: 40px auto 0 auto;
        width: 205px;
    }
    .DialogPosition {
        background-color: @wht;
        margin: 40px auto 0 auto;
        padding: 20px;
        width: 375px;
        >tbody {
            display: block;
            padding: 20px;
            width: 100%;
        }
        td.login-td {
            position: relative;
            i.fa-long-arrow-right {
                color: @wht;
                font-size: 2.4rem;
                position: absolute;
                right: 110px;
                top: 10px;
            }
            i.fa-user, i.fa-lock {
                background-color: @primary;
                color: @wht;
                font-size: 2.4rem;
                height: 45px;
                left: 0;
                padding-top: 10px;
                position: absolute;
                text-align: center;
                top: 1px;
                width: 45px;
            }
        }
        label, .checkbox {
            display: none;
        }
        input {
            .flatten;
            height: 45px;
            margin-bottom: 10px;
            width: 325px;
        }
        input[type=text], input[type=password] {
            .sourcesans-lt;
            color: @gray-md;
            font-size: 1.6rem;
            padding-left: 55px;
        }
        input[type=submit] {
            .primary-btn;
            .sourcesans-b;
            font-size: 2.4rem;
            margin-bottom: 0;
            margin-top: -2px;
            padding-right: 40px;
            text-transform: uppercase;
            &:hover {
                .primary-btn-hover;
            }
        }
        span.form-control-error, span.ErrorLabel {
            color: @danger;
            display: inline-block;
            padding-bottom: 10px;
            padding-left: 5px;
        }
        a {
            color: @primary;
            font-size: 1.4rem;
            margin-left: 5px;
            text-decoration: underline;
            &:hover {
                color: darken(@primary, 10%);
                text-decoration: none;
            }
        }
    }
}
/* Decklog Page */
.comment-safety-meeting {
    a {
        pre {
            color: red !important;
        }
    }
}

/* Select2 Styles */
.select2-drop {
    .flatten;
    &.select2-drop-active {
        border-color: @primary;
    }
    .select2-highlighted {
        background-color: @primary;
    }
}

/* Night Mode */
.night {
    background-color: @ni-blk;
    color: @ni-gray-lt;
    .mode-toggle {
        color: @ni-gray-lt;
    }
    .btn.primary-button {
        .ni-primary-btn;
        color: @ni-primary-lt !important;
    &:hover {
        .ni-primary-btn-hover;
    }
    
}
    statusmessage {
        .alert-success .close {
            background-color: @success;
            color: @warning-lt;
            &:hover {
                background-color: @success;
                color: darken(@success-lt, 25%);
            }
        }
        .alert-warning .close {
            background-color: @warning;
            color: @warning-lt;
            &:hover {
                background-color: @warning;
                color: darken(@warning-lt, 25%);
            }
        }
    }
    .modal-dialog {
        .modal-content {
            background-color: @ni-gray-dk;
        }
        .modal-header {
            border-bottom: 1px solid @ni-gray;
        }
        .modal-footer {
            border-top: 1px solid @ni-gray;
        }
    }
    .header {
        color: @ni-gray-lt;
        .login {
            color: @ni-gray-lt;
            .signoutLink {
                color: @ni-primary-lt;
                background-color: @ni-primary;
                &:hover {background-color: darken(@ni-primary, 5%);}
            }
            .trip-info {
                margin-right: 15px;
                a {
                    color: @ni-primary-lt;
                }
            }
            .login-mini-form {
                input {
                    background-color: @blk;
                    border: @ni-gray-dk;
                    color: @ni-gray-lt;
                }
                input[type=submit] {
                    background-color: @ni-primary;
                    color: @ni-primary-lt;
                    &:hover {background-color: darken(@ni-primary, 5%);}
                }
            }
        }
    }
    .modal-dialog, .editable-buttons {
        button {
            .ni-primary-btn;
            &:hover {
                .ni-primary-btn-hover;
            }
        }
    }
    .breadcrumbs {
        background-color: @blk;
        color: @ni-gray-lt;
        a, span {color: @ni-gray-lt;}
    }
    .sidebar > ul {
        >li >ul >li {
            &.hovered, &.CMSListMenuHighlightedLI {
                color: @ni-primary-lt;
                background-color: darken(@ni-primary, 5%);
                a, i {
                    color: @ni-primary-lt;
                }
            }
        }
        >li:hover {background-color: @ni-primary;}
        >li.CMSListMenuHighlightedLI {
            >a, >i {
                color: @ni-primary-lt;
            }
            background: url('../APM/media/Images/icons/active-link-night.png') top 11px right no-repeat @ni-primary;
        }
    } //End sidebar
    .dash {
        .dashboard-grid {
            li {
            background-color: @ni-primary;
            &:hover, &.hovered {
                background-color: @blk;
                a {
                    color: @ni-gray-lt;
                }
            }
                a {
                    color: @ni-primary-lt;
                }
            }
        }
    }  //End dashboard
    .data-tables {
        button.fa {
            color: @gray-dk;
        }

            button.fa:hover {
                color: @gray-md;
            }

        .btn-info, .btn-default {
            background-color: @ni-primary;
            color: @ni-primary-lt;
        }

        .btn-info {
            color: @ni-primary-lt !important;
        }

        .btn-info:hover, .btn-default:hover {
            background-color: darken(@ni-primary, 5%);
        }
        .form-control {
            background-color: @gray-dk;
            border: 0;
            color: @ni-gray-lt;
        }

        /* cal picker */

        .cal-picker, .editable-date {
            background-color: @ni-blk;
                .dropdown-menu {
                    background-color: @gray-dk;
                }
                thead tr:first-child {
                    border-bottom: 1px solid @ni-gray-lt;
                    th:hover {
                        background-color: inherit;
                    }
                }

                td.day.active, td.day:hover {
                    background-color: @ni-primary;
                    color: @ni-primary-lt;
                }
                button {
                    color: @ni-gray-lt;
                    span, strong {
                        color: @ni-gray-lt;
                    }
                }

                    button.active {
                        background-color: @ni-primary !important;

                        .text-info, span {
                            color: @ni-gray-lt;
                        }
                    }
        } //end cal-picker

        /* data pages */

        .data {
            h2 {
                .center;
                background-color: @blk;
                color: @ni-gray-lt;
            }

            .mega-head {
                >div {
                    background-color: @blk;
                    border-top: 1px solid @ni-gray-dk;
                    border-bottom: 1px solid @ni-gray-dk;

                    &:first-child {
                        border-left: 1px solid @ni-gray-dk;
                    }

                    &:nth-child(even) {
                        border-left: 1px solid @ni-gray-dk;
                        border-right: 1px solid @ni-gray-dk;
                    }

                    a {
                        color: @ni-primary-lt;

                        &:hover {
                            color: darken(@primary, 10%);
                        }
                    }
                }
            } //end mega-head

            .head-row > div > div {
                background-color: @blk;
                //border-bottom: 1px solid @ni-gray-dk;
            }

            .head-row.special-head > div > div {
                background-color: @gray-dk;
            }

            .cell {
                a.editable-empty {
                    color: desaturate(@warning, 15%);
                    border-color: lighten(desaturate(@warning, 15%), 5%);
                }
            }
            a {
                color: @ni-gray-lt;
                border-bottom: 1px dashed @ni-gray;
                &:hover {
                    color: @ni-primary-lt;
                }
                &.editable-disabled {
                    border-bottom: none;
                    &:hover {color: @ni-gray-lt;}
                }
            }

            .odd > div > div {
                background-color: @gray-dk;
            }

            .even > div > div {
                background-color: @blk;
            }

            .buttons {
                button {
                    color: @ni-primary-lt;
                    &:hover {
                        color: darken(@ni-primary-lt, 10%);
                    }
                }
                button:first-child, .btn {
                    background-color: @ni-primary-lt;
                    border: 0 !important;
                    color: @ni-primary;
                    padding: 1px 5px;
                    &:hover {
                        background-color: darken(@ni-primary-lt, 10%);
                        color: @ni-blk;
                    }
                }
                button:first-child:before {
                    content: "save";
                    font-size: 1.3rem;
                }
            }

            button.fa.fa-save, button.fa.fa-trash-o {
                color: @ni-primary-lt;

                &:hover {
                    color: darken(@ni-primary-lt, 10%);
                }
            }

            .table-data {
                background-color: @blk;
                border: 1px solid @ni-gray-dk;
                h2.table-header {
                    border-bottom: 1px solid @ni-gray-dk;
                }
                .editable-unsaved >div >div {
                    background-color: darken(@ni-primary-lt, 25%);
                }
            }

            .popover {
                background-color: @gray-dk;
                .arrow {background-color: transparent;}
                .arrow:after {
                    background-color: transparent;
                    border-bottom-color: @gray-dk;
                    border-top-color: @gray-dk;
                }
                .popover-title {
                    background-color: @blk;
                    border-bottom: 1px solid @ni-gray-dk
                }
                .editable-buttons {
                    button {
                        background-color: @ni-primary;
                        color: @ni-primary-lt;
                    }
                }

                .editable-input {
                    border: 1px solid @ni-gray-lt !important;

                    .select2-container, .select2-drop, .select2-choice {
                        .flatten;
                        background-color: @ni-gray-dk;

                        a {
                            color: @ni-gray-lt  !important;

                            .select2-arrow {

                                b {
                                    background-color: @ni-gray-dk;
                                    color: @ni-gray-lt!important;
                                }
                            }
                        }
                    }
                    .datetimepicker .hour, .datetimepicker .minute {
                        &.active, &:hover {background-color: @ni-primary;}
                    }
                }//end editable-input
            }//end popover
            .comment-row {
                pre {
                    background-color: @gray-dk;
                    border-color: @gray-dk;
                    color: @ni-gray-lt;
                }
            } //end comment-row
            .datetimepicker {
                .flatten;
            }
        }//End data

         /* Forms */
         .form {
             .table-form {
                 background-color: @ni-blk;
                 border: 1px solid @gray-dk;
                 .cal-picker {
                     background-color: inherit;
                 }
            }//end table-form
         }//end form
    } //End data tables
    
    .alert {
        background-color: @success;
        border-left: 5px solid @success-lt;
        color: @success-lt;
        button {
            background-color: @success-lt;
            color: @success;
                &:hover {
                    background-color: darken(@success-lt, 10%);
                }
        }
        &.alert-warning {
            background-color: @warning;
            border-left: 5px solid @warning-lt;
            color: @warning-lt;
            button {
                background-color: @warning-lt;
                color: @warning;
                &:hover {
                    background-color: darken(@warning-lt, 10%);
                }
            }
        }
        &.alert-danger {
            background-color: @danger;
            border-left: 5px solid @danger-lt;
            color: @danger-lt;
            button {
                background-color: @danger-lt;
                color: @danger;
                &:hover {
                    background-color: darken(@danger-lt, 10%);
                }
            }
        }
    }

    .select2-drop {
        background-color: @ni-gray-dk;
        color: @ni-gray-lt;
        &.select2-drop-active {
            border-color: @ni-primary;
            color: @ni-primary-lt;
        }
        .select2-highlighted {
            background-color: @ni-primary;
            color: @ni-primary-lt;
        }
    } //end select2-drop
}//end night mode

#ng-app {
  padding-bottom: 100px;
}

#printSection {visibility: hidden; display: none;}