﻿@media print {
    
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        display: block;
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }

    .sidebar { visibility:hidden; }

    button, .btn {visibility: hidden; display: none !important;}

    .cal-picker, .btn-today {visibility: hidden; display: none !important;}

}

