<section id="ballastlog" class="data log ballast">
    <div class="row">
        <div class="cal-picker col-lg-3 col-lg-offset-8">
            <p class="input-group">
                <input type="text" class="form-control" show-button-bar="false" datepicker-popup="MM/yyyy"
                       ng-model="page.viewDate" is-open="page.isDatePickerOpened" datepicker-options="page.dateOptions"
                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default fa fa-calendar" ng-click="page.openDatePicker($event)"></button>
                </span>
            </p>
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-info btn-today" ng-click="page.today()">Today</button>
        </div>
    </div>
    <section class="table-data {{ballastLog.classname}}">
        <div class="head-row row">
            <div class="col-lg-12">
                <div>
                    <div class="cell" ng-show="page.security.modify && page.trip.IsCurrent"></div>
                    <div class="cell">Trip #</div>
                    <div class="cell">Load Date</div>
                    <div class="cell-10 cell">Cargo Type</div>
                    <div class="cell">Flash Point</div>
                    <div class="cell-12 cell">Ballast Discharge</div>
                    <div class="cell-10 cell">Unload Date</div>
                    <div class="cell-16 cell">Cargo Specific Gravity</div>
                    <div class="cell-20 cell">Load Dock</div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div ng-repeat="log in ballastLog.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
            <div class="col-lg-12">
                <div>
                    <!-- Action Buttons -->
                    <div class="buttons cell" ng-show="page.security.modify && page.trip.IsCurrent">
                        <button type="button" class="btn" ng-class="{'btn-primary': log.ItemID === 0}"
                                ng-click="ballastLog.Save(log, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                        <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="ballastLog.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                    </div>
                    <div class="cell">                        
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.TripNumber"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                           data-placeholder="Trip Number"
                           data-value="{{log.TripNumber}}" data-source="{{page.tripNumbers}}"
                           data-save="ballastLog.Save(log)"
                           tabindex="{{$index}}3">{{ page.showLookupData('TripInformation', log, log.TripNumber) }}</a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.BallastLogLoadDate"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom"
                           data-apm-date
                           data-placeholder="Load Date"
                           data-value="{{log.BallastLogLoadDate | date:page.dateFormat}}"
                           data-save="ballastLog.Save(log)"
                           tabindex="{{$index}}4">{{log.BallastLogLoadDate | date:page.dateFormat}}</a>
                    </div>
                    <div class="cell-10 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.BallastLogCargoType"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-type="select2"
                           data-placeholder="Cargo Type"
                           data-value="{{log.BallastLogCargoType}}" data-source="{{page.cargoTypes}}"
                           data-save="ballastLog.Save(log)"                           
                           tabindex="{{$index}}5">{{ page.showLookupData('CargoType', log, log.BallastLogCargoType) }}</a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.BallastLogFlashPoint"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-apm-number
                           data-placeholder="Flash Point"
                           data-value="{{ log.BallastLogFlashPoint }}"
                           data-save="ballastLog.Save(log)"
                           tabindex="{{$index}}6">{{ log.BallastLogFlashPoint }}</a>
                    </div>
                    <div class="cell-12 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.BallastLogDischarge"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-apm-number
                           data-placeholder="Discharge"
                           data-value="{{ log.BallastLogDischarge }}"
                           data-save="ballastLog.Save(log)"
                           tabindex="{{$index}}7">{{ log.BallastLogDischarge }}</a>
                    </div>
                    <div class="cell-10 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.BallastLogUnloadDate"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom"
                           data-apm-date
                           data-placeholder="Unload Date"
                           data-value="{{log.BallastLogUnloadDate | date:page.dateFormat }}"
                           data-save="ballastLog.Save(log)"
                           tabindex="{{$index}}8">{{log.BallastLogUnloadDate | date:page.dateFormat }}</a>
                    </div>
                    <div class="cell-16 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.BallastLogCargoGravity"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-type="text"
                           data-placeholder="Cargo Gravity"
                           data-value="{{ log.BallastLogCargoGravity }}"
                           data-save="ballastLog.Save(log)"
                           tabindex="{{$index}}9">{{ log.BallastLogCargoGravity }}</a>
                    </div>
                    <div class="cell-20 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.BallastLogLoadDock"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-type="select2"
                           data-placeholder="Load Dock"
                           data-value="{{log.BallastLogLoadDock}}" data-source="{{page.terminalDocks}}"
                           data-save="ballastLog.Save(log)"
                           tabindex="{{$index}}10">{{ page.showLookupData('TerminalDockName', log, log.BallastLogLoadDock) }}</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section><!--/table-data-->
    <div class="row" ng-show="page.security.create">
        <div class="col-lg-12">
            <button type="button" class="btn btn-default" ng-click="ballastLog.Insert()" ng-show="page.isToday()"><i class="fa fa-plus"></i> Add Log Entry</button>
        </div>
    </div>
    <statusmessage></statusmessage>
</section>