<section id="cargo" class="data log cargo">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-4 form-group">
            <div class="row">
                <div class="col-xs-6 right">
                    <label class="control-label cargo-label" for="vtripnumber" ng-show="load.hasLoad"><a href="/cargo/load#/view/{{page.viewTripNumber}}" class="btn primary-button button-inline">View Load</a> for Trip Number:</label>
                    <label class="control-label cargo-label" ng-show="!load.hasLoad" for="vtripnumber"><a href="/cargo/load#/view/{{page.viewTripNumber}}" class="btn primary-button button-inline">Create Load</a> for Trip Number:</label>
                </div>
                <div class="col-xs-6">
                    <select id="vtripnumber" class="form-control"
                            ng-model="page.viewTripNumber"
                            ng-options="v.id as v.text for v in page.trips"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <section class="table-data {{discharges.classname}}">
            <h2 class="table-header">Trip Discharge</h2>
            <div class="head-row row">
                <div class="col-lg-12">
                    <div>
                        <div class="cell-6 cell" ng-show="page.security.modify && page.trip.IsCurrent"></div>
                        <div class="cell-90 cell">Discharge Dock</div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div ng-repeat="item in discharges.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
                <div class="col-lg-12">
                    <div>
                        <!-- Action Buttons -->
                        <div class="buttons cell-6 cell" ng-show="page.security.modify && page.trip.IsCurrent">
                            <button type="button" class="btn" ng-class="{'btn-primary': item.ItemID === 0}"
                                    ng-click="discharges.Save(item, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                            <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="discharges.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                        </div>
                        <div class="cell-80 cell">
                            <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoDischargeTerminal"
                               data-pk="{{item.ItemID}}"
                               data-placement="bottom" data-type="select2"
                               data-placeholder="Discharge Dock"
                               data-value="{{item.CargoDischargeTerminal}}" data-source="{{page.terminalDocks}}"
                               data-save="discharges.Save(item)"
                               tabindex="{{$index}}9">{{ page.showLookupData('TerminalDockName', item, item.CargoDischargeTerminal) }}</a>
                        </div>
                        <div class="buttons cell-10 cell" ng-show="item.ItemID !==0">
                            <a href="/cargo/discharge#/view/{{item.ItemID}}" class="btn">View / Edit</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </section>
        <div class="row" ng-show="page.security.create && load.hasLoad">
            <div class="col-lg-12">
                <button type="button" class="btn btn-default" ng-click="discharges.Insert()"><i class="fa fa-plus"></i> Add Discharge Dock</button>
            </div>
        </div>
        <div class="row" ng-show="!load.hasLoad">
            <div class="col-lg-12">
                <em>You must create a load before you can add a discharge.</em>
            </div>
        </div>
      </div>
    </div>
    <statusmessage></statusmessage>
</section>