<section id="crewingchange" class="data log crew">
    <div class="row">
        <div class="clear"></div>
        <div class="col-lg-6">
            <section class="table-data {{nextCrewChange.classname}}">
                <h2 class="table-header">Next Crew Change</h2>
                <div class="head-row row">
                    <div class="col-lg-12">
                        <div>
                            <div class="cell-15 cell" ng-show="page.security.modify && page.trip.IsCurrent"></div>
                            <div class="cell-25 cell">Date/Time</div>
                            <div class="cell-45 cell">Location</div>
                            <div class="cell-10 cell center">Complete</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="next in nextCrewChange.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
                    <div class="col-lg-12">
                        <div>
                            <!-- Action Buttons -->
                            <div class="cell-15 cell buttons" ng-show="page.security.modify && page.trip.IsCurrent">
                                <button type="button" class="btn" ng-class="{'btn-primary': next.ItemID === 0}"
                                        ng-click="nextCrewChange.Save(next, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                                <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="nextCrewChange.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                            </div>
                            <div class="cell-25 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="next.NextCrewChangeDateTime"
                                   data-pk="{{next.ItemID}}"
                                   data-placement="bottom"
                                   data-apm-datetime
                                   data-placeholder="Next Crew Change Date/Time"
                                   data-value="{{next.NextCrewChangeDateTime | date:page.dateFormat}}"
                                   data-save="nextCrewChange.Save(next)"
                                   tabindex="{{$index}}3">{{next.NextCrewChangeDateTime | date:page.dateFormat}}</a>
                            </div>
                            <div class="cell-45 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="next.NextCrewChangeLocation"
                                   data-pk="{{next.ItemID}}"
                                   data-placement="bottom" data-type="textarea"
                                   data-placeholder="Next Crew Change Location"
                                   data-value="{{ next.NextCrewChangeLocation }}"
                                   data-save="nextCrewChange.Save(next)"
                                   tabindex="{{$index}}7">{{ next.NextCrewChangeLocation }}</a>
                            </div>
                            <div class="cell-10 cell center">                              
                                <input type="checkbox"
                                       data-pk="{{next.ItemID}}"
                                       data-ng-model="next.NextCrewChangeComplete"
                                       data-ng-change="nextCrewChange.Save(next)"
                                       tabindex="{{$index}}7" />
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row" ng-show="page.security.create">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default" ng-click="nextCrewChange.Insert()"><i class="fa fa-plus"></i> Add Next Crew Change Entry</button>
                </div>
            </div>
        </div>
    </div>
    <statusmessage></statusmessage>
</section>

