<section id="currentcrew" class="data log currentcrew">
    <div class="row">
        <div class="clear"></div>
        <div class="picker-right cal-picker col-lg-3 col-lg-offset-8">
            <p class="input-group">
                <input type="text" class="form-control" show-button-bar="false" datepicker-popup="{{page.dateFormat}}"
                       ng-model="page.viewDate" is-open="page.isDatePickerOpened" datepicker-options="page.dateOptions"
                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default fa fa-calendar" ng-click="page.openDatePicker($event)"></button>
                </span>
            </p>
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-info btn-right" ng-click="page.today()">Today</button>
        </div>
        <div class="col-lg-12">
            <section class="table-data {{currentcrew.classname}}">
                <div class="head-row row">
                    <div class="col-lg-12">
                        <div>
                            <div class="cell-10 cell" ng-show="page.security.modify && page.trip.IsCurrent"></div>
                            <div class="cell-15 cell">Name</div>
                            <div class="cell-15 cell">Role</div>                           
                            <div class="cell-6 cell">Hours Worked</div>  
                            <div class="cell-6 cell">Hours Rested</div>  
                            <div class="cell-8 cell center">Time and a half</div>
                            <div class="cell-8 cell center">Arriving Today?</div>
                            <div class="cell-8 cell center">Departing Today?</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="crew in currentcrew.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
                    <div class="col-lg-12">
                        <div>
                            <!-- Action Buttons -->
                            <div class="buttons cell-10 cell" ng-show="page.security.modify && page.trip.IsCurrent">
                                <button type="button" class="btn" ng-class="{'btn-primary': crew.ItemID === 0}"
                                        ng-click="currentcrew.Save(crew, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                                <button type="button" ng-show="crew.ItemID === 0" class="btn btn-danger fa fa-trash-o" ng-click="currentcrew.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                            </div>
                            <div class="cell-15 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="crew.CurrentCrewUserGUID"
                                   data-pk="{{crew.ItemID}}"
                                   data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                   data-placeholder="Select Employee"
                                   data-value="{{crew.CurrentCrewUserGUID}}" data-source="{{page.employees}}"
                                   data-save="currentcrew.Save(crew, $index)"
                                   tabindex="{{$index}}3">
                                    {{ page.showLookupData('Employee', crew, crew.CurrentCrewUserGUID) }}
                                </a>
                            </div>
                            <div class="cell-15 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="crew.CurrentCrewRole"
                                   data-pk="{{crew.ItemID}}"
                                   data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                   data-placeholder="Select Role"
                                   data-value="{{crew.CurrentCrewRole}}" data-source="{{page.roles}}"
                                   data-save="currentcrew.Save(crew, $index)"
                                   tabindex="{{$index}}4">{{ page.showLookupData('Role', crew, crew.CurrentCrewRole) }}</a>
                            </div>
                            <div class="cell-6 cell">
                                <a href="#" editable="{{page.security.role | inArray : 'Captain' }}" data-ng-model="crew.CurrentCrewHoursWorked"
                                   data-pk="{{crew.ItemID}}"
                                   data-placement="bottom" data-apm-hours
                                   data-placeholder="Hours Worked"
                                   data-value="{{crew.CurrentCrewHoursWorked}}"
                                   data-save="currentcrew.Save(crew, $index)"
                                   tabindex="{{$index}}5">{{crew.CurrentCrewHoursWorked}}</a>
                            </div>
                            <div class="time-entry cell-6 cell">
                                {{crew.CurrentCrewHoursRested}}</a>
                            </div>                            
                            <div class="cell-8 cell center">
                                <input ng-disabled="{{page.security.role | notInArray : 'Captain' }}" type="checkbox"
                                    data-pk="{{crew.ItemID}}"
                                    data-ng-model="crew.CurrentCrewTimeAndAHalf"
                                       data-ng-change="currentcrew.IsSaved(crew, $index)"
                                    tabindex="{{$index}}6" />
                            </div>
                            <div class="cell-8 cell center">
                                <input ng-disabled="{{page.security.role | notInArray : 'Captain'}}" type="checkbox"
                                    data-pk="{{crew.CurrentCrewIsArrivingToday}}"
                                    data-ng-model="crew.CurrentCrewIsArrivingToday"
                                       data-ng-change="currentcrew.IsSaved(crew, $index)"
                                    tabindex="{{$index}}7" />
                            </div>
                            <div class="cell-8 cell center">
                                <input ng-disabled="{{page.security.role | notInArray : 'Captain'}}" type="checkbox"
                                       data-pk="{{crew.CurrentCrewIsDepartingToday}}"
                                       data-ng-model="crew.CurrentCrewIsDepartingToday"
                                       data-ng-change="currentcrew.IsSaved(crew, $index)"
                                       tabindex="{{$index}}8" />
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row" ng-show="page.security.create">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default" ng-click="currentcrew.Insert()"><i class="fa fa-plus"></i> Add Current Crew Entry</button>
                </div>
            </div>
        </div>
    </div>
    <statusmessage></statusmessage>
</section>