<div id="decklogprint" class="data-tables">
<section id="decklog" class="data log deck">    
    <div class="top-row row">
        <div class="col-lg-8">
            <div class="mega-head" ng-repeat="log in deckLog.data" ng-if="$first">
                <div class="col-lg-3">
                    Date: {{ (log.DeckLogDateTime | date:'MM/dd/yyyy') | uppercase }}
                </div>
                <div class="col-lg-4">
                    Current MARSEC Level:
                    <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DeckLogMARSECLevel"
                       data-pk="{{log.ItemID}}"
                       data-placement="bottom" data-type="text"
                       data-placeholder="MARSEC Level"
                       data-value="{{log.DeckLogMARSECLevel}}"
                       data-save="deckLog.Save(log)"
                       tabindex="{{$index}}2">{{log.DeckLogMARSECLevel}}</a>
                </div>
                <div class="col-lg-2">
                    Distance Run:
                    <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DeckLogDTG"
                       data-save="deckLog.Save(log)" data-pk="{{log.ItemID}}"
                       data-placement="bottom" data-apm-number
                       data-placeholder="DTG" data-value="{{log.DeckLogDTG}}"
                       tabindex="{{$index}}3">{{ log.DeckLogDTG }}</a>
                </div>
                <div class="col-lg-3">
                    Trip #: {{ page.trip.TripNumber }}
                </div>
            </div>
        </div>
        <div class="cal-picker col-lg-3">
            <p class="input-group">
                <input type="text" class="form-control" show-button-bar="false" datepicker-popup="{{page.dateFormat}}" ng-model="page.viewDate"
                       is-open="page.isDatePickerOpened" datepicker-options="page.dateOptions" date-disabled="disabled(date, mode)"
                       ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default fa fa-calendar" ng-click="page.openDatePicker($event)"></button>
                </span>
            </p>
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-info btn-today" ng-click="page.today()">Today</button>
        </div>
    </div>
    <section class="table-data {{deckLogEntry.classname}}">
        <div class="row head-row">
            <div class="col-lg-12">
                <div>
                    <div class="cell" ng-show="page.security.modify && page.trip.IsCurrent"></div>
                    <div class="cell-6 cell">Time</div>
                    <div class="cell">Position</div>
                    <div class="cell-10 cell">Wind Direction</div>
                    <div class="cell">Wind Speed</div>
                    <div class="cell">Barometric<br/> Pressure</div>
                    <div class="cell">Sea State</div>
                    <div class="cell">P-RPM</div>
                    <div class="cell">S-RPM</div>
                    <div class="cell">Vessel Speed</div>
                    <div class="cell">Vessel Course</div>
                    <div class="cell-24 cell">Comments</div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div ng-repeat="log in deckLogEntry.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
            <div class="col-lg-12">
                <div>
                    <!-- Action Buttons -->
                    <div class="buttons cell" ng-show="page.security.modify && page.trip.IsCurrent">
                        <button type="button" class="btn" ng-class="{'btn-primary': log.ItemID === 0}"
                                ng-click="deckLogEntry.Save(log, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                        <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deckLogEntry.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                    </div>
                    <div class="time-entry cell-6 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DeckLogEntryTime"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom"
                           data-apm-time
                           data-placeholder="Select Time"
                           data-value="{{log.DeckLogEntryTime | date:'HH:mm'}}"
                           data-save="deckLogEntry.Save(log)"
                           tabindex="{{$index}}3">{{log.DeckLogEntryTime | date:'HH:mm'}}</a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DeckLogEntryPosition"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-type="text"
                           data-placeholder="Position"
                           data-value="{{log.DeckLogEntryPosition}}"
                           data-save="deckLogEntry.Save(log)"
                           tabindex="{{$index}}4">{{log.DeckLogEntryPosition}}</a>
                    </div>
                    <div class="cell-10 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DeckLogEntryWindDirection"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                           data-placeholder="Wind Direction"
                           data-value="{{log.DeckLogEntryWindDirection}}" data-source="{{page.windDirections}}"
                           data-save="deckLogEntry.Save(log)"
                           tabindex="{{$index}}5">{{ page.showLookupData('WindDirection', log, log.DeckLogEntryWindDirection) }}</a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DeckLogEntryWindSpeed"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                           data-placeholder="Wind Speed"
                           data-value="{{log.DeckLogEntryWindSpeed}}" data-source="{{page.windSpeeds}}"
                           data-save="deckLogEntry.Save(log)"
                           tabindex="{{$index}}6">{{ page.showLookupData('WindSpeed', log, log.DeckLogEntryWindSpeed) }}</a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DeckLogEntryBarometricPressure"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-apm-number
                           data-placeholder="Barometric Pressure"
                           data-value="{{log.DeckLogEntryBarometricPressure}}"
                           data-save="deckLogEntry.Save(log)"
                           tabindex="{{$index}}7">{{ log.DeckLogEntryBarometricPressure }}</a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DeckLogEntrySeaState"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                           data-placeholder="Sea State"
                           data-value="{{log.DeckLogEntrySeaState}}" data-source="{{page.seaStates}}"
                           data-save="deckLogEntry.Save(log)"
                           tabindex="{{$index}}8">{{ page.showLookupData('SeaState', log, log.DeckLogEntrySeaState) }}</a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DeckLogEntryRPM"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom"  data-apm-number
                           data-placeholder="PRPM"
                           data-value="{{log.DeckLogEntryRPM}}"
                           data-save="deckLogEntry.Save(log)"
                           tabindex="{{$index}}9">{{log.DeckLogEntryRPM}}</a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DeckLogEntrySRPM"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-apm-number
                           data-placeholder="SRPM"
                           data-value="{{log.DeckLogEntrySRPM}}"
                           data-save="deckLogEntry.Save(log)"
                           tabindex="{{$index}}10">{{log.DeckLogEntrySRPM}}</a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DeckLogEntryVesselSpeed"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-type="text"
                           data-placeholder="Vessel Speed"
                           data-value="{{ log.DeckLogEntryVesselSpeed }}"
                           data-save="deckLogEntry.Save(log)"
                           tabindex="{{$index}}11">{{ log.DeckLogEntryVesselSpeed }}</a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DeckLogEntryVesselCourse"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-apm-number
                           data-placeholder="Vessel Course"
                           data-value="{{ log.DeckLogEntryVesselCourse }}"
                           data-save="deckLogEntry.Save(log)"
                           tabindex="{{$index}}12">{{ log.DeckLogEntryVesselCourse }}</a>
                    </div>
                    <div class="cell-24 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DeckLogEntryComments"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-type="textarea"
                           data-placeholder="Comments"
                           data-value="{{log.DeckLogEntryComments}}"
                           data-save="deckLogEntry.Save(log)"
                           tabindex="{{$index}}13">{{ log.DeckLogEntryComments }}</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section><!--/table-data-->
    <div class="row">
        <div class="col-lg-12">
            <button type="button" ng-show="page.security.create" class="btn btn-default" ng-click="deckLogEntry.Insert()" ng-show="page.isToday()"><i class="fa fa-plus"></i> Add Log Entry</button>
            <button type="button" class="btn btn-default m-left" ng-click="deckLogEntry.PrintDeckLog()"><i class="fa fa-print"></i> Print Decklog</button>
        </div>
    </div>    
    <!-- Additional Comment s -->
    <div class="row comment-row">
        <div class="col-lg-12 h4">
            Additional Comments
        </div>
        <div class="col-lg-12" ng-repeat="log in deckLog.data" ng-if="$first">
            <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DeckLogAdditionalComments"
                data-pk="{{log.ItemID}}"
                data-placement="top" data-type="textarea" data-rows="7" data-cols="100"
                data-placeholder="Comments"
                data-value="{{log.DeckLogAdditionalComments}}"
                data-save="deckLog.Save(log)"
                tabindex="500"><pre>{{ log.DeckLogAdditionalComments || 'Click to enter comments' }}</pre></a>
        </div>
    </div>
    <!-- Arrival/Departure Checklist -->
    <div class="row comment-row">
        <div class="col-lg-12 h4">
            Steering gear, telephones, whistles, engine controls all tested and found to be in good condition.
        </div>
        <div class="col-lg-2" ng-repeat="log in deckLog.data" ng-if="$first">
            <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DeckLogArriveDepartCheckDateTime"
               data-pk="{{log.ItemID}}"
               data-placement="top" data-apm-datetime
               data-placeholder="Date/Time"
               data-value="{{log.DeckLogArriveDepartCheckDateTime | date:'MM/dd/yyyy HH:mm'}}"
               data-default="{{page.currentDateTime()}}"
               data-save="deckLog.Save(log)"
               tabindex="499"><pre>{{log.DeckLogArriveDepartCheckDateTime || 'Enter Date/Time'}}</pre></a>
        </div>
        <div class="col-lg-2 signature" ng-repeat="log in deckLog.data" ng-if="$first">
            <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DeckLogArriveDepartCheckSignature"
               data-pk="{{log.ItemID}}"
               data-placement="top" data-type="text"
               data-placeholder="Signature"
               data-value="{{log.DeckLogArriveDepartCheckSignature}}"               
               data-save="deckLog.Save(log)"
               tabindex="499"><pre>{{ log.DeckLogArriveDepartCheckSignature || 'Click to Sign' }}</pre></a>
        </div>
    </div>
    <!-- Safety Meeting -->
    <div class="row comment-row">
        <div class="col-lg-12 h4">
            Safety Meeting
        </div>
        <div class="col-lg-2" ng-repeat="log in deckLog.data" ng-if="$first">
            <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DeckLogSafetyMeetingDateTime"
               data-pk="{{log.ItemID}}"
               data-placement="top" data-apm-datetime
               data-placeholder="Date/Time"
               data-value="{{log.DeckLogSafetyMeetingDateTime | date:'MM/dd/yyyy HH:mm'}}"
               data-default="{{page.currentDateTime()}}"
               data-save="deckLog.Save(log)"
               tabindex="499"><pre>{{log.DeckLogSafetyMeetingDateTime || 'Enter Date/Time'}}</pre></a>
        </div>
        <div class="col-lg-12 comment-safety-meeting" ng-repeat="log in deckLog.data" ng-if="$first">
            <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DeckLogSafetyMeetingComments"
               data-pk="{{log.ItemID}}"
               data-placement="top" data-type="textarea" data-rows="7" data-cols="100"
               data-placeholder="Safety Meeting Comments"
               data-value="{{log.DeckLogSafetyMeetingComments}}"
               data-save="deckLog.Save(log)"
               tabindex="500"><pre>{{ log.DeckLogSafetyMeetingComments || 'Click to enter comments' }}</pre></a>
        </div>
    </div>
    <!-- Captain's Signature -->
    <div class="row comment-row">
        <div class="col-lg-12 h4">
            Captain's Signature
        </div>
        <div class="col-lg-2 signature" ng-repeat="log in deckLog.data" ng-if="$first">
            <a href="#" editable="{{ page.security.role | inArray : 'Captain' }}" data-ng-model="log.DeckLogSignature"
                data-pk="{{log.ItemID}}"
                data-placement="top" data-type="text"
                data-placeholder="Captain's Signature"
                data-value="{{log.DeckLogSignature}}"
                data-save="deckLog.Save(log)"
                tabindex="501"><pre>{{ log.DeckLogSignature || 'Click to Sign' }}</pre></a>
        </div>
    </div>
    <statusmessage></statusmessage>
</section>
</div>