﻿<section id="downtime" class="data log downtime">
    <div class="row">
        <div class="cal-picker col-lg-3 col-lg-offset-8">
            <p class="input-group">
                <input type="text" class="form-control" show-button-bar="false" datepicker-popup="yyyy"
                       ng-model="page.viewDate" is-open="page.isDatePickerOpened" datepicker-options="page.dateOptions"
                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default fa fa-calendar" ng-click="page.openDatePicker($event)"></button>
                </span>
            </p>
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-info btn-today" ng-click="page.today()">Today</button>
        </div>
    </div>
    <section class="table-data {{downtime.classname}}">
        <div class="head-row row">
            <div class="col-lg-12">
                <div>
                    <div class="cell" ng-show="page.security.modify && page.trip.IsCurrent"></div>
                    <div class="cell">Trip #</div>
                    <div class="cell-10 cell">Delay Start</div>
                    <div class="cell-10 cell">Delay End</div>
                    <div class="cell-6 cell">Length</div>
                    <div class="cell">Delay Type</div>
                    <div class="cell">Boat Type</div>
                    <div class="cell">Position</div>
                    <div class="cell-30 cell">Reason</div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div ng-repeat="log in downtime.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
            <div class="col-lg-12">
                <div>
                    <!-- Action Buttons -->
                    <div class="buttons cell" ng-show="page.security.modify && page.trip.IsCurrent">
                        <button type="button" class="btn" ng-class="{'btn-primary': log.ItemID === 0}"
                                ng-click="downtime.Save(log, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                        <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="downtime.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.TripNumber"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                           data-placeholder="Trip Number"
                           data-value="{{log.TripNumber}}" data-source="{{page.tripNumbers}}"
                           data-save="downtime.Save(log)"
                           tabindex="{{$index}}3">{{ page.showLookupData('TripInformation', log, log.TripNumber) }}</a>
                    </div>
                    <div class="cell-10 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DowntimeDateTimeStart"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom"
                           data-apm-datetime
                           data-placeholder="Delay Start"
                           data-value="{{log.DowntimeDateTimeStart | date:page.datetimePickerOpts.format}}"
                           data-save="downtime.Save(log)"
                           tabindex="{{$index}}3">{{log.DowntimeDateTimeStart | date:page.datetimePickerOpts.format}}</a>
                    </div>
                    <div class="cell-10 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DowntimeDateTimeEnd"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom"
                           data-apm-datetime
                           data-placeholder="Delay End"
                           data-value="{{log.DowntimeDateTimeEnd | date:page.datetimePickerOpts.format}}"
                           data-save="downtime.Save(log)"
                           tabindex="{{$index}}4">{{log.DowntimeDateTimeEnd | date:page.datetimePickerOpts.format}}</a>
                    </div>
                    <div class="cell cell-6">
                        {{ log.DowntimeLength }}
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DowntimeDelayType"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-type="select2"
                           data-placeholder="Delay Type"
                           data-value="{{log.DowntimeDelayType}}" data-source="{{page.downtimeDelayTypes}}"
                           data-save="downtime.Save(log)"
                           tabindex="{{$index}}5">{{ page.showLookupData('DowntimeDelayType', log, log.DowntimeDelayType) }}</a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DownTimeBoatType"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-type="select2"
                           data-placeholder="Boat Type"
                           data-value="{{log.DownTimeBoatType}}" data-source="{{page.boatTypes}}"
                           data-save="downtime.Save(log)"
                           tabindex="{{$index}}6">{{ page.showLookupData('BoatType', log, log.DownTimeBoatType) }}</a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DowntimePosition"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-type="text"
                           data-placeholder="Position"
                           data-save="downtime.Save(log)"
                           data-value="{{log.DowntimePosition}}"
                           tabindex="{{$index}}7">{{ log.DowntimePosition }}</a>
                    </div>
                    <div class="cell-30 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.DowntimeReason"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-type="textarea"
                           data-placeholder="Reason"
                           data-save="downtime.Save(log)"
                           data-value="{{log.DowntimeReason}}"
                           tabindex="{{$index}}8">{{ log.DowntimeReason }}</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section><!--/table-data-->
        <div class="row" ng-show="page.security.create">
            <div class="col-lg-12">
                <button type="button" class="btn btn-default" ng-click="downtime.Insert()" ng-show="page.isToday()"><i class="fa fa-plus"></i> Add Log Entry</button>
            </div>
        </div>
        <statusmessage></statusmessage>
</section>