<section id="fcclog" class="data log fcc">
    <div class="row">
        <div class="cal-picker col-lg-3 col-lg-offset-8">
            <p class="input-group">
                <input type="text" class="form-control" show-button-bar="false" datepicker-popup="{{page.dateFormat}}"
                       ng-model="page.viewDate" is-open="page.isDatePickerOpened" datepicker-options="page.dateOptions"
                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default fa fa-calendar" ng-click="page.openDatePicker($event)"></button>
                </span>
            </p>
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-info btn-today" ng-click="page.today()">Today</button>
        </div>
    </div>
    <section class="table-data {{fccLog.classname}}">
        <div class="head-row row">
            <div class="col-lg-12">
                <div>
                    <div class="cell" ng-show="page.security.modify && page.trip.IsCurrent"></div>
                    <div class="cell-12 cell">Date/Time</div>
                    <div class="cell-16 cell">Base Stations Contacted</div>
                    <div class="cell-16 cell">Duration of Transmission</div>
                    <div class="cell-16 cell">Remarks</div>
                    <div class="cell-16 cell">Operator On Duty</div>
                    <div class="cell-16 cell">Signature</div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div ng-repeat="log in fccLog.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}" onaftersave="">
            <div class="col-lg-12">
                <div>
                    <!-- Action Buttons -->
                    <div class="buttons cell" ng-show="page.security.modify && page.trip.IsCurrent">
                        <button type="button" class="btn" ng-class="{'btn-primary': log.ItemID === 0}"
                                ng-click="fccLog.Save(log, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                        <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="fccLog.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                    </div>
                    <div class="cell-12 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.FCCOperatorLogDateTime"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom"
                           data-apm-time
                           data-placeholder="Select Time"
                           data-value="{{log.FCCOperatorLogDateTime | date:'HH:mm'}}"
                           data-save="fccLog.Save(log)"
                           tabindex="{{$index}}3">{{log.FCCOperatorLogDateTime | date:'HH:mm'}}</a>
                    </div>
                    <div class="cell-16 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.FCCOperatorLogBaseStations"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-type="textarea"
                           data-placeholder="Base Stations Contacted"
                           data-save="fccLog.Save(log)"
                           tabindex="{{$index}}4">{{ log.FCCOperatorLogBaseStations }}</a>
                    </div>
                    <div class="cell-16 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.FCCOperatorLogTransmissionDuration"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-apm-number
                           data-placeholder="Transmission Duration"
                           data-save="fccLog.Save(log)"
                           tabindex="{{$index}}5">{{ log.FCCOperatorLogTransmissionDuration }}</a>
                    </div>
                    <div class="cell-16 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.FCCOperatorLogRemarks"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom" data-type="textarea"
                           data-placeholder="Remarks"
                           data-save="fccLog.Save(log)"
                           tabindex="{{$index}}6">{{ log.FCCOperatorLogRemarks }}</a>
                    </div>
                    <div class="cell-16 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.FCCOperatorLogOperator"
                           data-pk="{{log.ItemID}}"
                           data-placement="left" data-type="select2"
                           data-placeholder="Select Crew Member"
                           data-value="{{log.FCCOperatorLogOperator}}" data-source="{{page.crewMembers}}"
                           data-save="fccLog.Save(log)"
                           tabindex="{{$index}}7">{{ page.showLookupData('CrewMember', log, log.FCCOperatorLogOperator) }}</a>
                    </div>
                    <div class="cell-16 cell signature">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="log.FCCOperatorLogSignature"
                           data-pk="{{log.ItemID}}"
                           data-placement="bottom"
                           data-placeholder="Signature"
                           data-save="fccLog.Save(log)"
                           tabindex="{{$index}}8">{{ log.FCCOperatorLogSignature }}</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section><!--/table-data-->
    <div class="row" ng-show="page.security.create">
        <div class="col-lg-12">
            <button type="button" class="btn btn-default" ng-click="fccLog.Insert()"><i class="fa fa-plus"></i> Add Log Entry</button>
        </div>
    </div>
    <statusmessage></statusmessage>
</section>