<section id="fueloilmonthly" class="data engineering monthly">
    <div class="row">
        <div class="cal-picker col-lg-3 col-lg-offset-8">
            <p class="input-group">
                <input type="text" class="form-control" show-button-bar="false" datepicker-popup="MM/yyyy"
                       ng-model="page.viewDate" is-open="page.isDatePickerOpened" datepicker-options="page.dateOptions"
                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default fa fa-calendar" ng-click="page.openDatePicker($event)"></button>
                </span>
            </p>
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-info" ng-click="page.today()">Today</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <section class="table-data {{fOSoundings.classname}}">
                <h2 class="table-header">FO Soundings</h2>
                <div class="head-row row">
                    <div class="col-lg-12">
                        <div>
                            <div class="cell cell-12" ng-show="page.security.modify && page.trip.IsCurrent"></div>
                            <div class="cell-15 cell">Trip Number</div>
                            <div class="cell-20 cell">Date/Time</div>
                            <div class="cell-15 cell">Location</div>
                            <div class="cell-15 cell">Vessel</div>
                            <div class="cell-10 cell">Onboard</div>
                            <div class="cell">Consumed</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="sounding in fOSoundings.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
                    <div class="col-lg-12">
                        <div>
                            <!-- Action Buttons -->
                            <div class="buttons cell cell-12" ng-show="page.security.modify && page.trip.IsCurrent">
                                <button type="button" class="btn" ng-class="{'btn-primary': log.ItemID === 0}"
                                        ng-click="fOSoundings.Save(sounding, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                                <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="fOSoundings.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                            </div>
                            <div class="cell-15 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="sounding.TripNumber"
                                   data-pk="{{sounding.ItemID}}"
                                   data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                   data-placeholder="Trip Number"
                                   data-value="{{sounding.TripNumber}}" data-source="{{page.tripNumbers}}"
                                   data-save="fOSoundings.Save(sounding, $index)"
                                   tabindex="{{$index}}3">{{ page.showLookupData('TripInformation', sounding, sounding.TripNumber) }}</a>
                            </div>
                            <div class="cell-20 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="sounding.FOSoundingsDateTime"
                                   data-pk="{{sounding.ItemID}}"
                                   data-placement="bottom"
                                   data-apm-datetime
                                   data-limit-month="{{page.viewMonth}}"
                                   data-limit-year="{{page.viewYear}}"
                                   data-placeholder="Date/Time"
                                   data-save="fOSoundings.Save(sounding,$index)"
                                   data-value="{{sounding.FOSoundingsDateTime | date:page.dateFormat}}"                                   
                                   tabindex="{{$index}}4">
                                    {{sounding.FOSoundingsDateTime | date:page.dateFormat}}
                                </a>
                            </div>
                            <div class="cell-15 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="sounding.FOSoundingsLocation"
                                   data-pk="{{sounding.ItemID}}"
                                   data-placement="bottom" data-type="text"
                                   data-placeholder="Location"
                                   data-save="fOSoundings.Save(sounding,$index)"
                                   data-value="{{sounding.FOSoundingsLocation}}" data-source="{{page.timeLabel}}"
                                   tabindex="{{$index}}5">{{ sounding.FOSoundingsLocation }}</a>
                            </div>
                            <div class="cell-15 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="sounding.FOSoundingsVessel"
                                   data-pk="{{sounding.ItemID}}"
                                   data-type="select2"
                                   data-placement="bottom"
                                   data-placeholder="Vessel"
                                   data-value="{{sounding.FOSoundingsVessel}}" data-source="{{page.boatTypes}}"
                                   data-save="fOSoundings.Save(transfer)"
                                   tabindex="{{$index}}6">{{ page.showLookupData('BoatType', sounding, sounding.FOSoundingsVessel) }}</a>
                            </div>
                            <div class="cell cell-10">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="sounding.FOSoundingsVesselOnboard"
                                   data-pk="{{sounding.ItemID}}"
                                   data-placement="bottom" data-apm-number validate
                                   data-placeholder="Vessel Onboard"
                                   data-save="fOSoundings.Save(sounding,$index)"
                                   data-value="{{sounding.FOSoundingsVesselOnboard}}"
                                   tabindex="{{$index}}7">{{ sounding.FOSoundingsVesselOnboard }}</a>
                            </div>
                            <div class="cell">
                                {{ sounding.FOSoundingsVesselConsumed }}
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </section><!--/end Soundings-->
            <div class="row" ng-show="page.security.create">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default" ng-click="fOSoundings.Insert()"><i class="fa fa-plus"></i> Add Sounding Entry</button>
                </div>
            </div>
            <section class="table-data {{lastFOBunker.classname}}">
                <h2 class="table-header">Last FO Bunker</h2>
                <div class="head-row row">
                    <div class="col-lg-12">
                        <div>
                            <div class="cell-12 cell" ng-show="page.security.modify"></div>
                            <div class="cell-20 cell">Date/Time</div>
                            <div class="cell-25 cell">Vendor</div>
                            <div class="cell-15 cell">To</div>
                            <div class="cell-15 cell">Quantity</div>
                            <div class="cell">Price</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="bunker in lastFOBunker.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
                    <div class="col-lg-12">
                        <div>
                            <!-- Action Buttons -->
                            <div class="buttons cell-12 cell" ng-show="page.security.modify">
                                <button type="button" class="btn" ng-class="{'btn-primary': bunker.ItemID === 0}"
                                        ng-click="lastFOBunker.Save(bunker, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                                <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="lastFOBunker.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                            </div>
                            <div class="cell-20 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="bunker.LastFOBunkerDateTime"
                                   data-pk="{{bunker.ItemID}}"
                                   data-placement="bottom"
                                   data-apm-datetime
                                   data-limit-month="{{page.viewMonth}}"
                                   data-limit-year="{{page.viewYear}}"
                                   data-placeholder="Date/Time"
                                   data-value="{{bunker.LastFOBunkerDateTime | date:page.dateFormat}}"
                                   data-save="lastFOBunker.Save(bunker)"
                                   tabindex="{{$index}}9">{{bunker.LastFOBunkerDateTime | date:page.dateFormat}}</a>
                            </div>
                            <div class="cell-25 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="bunker.LastFOBunkerVendor"
                                   data-pk="{{bunker.ItemID}}"
                                   data-type="select2"
                                   data-placement="bottom"
                                   data-placeholder="Vendor"
                                   data-value="{{bunker.LastFOBunkerVendor}}" data-source="{{page.fuelOilVendors}}"
                                   data-save="lastFOBunker.Save(bunker)"
                                   tabindex="{{$index}}10">{{ page.showLookupData('FuelOilVendor', bunker, bunker.LastFOBunkerVendor) }}</a>
                            </div>
                            <div class="cell-15 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="bunker.LastFOBunkerVessel"
                                   data-pk="{{bunker.ItemID}}"
                                   data-type="select2"
                                   data-placement="bottom"
                                   data-placeholder="Transferred to"
                                   data-value="{{bunker.LastFOBunkerVessel}}" data-source="{{page.boatTypes}}"
                                   data-save="lastFOBunker.Save(transfer)"
                                   tabindex="{{$index}}11">{{ page.showLookupData('BoatType', bunker, bunker.LastFOBunkerVessel) }}</a>
                            </div>
                            <div class="cell-15 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="bunker.LastFOQuantity"
                                   data-pk="{{bunker.ItemID}}"
                                   data-placement="bottom" data-apm-number
                                   data-placeholder="Quantity"
                                   data-save="lastFOBunker.Save(bunker)"
                                   tabindex="{{$index}}12">{{ bunker.LastFOQuantity }}</a>
                            </div>
                            <div class="cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="bunker.LastFOBunkerPrice"
                                   data-pk="{{bunker.ItemID}}"
                                   data-placement="bottom" data-apm-number
                                   data-placeholder="Price"
                                   data-save="lastFOBunker.Save(bunker)"
                                   tabindex="{{$index}}13">{{ bunker.LastFOBunkerPrice }}</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </section><!--/end Bunker-->
            <div class="row" ng-show="page.security.create">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default" ng-click="lastFOBunker.Insert()"><i class="fa fa-plus"></i> Add Bunker Entry</button>
                </div>
            </div>
            <section class="table-data {{fOGallonsTransferred.classname}}">
                <h2 class="table-header">FO Gallons Transferred</h2>
                <div class="head-row row">
                    <div class="col-lg-12">
                        <div>
                            <div class="cell-12 cell" ng-show="page.security.modify"></div>                            
                            <div class="cell-20 cell">Date/Time</div>
                            <div class="cell-20 cell">To</div>
                            <div class="cell">Gallons</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="transfer in fOGallonsTransferred.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
                    <div class="col-lg-12">
                        <div>
                            <div class="buttons cell-12 cell" ng-show="page.security.modify">
                                <button type="button" class="btn" ng-class="{'btn-primary': transfer.ItemID === 0}"
                                        ng-click="fOGallonsTransferred.Save(transfer, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                                <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="fOGallonsTransferred.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                            </div>
                            <div class="cell-20 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="transfer.FOGGallonsTransferredDateTime"
                                   data-pk="{{transfer.ItemID}}"
                                   data-placement="bottom"
                                   data-apm-datetime
                                   data-limit-month="{{page.viewMonth}}"
                                   data-limit-year="{{page.viewYear}}"
                                   data-placeholder="Date/Time"
                                   data-value="{{transfer.FOGGallonsTransferredDateTime | date:page.dateFormat}}"
                                   data-save="fOGallonsTransferred.Save(transfer)"
                                   tabindex="{{$index}}14">{{transfer.FOGGallonsTransferredDateTime | date:page.dateFormat}}</a>
                            </div>
                            <div class="cell-20 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="transfer.FOGallonsTransferredVessel"
                                   data-pk="{{transfer.ItemID}}"
                                   data-type="select2"
                                   data-placement="bottom"
                                   data-placeholder="Transferred To"
                                   data-value="{{transfer.FOGallonsTransferredVessel}}" data-source="{{page.boatTypes}}"
                                   data-save="fOGallonsTransferred.Save(transfer)"
                                   tabindex="{{$index}}15">{{ page.showLookupData('BoatType', transfer, transfer.FOGallonsTransferredVessel) }}</a>
                            </div>                            
                            <div class="cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="transfer.FOGallonsTransferredGallons"
                                   data-pk="{{transfer.ItemID}}"
                                   data-placement="bottom" data-apm-number
                                   data-placeholder="Transferred Gallons"
                                   data-save="fOGallonsTransferred.Save(transfer)"
                                   tabindex="{{$index}}16">{{ transfer.FOGallonsTransferredGallons }}</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </section><!--/end Transfer-->
            <div class="row" ng-show="page.security.create">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default" ng-click="fOGallonsTransferred.Insert()"><i class="fa fa-plus"></i> Add Transfer Entry</button>
                </div>
            </div>            
        </div><!--/col-lg-8-->
        <div class="col-lg-4">
            <section class="table-data {{monthlyFuel.classname}}">
                <h2 class="table-header">Monthly Fuel</h2>
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <div class="cell cell-50">&nbsp;</div>
                            <div class="cell cell-50">Gallons</div>
                        </div>
                    </div>
                </div>
                <div class="head-row special-head row">
                    <div class="col-lg-12">
                        <div>
                            <div class="cell-50 cell">Month Starting</div>
                            <div class="cell-50 cell">Fuel Inventory</div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="monthly in monthlyFuel.data" ng-if="$first">
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <div class="cell cell-50">Tug</div>
                                <div class="cell cell-50">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="monthly.MonthlyFuelTugStartGallons"
                                       data-pk="{{monthly.ItemID}}"
                                       data-placement="bottom" data-apm-number
                                       data-placeholder="Monthly Tug Starting Fuel"
                                       data-save="monthlyFuel.Save(monthly)"
                                       tabindex="{{$index}}17">{{ monthly.MonthlyFuelTugStartGallons }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <div class="cell cell-50">Barge</div>
                                <div class="cell cell-50">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="monthly.MonthlyFuelBargeStartGallons"
                                       data-pk="{{monthly.ItemID}}"
                                       data-placement="bottom" data-apm-number
                                       data-placeholder="Monthly Barge Starting Fuel"
                                       data-save="monthlyFuel.Save(monthly)"
                                       tabindex="{{$index}}18">{{ monthly.MonthlyFuelBargeStartGallons }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="head-row special-head row">
                    <div class="col-lg-12">
                        <div>
                            <div class="cell-50 cell">Month Ending</div>
                            <div class="cell-50 cell">Fuel Inventory</div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="monthly in monthlyFuel.data" ng-if="$first">
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <div class="cell cell-50">Tug</div>
                                <div class="cell cell-50">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="monthly.MonthlyFuelTugEndGallons"
                                       data-pk="{{monthly.ItemID}}"
                                       data-placement="bottom" data-apm-number
                                       data-placeholder="Monthly Tug Ending Fuel"
                                       data-save="monthlyFuel.Save(monthly)"
                                       tabindex="{{$index}}19">{{ monthly.MonthlyFuelTugEndGallons }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <div class="cell cell-50">Barge</div>
                                <div class="cell cell-50">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="monthly.MonthlyFuelBargeEndGallons"
                                       data-pk="{{monthly.ItemID}}"
                                       data-placement="bottom" data-apm-number
                                       data-placeholder="Monthly Barge Ending Fuel"
                                       data-save="monthlyFuel.Save(monthly)"
                                       tabindex="{{$index}}20">{{ monthly.MonthlyFuelBargeEndGallons }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="head-row special-head row">
                    <div class="col-lg-12">
                        <div>
                            <div class="cell cell-50">Month FO</div>
                            <div class="cell-50 cell">Burn</div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="monthly in monthlyFuel.data" ng-if="$first">
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <div class="cell cell-50">Tug</div>
                                <div class="cell cell-50">{{monthly.MonthlyFuelTugBurnGallons}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <div class="cell cell-50">Barge</div>
                                <div class="cell cell-50">{{monthly.MonthlyFuelBargeBurnGallons}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <div class="cell cell-50">Total</div>
                                <div class="cell cell-50">{{monthly.MonthlyFuelTotalBurnGallons}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div><!--/col-lg-4-->
    </div><!--/row-->
    <statusmessage></statusmessage>
</section>