<section id="garbagelog" class="data log garbage">
    <div class="row">
        <div class="cal-picker col-lg-3 col-lg-offset-8">
            <p class="input-group">
                <input type="text" class="form-control" show-button-bar="false" datepicker-popup="MM/yyyy"
                       ng-model="page.viewDate" is-open="page.isDatePickerOpened" datepicker-options="page.dateOptions"
                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default fa fa-calendar" ng-click="page.openDatePicker($event)"></button>
                </span>
            </p>
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-info btn-today" ng-click="page.today()">Today</button>
        </div>
    </div>
    <section class="table-data {{garbageLog.classname}}">
        <div class="head-row row">
            <div class="col-lg-12">
                <div>
                    <div class="cell" ng-show="page.security.modify && page.trip.IsCurrent"></div>
                    <div class="cell-10 cell">Date/Time</div>
                    <div class="cell-15 cell">Name</div>
                    <div class="cell-15 cell">Title</div>
                    <div class="cell-8 cell">Quantity</div>
                    <div class="cell-20 cell">Dock Name</div>
                    <div class="cell-20 cell">Comments</div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div ng-repeat="glog in garbageLog.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
            <div class="col-lg-12">
                <div class="editable-row editable-row-{{$index}}">
                    <!-- Action Buttons -->
                    <div class="buttons cell" ng-show="page.security.modify && page.trip.IsCurrent">
                        <button type="button" class="btn" ng-show="glog.ItemID===0" ng-class="{'btn-primary': glog.ItemID === 0}"
                                ng-click="garbageLog.Save(glog, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                        <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="garbageLog.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                    </div>
                    <div class="cell-10 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="glog.GarbageLogDateTime"
                           data-pk="{{glog.ItemID}}"
                           data-placement="bottom" 
                           data-apm-datetime
                           data-placeholder="Date/Time"
                           data-save="garbageLog.Save(glog)"
                           data-value="{{glog.GarbageLogDateTime | date:page.datetimePickerOpts.format}}"
                           tabindex="{{$index}}3">{{glog.GarbageLogDateTime | date:page.datetimePickerOpts.format}}</a>
                    </div>
                    <div class="cell-15 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="glog.GarbageLogName"
                           data-disabled="{{glog.ItemID>0}}" data-pk="{{glog.ItemID}}"
                           data-placement="bottom" data-type="select2"
                           data-placeholder="Select Crew Member"
                           data-value="{{glog.GarbageLogName}}" data-source="{{page.crewMembers}}"
                           data-save="garbageLog.Save(glog)" data-ng-change="garbageLog.UpdateRole(glog, {{$index}})"
                           tabindex="{{$index}}4">{{ page.showLookupData('CrewMember', glog, glog.GarbageLogName) }}</a>
                    </div>
                    <div class="cell-15 cell">
                        {{glog.GarbageLogTitle}}
                    </div>
                    <div class="cell-8 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="glog.GarbageLogBags"
                           data-pk="{{glog.ItemID}}"
                           data-placement="bottom" data-apm-number
                           data-placeholder="Quantity"
                           data-save="garbageLog.Save(glog)"
                           tabindex="{{$index}}6">{{ glog.GarbageLogBags }}</a>
                    </div>
                    <div class="cell-20 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="glog.GarbageLogDock"
                           data-pk="{{glog.ItemID}}"
                           data-placement="bottom" data-type="select2"
                           data-placeholder="Dock Name"
                           data-save="garbageLog.Save(glog)"
                           data-value="{{glog.GarbageLogDock}}" data-source="{{page.terminalDockNames}}"
                           tabindex="{{$index}}7">{{ page.showLookupData('TerminalDockName', glog, glog.GarbageLogDock) }}</a>
                    </div>
                    <div class="cell-20 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="glog.GarbageLogComments"
                           data-pk="{{glog.ItemID}}"
                           data-placement="bottom" data-type="textarea"
                           data-placeholder="Comments"
                           data-value="{{glog.GarbageLogComments}}"
                           data-save="garbageLog.Save(glog)"
                           tabindex="{{$index}}11">{{ glog.GarbageLogComments }}</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section><!--/table-data-->
    <div class="row" ng-show="page.security.create">
        <div class="col-lg-12">
            <button type="button" class="btn btn-default" ng-click="garbageLog.Insert()" ng-show="page.isToday()"><i class="fa fa-plus"></i> Add Garbage Log Entry</button>
        </div>
    </div>
    <statusmessage></statusmessage>
</section>