<section id="generateform" class="form generate-form">
    <div class="table-form col-lg-7">
        <div class="row">
            <div class="cal-picker col-lg-12 form-group">

                <div class="col-xs-4">
                    <label class="control-label" for="vdate">Date:</label>
                </div>
                <div class="col-xs-5">
                    <p class="input-group">
                        <input id="vdate" type="text" class="form-control" show-button-bar="false" datepicker-popup="MM/dd/yyyy"
                               ng-model="page.viewDate" is-open="page.isDatePickerOpened" datepicker-options="page.dateOptions"
                               date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default fa fa-calendar" ng-click="page.openDatePicker($event)"></button>
                        </span>
                    </p>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-info" ng-click="page.today()">Today</button>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12" class="form-group">
                <div class="cell col-md-4">
                    <label class="control-label" for="vtripnumber">Trip Number:</label>
                </div>
                <div class="col-md-8">
                    <select id="vtripnumber" class="form-control"
                            ng-model="vesselForm.data.tripNumber"
                            ng-options="v.id as v.text for v in page.trips"></select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">&nbsp;</div>
        </div>

        <div class="row">
            <div class="col-lg-12" id="vesselFormName" class="form-group">
                <div class="col-md-4">
                    <label class="control-label" for="vform">Form:</label>
                </div>
                <div class="col-md-8">
                    <select id="vform" class="form-control"
                            ng-model="vesselForm.data.formGuid"
                            ng-options="v.id as v.text for v in page.forms"></select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">&nbsp;</div>
        </div>
    </div><!--/table-form-->
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-default" tabindex="3" ng-click="page.GenerateForm()"><i class=" fa fa-plus"></i>Generate Form</button>
        </div>
    </div>
    <statusmessage></statusmessage>
</section>