﻿<section id="greywater" class="data log greywater">
    <div class="row">
        <div class="clear"></div>
        <div class="picker-right cal-picker col-lg-3 col-lg-offset-8">
            <p class="input-group">
                <input type="text" class="form-control" show-button-bar="false" datepicker-popup="MM/yyyy"
                       ng-model="page.viewDate" is-open="page.isDatePickerOpened" datepicker-options="page.dateOptions"
                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default fa fa-calendar" ng-click="page.openDatePicker($event)"></button>
                </span>
            </p>
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-info btn-right" ng-click="page.today()">Today</button>
        </div>
        <div class="clear"></div>
        <div class="col-lg-8">
            <section class="table-data {{greyWater.classname}}">
                <div class="head-row row">
                    <div class="col-lg-12">
                        <div>
                            <div class="cell-10 cell" ng-show="page.security.modify && page.trip.IsCurrent"></div>
                            <div class="cell-20 cell">Date/Time</div>
                            <div class="cell-50 cell">Position</div>
                            <div class="cell-20 cell">Gallons</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="log in greyWater.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
                    <div class="col-lg-12">
                        <div>
                            <!-- Action Buttons -->
                            <div class="buttons cell-10 cell" ng-show="page.security.modify && page.trip.IsCurrent">
                                <button type="button" class="btn" ng-class="{'btn-primary': log.ItemID === 0}"
                                        ng-click="greyWater.Save(log, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                                <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="greyWater.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                            </div>
                            <div class="cell-20 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="log.GreyWaterDateTime"
                                   data-pk="{{log.ItemID}}"
                                   data-placement="bottom"
                                   data-apm-datetime
                                   data-placeholder="Date/Time"
                                   data-value="{{log.GreyWaterDateTime | date:page.datetimePickerOpts.format}}"
                                   data-save="greyWater.Save(log)"
                                   tabindex="{{$index}}3">{{log.GreyWaterDateTime | date:page.datetimePickerOpts.format}}</a>
                            </div>
                            <div class="cell-50 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="log.GreyWaterPosition"
                                   data-pk="{{log.ItemID}}"
                                   data-placement="bottom" data-type="textarea"
                                   data-placeholder="Position"
                                   data-save="greyWater.Save(log)"
                                   tabindex="{{$index}}5">{{ log.GreyWaterPosition }}</a>
                            </div>
                            <div class="cell-20 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="log.GreyWaterGallons"
                                   data-pk="{{log.ItemID}}"
                                   data-placement="bottom" data-apm-number
                                   data-placeholder="Gallons"
                                   data-save="greyWater.Save(log)"
                                   tabindex="{{$index}}5">{{ log.GreyWaterGallons }}</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </section><!--table-data-->
            <div class="row" ng-show="page.security.create">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default" ng-click="greyWater.Insert()" ng-show="page.isToday()"><i class="fa fa-plus"></i> Add Log Entry</button>
                </div>
            </div>
        </div>
    </div>
    <statusmessage></statusmessage>
</section>