<section id="load" class="data log cargo">
    <div class="row">
        <div class="col-lg-2">
            <button type="button" class="btn btn-default" ng-show="page.security.create" ng-click="cargoLoad.Save(cargoLoad.data[0])">Save/Update Load</button>            
        </div><!--/save button container-->
        <div class="col-lg-10 form-group">
            <div class="row">
                <div class="col-xs-6 right">
                    <label class="control-label cargo-label" for="vtripnumber">Viewing Load for Trip Number:</label>
                </div>
                <div class="col-xs-6">
                    <select id="vtripnumber" class="form-control"
                            ng-model="page.viewTripNumber"
                            ng-options="v.id as v.text for v in page.trips"></select>
                </div>
            </div>
        </div>
    </div>
    <div ng-repeat="item in cargoLoad.data" class="row row-{{$index}}">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <section id="preloadinformation" class="table-data {{cargoLoad.classname}}">
                                <h2 class="table-header">Pre-Load Information</h2>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-60 cell">Sequence</div>
                                            <div class="cell-40 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoSequence"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Sequence"
                                                   data-value="{{item.CargoSequence}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}1">{{item.CargoSequence}}</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-60 cell">Max Draft</div>
                                            <div class="cell-40 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoMaxDraft"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Max Draft"
                                                   data-value="{{item.CargoMaxDraft}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}2">{{item.CargoMaxDraft}}</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-60 cell">Max Header Pressure</div>
                                            <div class="cell-40 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoMaxHeaderPressure"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Max Header Pressure"
                                                   data-value="{{item.CargoMaxHeaderPressure}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}3">{{item.CargoMaxHeaderPressure}}</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-60 cell">Shut Down Notice</div>
                                            <div class="cell-40 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoShutDownNotice"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Shut Down Notice"
                                                   data-value="{{item.CargoShutDownNotice}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}4">{{item.CargoShutDownNotice}}</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-60 cell">Expected Rate</div>
                                            <div class="cell-40 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoExpectedRate"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Expected Rate"
                                                   data-value="{{item.CargoExpectedRate}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}5">{{item.CargoExpectedRate}}</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-60 cell">Maximum Volume</div>
                                            <div class="cell-40 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoMaximumVolume"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Maximum Volume"
                                                   data-value="{{item.CargoMaximumVolume}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}6">{{item.CargoMaximumVolume}}</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-60 cell">Tanks to Load</div>
                                            <div class="cell-40 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoTanksToLoad"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Tanks to Load"
                                                   data-value="{{item.CargoTanksToLoad}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}7">{{item.CargoTanksToLoad}}</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-6">
                            <section id="generalinformation" class="table-data {{cargoLoad.classname}}">
                                <h2 class="table-header">General Information</h2>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-50 cell">Load Terminal</div>
                                            <div class="cell-50 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoLoadTerminal"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                                   data-placeholder="Load Terminal"
                                                   data-value="{{item.CargoLoadTerminal}}" data-source="{{page.terminalDocks}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}8">{{item.CargoLoadTerminal}}</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-50 cell">Discharge Terminal</div>
                                            <div class="cell-50 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoDischargeTerminal"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                                   data-placeholder="Discharge Terminal"
                                                   data-value="{{item.CargoDischargeTerminal}}" data-source="{{page.terminalDocks}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}9">{{item.CargoDischargeTerminal}}</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-50 cell">Customer</div>
                                            <div class="cell-50 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoCustomer"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                                   data-placeholder="Customer"
                                                   data-value="{{item.CargoCustomer}}" data-source="{{page.customers}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}10">{{ page.showLookupData('Customer', item, item.CargoCustomer) }}</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-50 cell">Berth Number</div>
                                            <div class="cell-50 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoBerthNumber"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Berth Number"
                                                   data-value="{{item.CargoBerthNumber}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}11">{{item.CargoBerthNumber}}</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-50 cell">Customer BOL#</div>
                                            <div class="cell-50 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoCustomerBOLNumber"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Customer BOL #"
                                                   data-value="{{item.CargoCustomerBOLNumber}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}12">{{item.CargoCustomerBOLNumber}}</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-50 cell">Customer Trip Number</div>
                                            <div class="cell-50 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoCustomerTripNumber"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Customer Trip Number"
                                                   data-value="{{item.CargoCustomerTripNumber}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}13">{{item.CargoCustomerTripNumber}}</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-50 cell">Inspector</div>
                                            <div class="cell-50 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoInspector"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Inspector"
                                                   data-value="{{item.CargoInspector}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}14">{{item.CargoInspector}}</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div><!--/row-->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-50 cell">NOR tendered to</div>
                                            <div class="cell-50 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.NORTenderedTo"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="NORTenderedTo"
                                                   data-value="{{item.NORTenderedTo}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}15">{{item.NORTenderedTo}}</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div><!--/row-->
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <section id="cargotanksoundingsdepartureloaddock" class="table-data {{cargoLoad.classname}}">
                                <h2 class="table-header">Cargo Tank Soundings Departure Load Dock</h2>
                                <div class="head-row row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-5 cell">Tank</div>
                                            <div class="cell-5 cell">Ullage</div>
                                            <div class="cell-5 cell">Bbls</div>
                                            <div class="cell-5 cell">Temp</div>
                                            <div class="cell-10 cell">Type</div>
                                            <div class="cell-5 cell">Tank</div>
                                            <div class="cell-5 cell">Ullage</div>
                                            <div class="cell-5 cell">Bbls</div>
                                            <div class="cell-5 cell">Temp</div>
                                            <div class="cell-10 cell">Type</div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-5 cell">1P</div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoUllage1P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Ullage 1P"
                                                   data-value="{{item.CargoUllage1P}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}1">{{item.CargoUllage1P}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoBbls1P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Bbls 1P"
                                                   data-value="{{item.CargoBbls1P}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}2">{{item.CargoBbls1P}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoTemp1P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Temp 1P"
                                                   data-value="{{item.CargoTemp1P}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}3">{{item.CargoTemp1P}}</a>
                                            </div>
                                            <div class="cell-10 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoType1P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                                   data-placeholder="Type 1P"
                                                   data-value="{{item.CargoType1P}}" data-source="{{page.cargoTypes}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}4">{{ page.showLookupData('CargoType', item, item.CargoType1P) }}</a>
                                            </div>
                                            <div class="cell-5 cell">1S</div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoUllage1S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Ullage 1S"
                                                   data-value="{{item.CargoUllage1S}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}5">{{item.CargoUllage1S}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoBbls1S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Bbls 1S"
                                                   data-value="{{item.CargoBbls1S}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}6">{{item.CargoBbls1S}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoTemp1S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Temp 1S"
                                                   data-value="{{item.CargoTemp1S}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}7">{{item.CargoTemp1S}}</a>
                                            </div>
                                            <div class="cell-10 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoType1S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                                   data-placeholder="Type 1S"
                                                   data-value="{{item.CargoType1S}}" data-source="{{page.cargoTypes}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}8">{{ page.showLookupData('CargoType', item, item.CargoType1S) }}</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-5 cell">2P</div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoUllage2P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Ullage 2P"
                                                   data-value="{{item.CargoUllage2P}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}9">{{item.CargoUllage2P}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoBbls2P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Bbls 2P"
                                                   data-value="{{item.CargoBbls2P}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}10">{{item.CargoBbls2P}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoTemp2P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Temp 2P"
                                                   data-value="{{item.CargoTemp2P}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}11">{{item.CargoTemp2P}}</a>
                                            </div>
                                            <div class="cell-10 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoType2P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                                   data-placeholder="Type 2P"
                                                   data-value="{{item.CargoType2P}}" data-source="{{page.cargoTypes}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}12">{{ page.showLookupData('CargoType', item, item.CargoType2P) }}</a>
                                            </div>
                                            <div class="cell-5 cell">2S</div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoUllage2S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Ullage 2S"
                                                   data-value="{{item.CargoUllage2S}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}13">{{item.CargoUllage2S}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoBbls2S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Bbls 2S"
                                                   data-value="{{item.CargoBbls2S}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}14">{{item.CargoBbls2S}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoTemp2S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Temp 2S"
                                                   data-value="{{item.CargoTemp2S}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}15">{{item.CargoTemp2S}}</a>
                                            </div>
                                            <div class="cell-10 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoType2S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                                   data-placeholder="Type 2S"
                                                   data-value="{{item.CargoType2S}}" data-source="{{page.cargoTypes}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}16">{{ page.showLookupData('CargoType', item, item.CargoType2S) }}</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-5 cell">3P</div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoUllage3P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Ullage 3P"
                                                   data-value="{{item.CargoUllage3P}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}17">{{item.CargoUllage3P}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoBbls3P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Bbls 3P"
                                                   data-value="{{item.CargoBbls3P}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}18">{{item.CargoBbls3P}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoTemp3P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Temp 3P"
                                                   data-value="{{item.CargoTemp3P}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}19">{{item.CargoTemp3P}}</a>
                                            </div>
                                            <div class="cell-10 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoType3P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                                   data-placeholder="Type 3P"
                                                   data-value="{{item.CargoType3P}}" data-source="{{page.cargoTypes}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}20">{{ page.showLookupData('CargoType', item, item.CargoType3P) }}</a>
                                            </div>
                                            <div class="cell-5 cell">3S</div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoUllage3S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Ullage 3S"
                                                   data-value="{{item.CargoUllage3S}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}21">{{item.CargoUllage3S}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoBbls3S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Bbls 3S"
                                                   data-value="{{item.CargoBbls3S}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}22">{{item.CargoBbls3S}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoTemp3S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Temp 3S"
                                                   data-value="{{item.CargoTemp3S}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}23">{{item.CargoTemp3S}}</a>
                                            </div>
                                            <div class="cell-10 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoType3S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                                   data-placeholder="Type 3S"
                                                   data-value="{{item.CargoType3S}}" data-source="{{page.cargoTypes}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}24">{{ page.showLookupData('CargoType', item, item.CargoType3S) }}</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-5 cell">4P</div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoUllage4P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Ullage 4P"
                                                   data-value="{{item.CargoUllage4P}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}25">{{item.CargoUllage4P}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoBbls4P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Bbls 4P"
                                                   data-value="{{item.CargoBbls4P}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}26">{{item.CargoBbls4P}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoTemp4P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Temp 4P"
                                                   data-value="{{item.CargoTemp4P}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}27">{{item.CargoTemp4P}}</a>
                                            </div>
                                            <div class="cell-10 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoType4P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                                   data-placeholder="Type 4P"
                                                   data-value="{{item.CargoType4P}}" data-source="{{page.cargoTypes}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}28">{{ page.showLookupData('CargoType', item, item.CargoType4P) }}</a>
                                            </div>
                                            <div class="cell-5 cell">4S</div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoUllage4S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Ullage 4S"
                                                   data-value="{{item.CargoUllage4S}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}29">{{item.CargoUllage4S}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoBbls4S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Bbls 4S"
                                                   data-value="{{item.CargoBbls4S}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}30">{{item.CargoBbls4S}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoTemp4S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Temp 4S"
                                                   data-value="{{item.CargoTemp4S}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}31">{{item.CargoTemp4S}}</a>
                                            </div>
                                            <div class="cell-10 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoType4S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                                   data-placeholder="Type 4S"
                                                   data-value="{{item.CargoType4S}}" data-source="{{page.cargoTypes}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}32">{{ page.showLookupData('CargoType', item, item.CargoType4S) }}</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-5 cell">5P</div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoUllage5P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Ullage 5P"
                                                   data-value="{{item.CargoUllage5P}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}33">{{item.CargoUllage5P}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoBbls5P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Bbls 5P"
                                                   data-value="{{item.CargoBbls5P}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}34">{{item.CargoBbls5P}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoTemp5P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Temp 5P"
                                                   data-value="{{item.CargoTemp5P}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}35">{{item.CargoTemp5P}}</a>
                                            </div>
                                            <div class="cell-10 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoType5P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                                   data-placeholder="Type 5P"
                                                   data-value="{{item.CargoType5P}}" data-source="{{page.cargoTypes}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}36">{{ page.showLookupData('CargoType', item, item.CargoType5P) }}</a>
                                            </div>
                                            <div class="cell-5 cell">5S</div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoUllage5S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Ullage 5S"
                                                   data-value="{{item.CargoUllage5S}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}37">{{item.CargoUllage5S}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoBbls5S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Bbls 5S"
                                                   data-value="{{item.CargoBbls5S}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}38">{{item.CargoBbls5S}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoTemp5S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Temp 5S"
                                                   data-value="{{item.CargoTemp5S}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}39">{{item.CargoTemp5S}}</a>
                                            </div>
                                            <div class="cell-10 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoType5S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                                   data-placeholder="Type 5S"
                                                   data-value="{{item.CargoType5S}}" data-source="{{page.cargoTypes}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}40">{{ page.showLookupData('CargoType', item, item.CargoType5S) }}</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-5 cell">6P</div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoUllage6P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Ullage 6P"
                                                   data-value="{{item.CargoUllage6P}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}41">{{item.CargoUllage6P}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoBbls6P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Bbls 6P"
                                                   data-value="{{item.CargoBbls6P}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}42">{{item.CargoBbls6P}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoTemp6P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Temp 6P"
                                                   data-value="{{item.CargoTemp6P}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}43">{{item.CargoTemp6P}}</a>
                                            </div>
                                            <div class="cell-10 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoType6P"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                                   data-placeholder="Type 6P"
                                                   data-value="{{item.CargoType6P}}" data-source="{{page.cargoTypes}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}44">{{ page.showLookupData('CargoType', item, item.CargoType6P) }}</a>
                                            </div>
                                            <div class="cell-5 cell">6S</div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoUllage6S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="text"
                                                   data-placeholder="Ullage 6S"
                                                   data-value="{{item.CargoUllage6S}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}45">{{item.CargoUllage6S}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoBbls6S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Bbls 6S"
                                                   data-value="{{item.CargoBbls6S}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}46">{{item.CargoBbls6S}}</a>
                                            </div>
                                            <div class="cell-5 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoTemp6S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-apm-number
                                                   data-placeholder="Temp 6S"
                                                   data-value="{{item.CargoTemp6S}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}47">{{item.CargoTemp6S}}</a>
                                            </div>
                                            <div class="cell-10 cell">
                                                <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoType6S"
                                                   data-pk="{{item.ItemID}}"
                                                   data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                                   data-placeholder="Type 6S"
                                                   data-value="{{item.CargoType6S}}" data-source="{{page.cargoTypes}}"
                                                   data-save="cargoLoad.Save(item)"
                                                   tabindex="{{$index}}48">{{ page.showLookupData('CargoType', item, item.CargoType6S) }}</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="cell-10 cell">AVG Temp</div>
                                            <div class="cell-5 cell">{{item.CargoAverageTemperature}}</div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <section id="loaddocktimes" class="table-data {{loadDockTimes.classname}}">
                        <h2 class="table-header">Load Dock Times</h2>
                        <div class="head-row row">
                            <div class="col-lg-12">
                                <div>
                                    <div class="cell-25 cell" ng-show="page.security.modify && page.trip.IsCurrent"></div>
                                    <div class="cell-30 cell">Event</div>
                                    <div class="cell-35 cell">Time</div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="item in loadDockTimes.data" ng-class="$index%2===0&&'odd'||'even'" class="row row-{{$index}}">
                            <div class="col-lg-12">
                                <div>
                                    <div class="buttons cell-25 cell" ng-show="page.security.modify && page.trip.IsCurrent">
                                        <button type="button" class="btn" ng-class="{'btn-primary': item.ItemID === 0}"
                                                ng-click="loadDockTimes.Save(item, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="loadDockTimes.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                                    </div>
                                    <div class="cell-30 cell">
                                        <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoDockTimeLocation"
                                           data-pk="{{item.ItemID}}"
                                           data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                           data-placeholder="Dock Time Location"
                                           data-value="{{item.CargoDockTimeLocation}}" data-source="{{page.timeLabels}}"
                                           data-save="loadDockTimes.Save(item)"
                                           tabindex="{{$index}}3">{{item.CargoDockTimeLocation}}</a>
                                    </div>
                                    <div class="cell-35 cell">
                                        <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoDockTimeDateTime"
                                           data-pk="{{item.ItemID}}"
                                           data-placement="bottom"
                                           data-apm-datetime
                                           data-placeholder="Cargo Dock Date/Time"
                                           data-value="{{item.CargoDockTimeDateTime | date:'MM/dd/yyyy HH:mm'}}"
                                           data-save="loadDockTimes.Save(item)"
                                           tabindex="{{$index}}4">{{item.CargoDockTimeDateTime | date:'MM/dd/yyyy HH:mm'}}</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="row" ng-show="page.security.create">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-default" ng-click="loadDockTimes.Insert()"><i class="fa fa-plus"></i> Add Load Dock Time Entry</button>
                        </div>
                    </div><!--/end button container-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <section id="cargogeneralinformation" class="table-data {{cargoGeneralInformations.classname}}">
                        <h2 class="table-header">Cargo General Information</h2>
                        <div class="head-row row">
                            <div class="col-lg-12">
                                <div>
                                    <div class="cell-6 cell" ng-show="page.security.modify && page.trip.IsCurrent"></div>
                                    <div class="cell">Type</div>
                                    <div class="cell-6 cell">OBQs</div>
                                    <div class="cell">Lbs/Gal</div>
                                    <div class="cell">Lbs/Bbl</div>
                                    <div class="cell">Factor</div>
                                    <div class="cell">API</div>
                                    <div class="cell">Temp Loaded</div>
                                    <div class="cell">Gross Bbls</div>
                                    <div class="cell">Metric Tons</div>
                                    <div class="cell">Net Tons</div>
                                    <div class="cell">Net Bbls</div>
                                    <div class="cell">Gross Metric Tons</div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="item in cargoGeneralInformations.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
                            <div class="col-lg-12">
                                <div>
                                    <div class="cell-6 cell buttons" ng-show="page.security.modify && page.trip.IsCurrent">
                                        <button type="button" class="btn" ng-class="{'btn-primary': item.ItemID === 0}"
                                                ng-click="cargoGeneralInformations.Save(item, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="cargoGeneralInformations.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                                    </div>
                                    <div class="cell">
                                        <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoGeneralInformationType"
                                           data-pk="{{item.ItemID}}"
                                           data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                           data-placeholder="Type"
                                           data-value="{{item.CargoGeneralInformationType}}" data-source="{{page.cargoTypes}}"
                                           data-save="cargoGeneralInformations.Save(item, $index)"
                                           tabindex="{{$index}}3">{{ page.showLookupData('CargoType', item, item.CargoGeneralInformationType) }}</a>
                                    </div>
                                    <div class="cell-6 cell">
                                        <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoGeneralInformationOBQs"
                                           data-pk="{{item.ItemID}}"
                                           data-placement="bottom" data-apm-number
                                           data-placeholder="OBQs"
                                           data-value="{{item.CargoGeneralInformationOBQs}}"
                                           data-save="cargoGeneralInformations.Save(item, $index)"
                                           tabindex="{{$index}}4">{{item.CargoGeneralInformationOBQs}}</a>
                                    </div>
                                    <div class="cell">
                                        <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoGeneralInformationLbsGal"
                                           data-pk="{{item.ItemID}}"
                                           data-placement="bottom" data-apm-number
                                           data-placeholder="Lbs/Gal"
                                           data-value="{{item.CargoGeneralInformationLbsGal}}"
                                           data-save="cargoGeneralInformations.Save(item, $index)"
                                           tabindex="{{$index}}4">{{item.CargoGeneralInformationLbsGal}}</a>
                                    </div>
                                    <div class="cell">{{item.CargoGeneralInformationLbsBbl}}</div>
                                    <div class="cell">
                                        <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoGeneralInformationFactor"
                                           data-pk="{{item.ItemID}}"
                                           data-placement="bottom"
                                           data-apm-number
                                           data-placeholder="Factor"
                                           data-value="{{item.CargoGeneralInformationFactor}}"
                                           data-save="cargoGeneralInformations.Save(item, $index)"
                                           tabindex="{{$index}}6">{{item.CargoGeneralInformationFactor}}</a>
                                    </div>
                                    <div class="cell">
                                        <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoGeneralInformationAPI"
                                           data-pk="{{item.ItemID}}"
                                           data-placement="bottom"
                                           data-apm-number
                                           data-placeholder="API"
                                           data-value="{{item.CargoGeneralInformationAPI}}"
                                           data-save="cargoGeneralInformations.Save(item, $index)"
                                           tabindex="{{$index}}7">{{item.CargoGeneralInformationAPI}}</a>
                                    </div>
                                    <div class="cell">{{item.CargoGeneralInformationTemp}}</div>
                                    <div class="cell">{{item.CargoGeneralInformationGrossBbls}}</div>
                                    <div class="cell">{{item.CargoGeneralInformationMetricTons}}</div>
                                    <div class="cell">{{item.CargoGeneralInformationNetTons}}</div>
                                    <div class="cell">{{item.CargoGeneralInformationNetBbls}}</div>
                                    <div class="cell">{{item.CargoGeneralInformationMetricTons}}</div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="row">
                        <div class="col-lg-12" ng-show="page.security.create">
                            <button type="button" class="btn btn-default" ng-click="cargoGeneralInformations.Insert()"><i class="fa fa-plus"></i> Add Cargo General Information</button>
                        </div>
                    </div><!--/end-button-contianer-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <section id="arrivalloaddockdrafts" class="table-data {{arrivalLoadDockDrafts.classname}}">
                        <h2 class="table-header">Arrival Load Dock Drafts</h2>
                        <div class="head-row row">
                            <div class="col-lg-12">
                                <div>
                                    <div class="cell-25 cell" ng-show="page.security.modify && page.trip.IsCurrent"></div>
                                    <div class="cell-55 cell">Vessel Draft</div>
                                    <div class="cell-20 cell">Height</div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="item in arrivalLoadDockDrafts.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
                            <div class="col-lg-12">
                                <div>
                                    <div class="buttons cell-25 cell" ng-show="page.security.modify && page.trip.IsCurrent">
                                        <button type="button" class="btn" ng-class="{'btn-primary': item.ItemID === 0}"
                                                ng-click="arrivalLoadDockDrafts.Save(item, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="arrivalLoadDockDrafts.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                                    </div>
                                    <div class="cell-55 cell">
                                        <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoDockDraftLocation"
                                           data-pk="{{item.ItemID}}"
                                           data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                           data-placeholder="Arrival Load Dock Draft"
                                           data-value="{{item.CargoDockDraftLocation}}" data-source="{{page.vesselDrafts}}"
                                           data-save="arrivalLoadDockDrafts.Save(item)"
                                           tabindex="{{$index}}3">{{ page.showLookupData('VesselDraft', item, item.CargoDockDraftLocation) }}</a>
                                    </div>
                                    <div class="cell-20 cell">
                                        <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoDockDraftHeight"
                                           data-pk="{{item.ItemID}}"
                                           data-placement="bottom" data-type="text"
                                           data-placeholder="Cargo Dock Draft Height"
                                           data-value="{{item.CargoDockDraftHeight}}"
                                           data-save="arrivalLoadDockDrafts.Save(item)"
                                           tabindex="{{$index}}4">{{item.CargoDockDraftHeight}}</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="row" ng-show="page.security.create">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-default" ng-click="arrivalLoadDockDrafts.Insert()"><i class="fa fa-plus"></i> Add Arrival Load Dock Draft Entry</button>
                        </div>
                    </div><!--end button container-->
                </div>
                <div class="col-lg-4">
                    <section id="departureloaddockdrafts" class="table-data {{departureLoadDockDrafts.classname}}-1">
                        <h2 class="table-header">Departure Load Dock Drafts</h2>
                        <div class="head-row row">
                            <div class="col-lg-12">
                                <div>
                                    <div class="cell-25 cell" ng-show="page.security.modify && page.trip.IsCurrent"></div>
                                    <div class="cell-55 cell">Vessel Draft</div>
                                    <div class="cell-20 cell">Height</div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="item in departureLoadDockDrafts.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
                            <div class="col-lg-12">
                                <div>
                                    <div class="buttons cell-25 cell" ng-show="page.security.modify && page.trip.IsCurrent">
                                        <button type="button" class="btn" ng-class="{'btn-primary': item.ItemID === 0}"
                                                ng-click="departureLoadDockDrafts.Save(item, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="departureLoadDockDrafts.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                                    </div>
                                    <div class="cell-55 cell">
                                        <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoDockDraftLocation"
                                           data-pk="{{item.ItemID}}"
                                           data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                           data-placeholder="Departure Load Dock Draft"
                                           data-value="{{item.CargoDockDraftLocation}}" data-source="{{page.vesselDrafts}}"
                                           data-save="departureLoadDockDrafts.Save(item)"
                                           tabindex="{{$index}}3">{{ page.showLookupData('VesselDraft', item, item.CargoDockDraftLocation) }}</a>
                                    </div>
                                    <div class="cell-20 cell">
                                        <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoDockDraftHeight"
                                           data-pk="{{item.ItemID}}"
                                           data-placement="bottom" data-type="text"
                                           data-placeholder="Cargo Dock Draft Height"
                                           data-value="{{item.CargoDockDraftHeight}}"
                                           data-save="departureLoadDockDrafts.Save(item)"
                                           tabindex="{{$index}}4">{{item.CargoDockDraftHeight}}</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="row" ng-show="page.security.create">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-default" ng-click="departureLoadDockDrafts.Insert()"><i class="fa fa-plus"></i> Add Departure Load Dock Draft Entry</button>
                        </div>
                    </div><!--/end button container-->
                </div>
                <div class="col-lg-4">
                    <section id="loaddockrates" class="table-data {{cargoLoad.classname}}">
                        <h2 class="table-header">Load Dock Rates</h2>
                        <div class="row">
                            <div class="col-lg-12">
                                <div>
                                    <div class="cell-80 cell">Total Load Time</div>
                                    <div class="cell-20 cell">{{item.CargoTotalLoadTime}}</div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div>
                                    <div class="cell-80 cell">Total Bbls Loaded</div>
                                    <div class="cell-20 cell">{{item.CargoBblsLoaded}}</div>
                                    <div class="clear"></div>
                                </div> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div>
                                    <div class="cell-80 cell">Bbls Per Hour</div>
                                    <div class="cell-20 cell">{{item.CargoBblsLoadedPerHour}}</div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <section id="delays" class="table-data {{delays.classname}}">
                        <h2 class="table-header">Delays</h2>
                        <div class="head-row row">
                            <div class="col-lg-12">
                                <div>
                                    <div class="cell-25 cell" ng-show="page.security.modify && page.trip.IsCurrent"></div>
                                    <div class="cell-25 cell">Cause</div>
                                    <div class="cell-20 cell">Length</div>
                                    <div class="cell-30 cell">Comments</div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="item in delays.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row-{{$index}} row">
                            <div class="col-lg-12">
                                <div>
                                    <div class="cell-25 cell buttons" ng-show="page.security.modify && page.trip.IsCurrent">
                                        <button type="button" class="btn" ng-class="{'btn-primary': item.ItemID === 0}"
                                                ng-click="delays.Save(item, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="delays.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                                    </div>
                                    <div class="cell-25 cell">
                                        <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoDelayCause"
                                           data-pk="{{item.ItemID}}"
                                           data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                           data-placeholder="Delay Cause"
                                           data-value="{{item.CargoDelayCause}}" data-source="{{page.delayCauses}}"
                                           data-save="delays.Save(item)"
                                           tabindex="{{$index}}3">{{ page.showLookupData('DelayCause', item, item.CargoDelayCause) }}</a>
                                    </div>
                                    <div class="cell-20 cell">
                                        <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoDelayLength"
                                           data-pk="{{item.ItemID}}"
                                           data-placement="bottom"
                                           data-apm-number
                                           data-placeholder="Delay Length"
                                           data-value="{{item.CargoDelayLength}}"
                                           data-save="delays.Save(item)"
                                           tabindex="{{$index}}4">{{item.CargoDelayLength}}</a>
                                    </div>
                                    <div class="cell-30 cell">
                                        <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoDelayComments"
                                           data-pk="{{item.ItemID}}"
                                           data-placement="bottom" data-type="text"
                                           data-placeholder="Delay Comments"
                                           data-value="{{item.CargoDelayComments}}"
                                           data-save="delays.Save(item)"
                                           tabindex="{{$index}}5">{{item.CargoDelayComments}}</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="row" ng-show="page.security.create">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-default" ng-click="delays.Insert()"><i class="fa fa-plus"></i> Add Delay Entry</button>
                        </div>
                    </div><!--/end button container-->
                </div>
                
                <div class="col-lg-4">
                    <section id="watergauge" class="table-data {{waterGauges.classname}}">
                        <h2 class="table-header">Water Gauge</h2>
                        <div class="head-row row">
                            <div class="col-lg-12">
                                <div>
                                    <div class="cell-25 cell" ng-show="page.security.modify && page.trip.IsCurrent"></div>
                                    <div class="cell-55 cell">Location</div>
                                    <div class="cell-20 cell">Height</div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="item in waterGauges.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
                            <div class="col-lg-12">
                                <div>
                                    <div class="buttons cell-25 cell" ng-show="page.security.modify && page.trip.IsCurrent">
                                        <button type="button" class="btn" ng-class="{'btn-primary': item.ItemID === 0}"
                                                ng-click="waterGauges.Save(item, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="waterGauges.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                                    </div>
                                    <div class="cell-55 cell">
                                        <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoWaterGaugeLocation"
                                           data-pk="{{item.ItemID}}"
                                           data-placement="bottom" data-type="text"
                                           data-placeholder="Cargo Dock Water Gauge Location"
                                           data-value="{{item.CargoWaterGaugeLocation}}"
                                           data-save="waterGauges.Save(item)"
                                           tabindex="{{$index}}3">{{item.CargoWaterGaugeLocation}}</a>
                                    </div>
                                    <div class="cell-20 cell">
                                        <a href="#" editable="{{page.security.modify}}" data-ng-model="item.CargoWaterGaugeHeight"
                                           data-pk="{{item.ItemID}}"
                                           data-placement="bottom" data-type="text"
                                           data-placeholder="Cargo Dock Water Gauge Height"
                                           data-value="{{item.CargoWaterGaugeHeight}}"
                                           data-save="waterGauges.Save(item)"
                                           tabindex="{{$index}}4">{{item.CargoWaterGaugeHeight}}</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="row" ng-show="page.security.create">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-default" ng-click="waterGauges.Insert()"><i class="fa fa-plus"></i> Add Water Gauge Entry</button>
                        </div>
                    </div><!--end button container-->
                </div>
            </div>
        </div>
    </div>
</section>
<statusmessage></statusmessage>