<section id="fueloilmonthly" class="data engineering lube">
    <div class="row">
        <div class="cal-picker col-lg-3 col-lg-offset-8">
            <p class="input-group">
                <input type="text" class="form-control" show-button-bar="false" datepicker-popup="MM/yyyy"
                       ng-model="page.viewDate" is-open="page.isDatePickerOpened" datepicker-options="page.dateOptions"
                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default fa fa-calendar" ng-click="page.openDatePicker($event)"></button>
                </span>
            </p>
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-info" ng-click="page.today()">Today</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <section class="table-data {{lubeOilUsage.classname}}">
                <h2 class="table-header">Lube Oil Usage</h2>
                <div class="head-row row">
                    <div class="col-lg-12">
                        <div>
                            <div class="cell-10 cell" ng-show="page.security.modify"></div>
                            <div class="cell-14 cell">Trip Number</div>
                            <div class="cell-20 cell">Date/Time</div>
                            <div class="cell-20 cell">Reason</div>
                            <div class="cell-20 cell">Lub Oil Type</div>
                            <div class="cell-16 cell">Consumed</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="usage in lubeOilUsage.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
                    <div class="col-lg-12">
                        <div>
                            <!-- Action Buttons -->
                            <div class="buttons cell-10 cell" ng-show="page.security.modify">
                                <button type="button" class="btn" ng-class="{'btn-primary': usage.ItemID === 0}"
                                        ng-click="lubeOilUsage.Save(usage, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                                <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="lubeOilUsage.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                            </div>
                            <div class="cell-14 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="usage.TripNumber"
                                   data-pk="{{usage.ItemID}}"
                                   data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                                   data-placeholder="Trip Number"
                                   data-value="{{usage.TripNumber}}" data-source="{{page.tripNumbers}}"
                                   data-save="lubeOilUsage.Save(usage)"
                                   tabindex="{{$index}}3">{{ page.showLookupData('TripInformation', usage, usage.TripNumber) }}</a>
                            </div>
                            <div class="cell-20 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="usage.LubeOilUsageDateTime"
                                   data-pk="{{usage.ItemID}}"
                                   data-placement="bottom"
                                   data-apm-datetime
                                   data-placeholder="Date/Time"
                                   data-value="{{usage.LubeOilUsageDateTime | date:page.dateFormat}}"
                                   data-save="lubeOilUsage.Save(usage)"
                                   tabindex="{{$index}}3">{{usage.LubeOilUsageDateTime | date:page.dateFormat}}</a>
                            </div>
                            <div class="cell-20 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="usage.LubeOilUsageReason"
                                   data-pk="{{usage.ItemID}}"
                                   data-placement="bottom" data-type="textarea"
                                   data-placeholder="Reason"
                                   data-value="{{usage.LubeOilUsageReason}}"
                                   data-save="lubeOilUsage.Save(usage)"
                                   tabindex="{{$index}}4">{{ usage.LubeOilUsageReason }}</a>
                            </div>
                            <div class="cell-20 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="usage.LubeOilUsageLOType"
                                   data-pk="{{usage.ItemID}}"
                                   data-placement="bottom" data-type="select2"
                                   data-placeholder="Lube Oil Type" data-source="{{page.lubeOilTypes}}"
                                   data-save="lubeOilUsage.Save(usage)"
                                   tabindex="{{$index}}5">{{ page.showLookupData('LubeOilType', usage, usage.LubeOilUsageLOType) }}</a>
                            </div>
                            <div class="cell-16 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="usage.LubeOilUsageConsumed"
                                   data-pk="{{usage.ItemID}}"
                                   data-placement="bottom" data-apm-number
                                   data-placeholder="Amount Consumed"
                                   data-save="lubeOilUsage.Save(usage)"
                                   tabindex="{{$index}}6">{{ usage.LubeOilUsageConsumed }}</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row" ng-show="page.security.create && monthlyLubeOil.data.length > 0">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default" ng-click="lubeOilUsage.Insert()"><i class="fa fa-plus"></i> Add Usage Entry</button>
                </div>                
            </div>
            <div class="row" ng-show="page.security.create && monthlyLubeOil.data.length === 0">
                <div class="col-lg-12">
                    <em>You must enter monthly information before you can modify this data.</em>
                </div>
            </div>
            <section class="table-data {{lOBunker.classname}}">
                <h2 class="table-header">Lube Oil Bunker</h2>
                <div class="head-row row">
                    <div class="col-lg-12">
                        <div>
                            <div class="cell-10 cell" ng-show="page.security.modify"></div>
                            <div class="cell-20 cell">Date</div>
                            <div class="cell-30 cell">Vendor</div>
                            <div class="cell-30 cell">Lube Oil Type</div>
                            <div class="cell-10 cell">Quantity</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="bunker in lOBunker.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
                    <div class="col-lg-12">
                        <div>
                            <!-- Action Buttons -->
                            <div class="buttons cell-10 cell" ng-show="page.security.modify">
                                <button type="button" class="btn" ng-class="{'btn-primary': bunker.ItemID === 0}"
                                        ng-click="lOBunker.Save(bunker, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                                <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="lOBunker.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                            </div>
                            <div class="cell-20 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="bunker.LOBunkerDateTime"
                                   data-pk="{{bunker.ItemID}}"
                                   data-placement="bottom"
                                   data-apm-date
                                   data-placeholder="Date"
                                   data-value="{{bunker.LOBunkerDateTime | date:'MM/dd/yyyy'}}"
                                   data-save="lOBunker.Save(bunker)"
                                   tabindex="{{$index}}3">{{bunker.LOBunkerDateTime | date:'MM/dd/yyyy'}}</a>
                            </div>
                            <div class="cell-30 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="bunker.LOBunkerVendor"
                                   data-pk="{{bunker.ItemID}}"
                                   data-placement="bottom" data-type="select2"
                                   data-placeholder="Vendor" data-source="{{page.fuelOilVendors}}"
                                   data-value="{{bunker.LOBunkerVendor}}"
                                   data-save="lOBunker.Save(bunker)"
                                   tabindex="{{$index}}4">{{ page.showLookupData('FuelOilVendor', bunker, bunker.LOBunkerVendor) }}</a>
                            </div>
                            <div class="cell-30 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="bunker.LOBunkerLOType"
                                   data-pk="{{bunker.ItemID}}"
                                   data-placement="bottom" data-type="select2"
                                   data-placeholder="Lube Oil Type" 
                                   data-value="{{bunker.LOBunkerLOType}}" data-source="{{page.lubeOilTypes}}"
                                   data-save="lOBunker.Save(bunker)"
                                   tabindex="{{$index}}5">{{ page.showLookupData('LubeOilType', bunker, bunker.LOBunkerLOType) }}</a>
                            </div>
                            <div class="cell-10 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="bunker.LOBunkerQuantity"
                                   data-pk="{{bunker.ItemID}}"
                                   data-placement="bottom" data-apm-number
                                   data-placeholder="Quantity"
                                   data-save="lOBunker.Save(bunker)"
                                   tabindex="{{$index}}5">{{ bunker.LOBunkerQuantity }}</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row" ng-show="page.security.create">
                <div class="col-lg-8">
                    <button type="button" class="btn btn-default" ng-click="lOBunker.Insert()"><i class="fa fa-plus"></i> Add Bunker Entry</button>
                </div>
            </div>
        </div><!--/col-lg-8-->
        <div class="col-lg-4">
            <section class="table-data {{monthlyLubeOil.classname}}">
                <h2 class="table-header">Monthly Lube Oil</h2>
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <div class="cell-25 cell" ng-show="page.security.modify"></div>
                            <div class="cell-40 cell">&nbsp;</div>
                            <div class="cell-35 cell right">Gallons</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="head-row special-head row">
                    <div class="col-lg-12">
                        <div>
                            <div class="cell-100 cell center">Month Starting LO</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="monthly in monthlyLubeOil.data" class="row row-{{$index}}">
                    <div class="col-lg-12">
                        <div>
                            <!-- Action Buttons -->
                            <div class="buttons cell-25 cell" ng-show="page.security.modify">
                                <button type="button" class="btn" ng-class="{'btn-primary': monthly.ItemID === 0}"
                                        ng-click="monthlyLubeOil.Save(monthly, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                                <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="monthlyLubeOil.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                            </div>
                            <div class="cell-40 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="monthly.MonthlyLubeOilStartType"
                                   data-pk="{{monthly.ItemID}}"
                                   data-placement="left" data-type="select2"
                                   data-placeholder="Lube Oil Type" 
                                   data-value="{{monthly.MonthlyLubeOilStartType}}" data-source="{{page.lubeOilTypes}}"
                                   data-save="monthlyLubeOil.Save(monthly)"
                                   tabindex="{{$index}}5">{{ page.showLookupData('LubeOilType', monthly, monthly.MonthlyLubeOilStartType) }}</a>
                            </div>
                            <div class="cell-35 cell right">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="monthly.MonthlyLubeOilStartGallons"
                                   data-pk="{{monthly.ItemID}}"
                                   data-placement="left" data-apm-number
                                   data-placeholder="LO Start Gallons"
                                   data-save="monthlyLubeOil.Save(monthly)"
                                   tabindex="{{$index}}6">{{ monthly.MonthlyLubeOilStartGallons }}</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>

                <!-- Month Ending -->
                <div class="head-row special-head row">
                    <div class="col-lg-12">
                        <div>
                            <div class="cell-100 cell center">Monthly Ending LO</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="monthly in monthlyLubeOil.data" class="row row-{{$index}} row-clear-dirty">
                    <div class="col-lg-12">
                        <div>
                            <!-- Action Buttons -->
                            <div class="buttons cell-25 cell" ng-show="page.security.modify"></div>
                            <div class="cell-40 cell">
                                {{monthly.MonthlyLubeOilStartType}}
                            </div>
                            <div class="cell-35 cell right">
                                {{ monthly.MonthlyLubeOilEndGallons }}
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>

                <!-- Monthly Burn -->
                <div class="head-row special-head row">
                    <div class="col-lg-12">
                        <div>
                            <div class="cell-100 cell center">Monthly LO Burn</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="monthly in monthlyLubeOil.data" class="row row-{{$index}} row-clear-dirty">
                    <div class="col-lg-12">
                        <div>
                            <!-- Action Buttons -->
                            <div class="buttons cell-25 cell" ng-show="page.security.modify"></div>
                            <div class="cell-40 cell">
                                {{monthly.MonthlyLubeOilStartType}}
                            </div>
                            <div class="cell-35 cell right">
                                {{ monthly.MonthlyLubeOilBurnGallons }}
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row" ng-show="page.security.create">
                <div class="col-lg-8">
                    <button type="button" class="btn btn-default" ng-click="monthlyLubeOil.Insert()"><i class="fa fa-plus"></i> Add Monthly Lube Oil</button>
                </div>
            </div>
        </div><!--/col-lg-4-->
    </div><!--/row-->
<statusmessage></statusmessage>
</section>



