<div class="modal-header" ng-class="modalOptions.modalHeaderCss">
    <h3>{{modalOptions.headerText}}</h3>
</div>
<div class="modal-dialog modal-md">
    <div class="modal-body" ng-bind-html="modalOptions.bodyText" ng-class="modalOptions.modalBodyCss">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-ng-click="modalOptions.ok()">{{modalOptions.actionButtonText}}</button>
        <button type="button" ng-show="modalOptions.closeButtonText" type="button" class="btn" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
    </div>
</div>
