<section id="morningreport" class="data log morning-report">
    <!-- Date Picker -->
    <div class="top-row row">
        <div class="cal-picker col-lg-3 col-lg-offset-8">
            <p class="input-group">
                <input type="text" class="form-control" show-button-bar="false" datepicker-popup="{{page.dateFormat}}" ng-model="page.viewDate"
                       is-open="page.isDatePickerOpened" datepicker-options="page.dateOptions" date-disabled="disabled(date, mode)"
                       ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default fa fa-calendar" ng-click="page.openDatePicker($event)"></button>
                </span>
            </p>
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-info btn-today" ng-click="page.today()">Today</button>
        </div>
    </div>
    <!-- Repeater -->
    <div ng-repeat="item in morningReport.data" ng-if="$first">
        <div class="table-data">
            <!-- Vessel -->
            <div class="row odd">
                <div class="col-lg-12">
                    <div>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="cell-20 cell">
                                    <strong>Vessel Name</strong>
                                </div>
                                <div class="cell-80 cell">
                                    {{page.vessel.VesselName}}
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="col-lg-3">
                                <div class="cell-20 cell">
                                    <strong>DATE:</strong>
                                </div>
                                <div class="cell">
                                    {{item.MorningReportDateTime | date:page.datePickerOpts.format}}
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="col-lg-4">
                                <div class="cell-20 cell">
                                    <strong>TRIP#:</strong>
                                </div>
                                <div class="cell-80 cell">
                                    {{item.TripNumber}}
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/end top row-->
            <!-- Load Port -->
            <div class="row even">
                <div class="col-lg-12">
                    <div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="cell-100 cell">
                                    Load Port:
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="cell-100 cell">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="item.MorningReportLoadPort"
                                       data-pk="{{item.ItemID}}"
                                       data-placement="bottom" data-type="select2"
                                       data-placeholder="Load Dock" data-emptytext="Load Dock?"
                                       data-value="{{item.MorningReportLoadPort}}" data-source="{{page.terminalDocks}}"
                                       data-save="morningReport.Save(item)"
                                       tabindex="{{$index}}9">{{ page.showLookupData('TerminalDockName', item, item.MorningReportLoadPort) }}</a>
                                </div>
                            </div>
                            <!--<div class="clear"></div>-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Present Position -->
            <div class="row odd">
                <div class="col-lg-12">
                    <div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="cell-100 cell">
                                    Present Position:
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="cell-100 cell">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="item.MorningReportPresentPositionComment"
                                       data-pk="{{item.ItemID}}"
                                       data-placement="bottom" data-type="text"
                                       data-placeholder="Position" data-emptytext="Position"
                                       data-value="{{item.MorningReportPresentPositionComment}}"
                                       data-save="morningReport.Save(item)"
                                       tabindex="{{$index}}3">{{item.MorningReportPresentPositionComment}}</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Next/Last Departure -->
            <div class="row even">
                <div class="col-lg-12">
                    <div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="cell-100 cell">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="item.MorningReportNextLastDepartureType"
                                       data-pk="{{item.ItemID}}"
                                       data-placement="bottom" data-type="select2"
                                       data-placeholder="Departure Type" data-emptytext="Departure Type?"
                                       data-value="{{item.MorningReportNextLastDepartureType}}" data-source="{{page.departureTypes}}"
                                       data-save="morningReport.Save(item)"
                                       tabindex="{{$index}}1">{{ page.showLookupData('DepartureType', item, item.MorningReportNextLastDepartureType) }}</a>
                                </div>
                            </div><!--/col-lg-3-->
                            <div class="col-lg-5">
                                <div class="cell-100 cell">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="item.MorningReportNextLastComment"
                                       data-pk="{{item.ItemID}}"
                                       data-placement="bottom" data-type="text"
                                       data-placeholder="Position" data-emptytext="Position"
                                       data-value="{{item.MorningReportNextLastComment}}"
                                       data-save="morningReport.Save(item)"
                                       tabindex="{{$index}}3">{{item.MorningReportNextLastComment}}</a>
                                </div>
                                <div class="cell-20 cell">
                                    Transit Time:
                                </div>
                                <div class="cell-80 cell">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="item.MorningReportNextLastTransitTime"
                                       data-pk="{{item.ItemID}}"
                                       data-placement="bottom" data-apm-number
                                       data-placeholder="Transit Time"
                                       data-value="{{item.MorningReportNextLastTransitTime}}"
                                       data-save="morningReport.Save(item)"
                                       tabindex="{{$index}}3">{{item.MorningReportNextLastTransitTime}}</a>
                                </div>
                            </div><!--/col-lg-5-->
                            <div class="col-lg-4">
                                <div class="cell-20 cell">
                                    Date/Time:
                                </div>
                                <div class="cell-80 cell">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="item.MorningReportNextLastDateTime"
                                       data-pk="{{item.ItemID}}"
                                       data-placement="bottom"
                                       data-apm-datetime
                                       data-placeholder="Date/Time"
                                       data-value="{{item.MorningReportNextLastDateTime}}"
                                       data-save="morningReport.Save(item)"
                                       tabindex="{{$index}}3">{{item.MorningReportNextLastDateTime}}</a>
                                </div>
                                <div class="cell-20 cell">
                                    Delay Time:
                                </div>
                                <div class="cell-80 cell">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="item.MorningReportNextLastDelayTime"
                                       data-pk="{{item.ItemID}}"
                                       data-placement="bottom" data-apm-number
                                       data-placeholder="Delay Time"
                                       data-value="{{item.MorningReportNextLastDelayTime}}"
                                       data-save="morningReport.Save(item)"
                                       tabindex="{{$index}}3">{{item.MorningReportNextLastDelayTime}}</a>
                                </div>
                                <div class="cell-20 cell">
                                    Delay:
                                </div>
                                <div class="cell-80 cell">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="item.MorningReportNextLastDelay"
                                       data-pk="{{item.ItemID}}"
                                       data-placement="bottom" data-type="textarea"
                                       data-placeholder="Delay Comment" data-emptytext="Delay Comment?"
                                       data-value="{{item.MorningReportNextLastDelay}}"
                                       data-save="morningReport.Save(item)"
                                       tabindex="{{$index}}3">{{item.MorningReportNextLastDelay}}</a>
                                </div>
                            </div><!--/col-lg-4-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Next Due Port -->
            <div class="row odd">
                <div class="col-lg-12">
                    <div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="cell-100 cell">
                                    Next Due Port:
                                </div>
                            </div><!--/col-lg-3-->
                            <div class="col-lg-5">
                                <div class="cell-100 cell">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="item.MorningReportNextDuePortComment"
                                       data-pk="{{item.ItemID}}"
                                       data-placement="bottom" data-type="text"
                                       data-placeholder="Position" data-emptytext="Position"
                                       data-value="{{item.MorningReportNextDuePortComment}}"
                                       data-save="morningReport.Save(item)"
                                       tabindex="{{$index}}3">{{item.MorningReportNextDuePortComment}}</a>
                                </div>
                                <div class="cell-30 cell">
                                    Load/Discharge Time:
                                </div>
                                <div class="cell-70 cell">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="item.MorningReportNextDuePortLoadDischargeTime"
                                       data-pk="{{item.ItemID}}"
                                       data-placement="bottom" data-apm-number
                                       data-placeholder="Time"
                                       data-value="{{item.MorningReportNextDuePortLoadDischargeTime}}"
                                       data-save="morningReport.Save(item)"
                                       tabindex="{{$index}}3">{{item.MorningReportNextDuePortLoadDischargeTime}}</a>
                                </div>
                                <div class="clear"></div>
                            </div><!--/col-lg-5-->
                            <div class="col-lg-4">
                                <div class="cell-20 cell">
                                    Date/Time:
                                </div>
                                <div class="cell-80 cell">
                                    {{item.MorningReportNextDuePortDateTime | date:page.datetimePickerOpts.format}}
                                </div>
                                <div class="cell-20 cell">
                                    Delay Time:
                                </div>
                                <div class="cell-80 cell">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="item.MorningReportNextDuePortDelayTime"
                                       data-pk="{{item.ItemID}}"
                                       data-placement="bottom" data-apm-number
                                       data-placeholder="Delay Time"
                                       data-value="{{item.MorningReportNextDuePortDelayTime}}"
                                       data-save="morningReport.Save(item)"
                                       tabindex="{{$index}}3">{{item.MorningReportNextDuePortDelayTime}}</a>
                                </div>
                                <div class="cell-20 cell">
                                    Delay:
                                </div>
                                <div class="cell-80 cell">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="item.MorningReportNextDuePortDelay"
                                       data-pk="{{item.ItemID}}"
                                       data-placement="bottom" data-type="textarea"
                                       data-placeholder="Delay" data-emptytext="Delay Comment?"
                                       data-value="{{item.MorningReportNextDuePortDelay}}"
                                       data-save="morningReport.Save(item)"
                                       tabindex="{{$index}}3">{{item.MorningReportNextDuePortDelay}}</a>
                                </div>
                                <div class="clear"></div>
                            </div><!--/col-lg-4-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Next Departure -->
            <div class="row even">
                <div class="col-lg-12">
                    <div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="cell-100 cell">
                                    Next Departure:
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="cell-100 cell">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="item.MorningReportNextDepartureComment"
                                       data-pk="{{item.ItemID}}"
                                       data-placement="bottom" data-type="text"
                                       data-placeholder="Position" data-emptytext="Position"
                                       data-value="{{item.MorningReportNextDepartureComment}}"
                                       data-save="morningReport.Save(item)"
                                       tabindex="{{$index}}3">{{item.MorningReportNextDepartureComment}}</a>
                                </div>
                                <div class="cell-20 cell">
                                    Transit Time:
                                </div>
                                <div class="cell-80 cell">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="item.MorningReportNextDepartureTransitTime"
                                       data-pk="{{item.ItemID}}"
                                       data-placement="bottom" data-apm-number
                                       data-placeholder="Transit Time"
                                       data-value="{{item.MorningReportNextDepartureTransitTime}}"
                                       data-save="morningReport.Save(item)"
                                       tabindex="{{$index}}3">{{item.MorningReportNextDepartureTransitTime}}</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="col-lg-4">
                                <div class="cell-20 cell">
                                    Date/Time:
                                </div>
                                <div class="cell-80 cell">
                                    {{item.MorningReportNextDepartureDateTime | date:page.datetimePickerOpts.format}}
                                </div>
                                <div class="cell-20 cell">
                                    Delay Time:
                                </div>
                                <div class="cell-80 cell">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="item.MorningReportNextDepartureDelayTime"
                                       data-pk="{{item.ItemID}}"
                                       data-placement="bottom" data-apm-number
                                       data-placeholder="Next Departure Delay Time"
                                       data-value="{{item.MorningReportNextDepartureDelayTime}}"
                                       data-save="morningReport.Save(item)"
                                       tabindex="{{$index}}3">{{item.MorningReportNextDepartureDelayTime}}</a>
                                </div>
                                <div class="cell-20 cell">
                                    Delay:
                                </div>
                                <div class="cell-80 cell">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="item.MorningReportNextDepartureDelay"
                                       data-pk="{{item.ItemID}}"
                                       data-placement="bottom" data-type="textarea"
                                       data-placeholder="Delay" data-emptytext="Delay Comment?"
                                       data-value="{{item.MorningReportNextDepartureDelay}}"
                                       data-save="morningReport.Save(item)"
                                       tabindex="{{$index}}3">{{item.MorningReportNextDepartureDelay}}</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Next Desintation -->
            <div class="row odd">
                <div class="col-lg-12">
                    <div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="cell-100 cell">
                                    Next Destination:
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="cell-100 cell">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="item.MorningReportNextDestinationComment"
                                       data-pk="{{item.ItemID}}"
                                       data-placement="bottom" data-type="text"
                                       data-placeholder="Position" data-emptytext="Position"
                                       data-value="{{item.MorningReportNextDestinationComment}}"
                                       data-save="morningReport.Save(item)"
                                       tabindex="{{$index}}3">{{item.MorningReportNextDestinationComment}}</a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="cell-20 cell">
                                    ETA:
                                </div>
                                <div class="cell-80 cell">
                                    {{item.MorningReportNextDestinationETA | date:page.datetimePickerOpts.format}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Drop Down Selections -->
            <div class="row even">
                <div class="col-lg-12">
                    <div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="cell-50 cell">
                                    <strong>WIND DIRECTION:</strong>
                                </div>
                                <div class="cell-50 cell">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="item.MorningReportWindDirection"
                                       data-pk="{{item.ItemID}}"
                                       data-placement="bottom" data-type="select2"
                                       data-placeholder="Wind Direction" data-emptytext="Wind Direction?"
                                       data-value="{{item.MorningReportWindDirection}}" data-source="{{page.windDirections}}"
                                       data-save="morningReport.Save(item)"
                                       tabindex="{{$index}}5">{{ page.showLookupData('WindDirection', item, item.MorningReportWindDirection) }}</a>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="cell-20 cell">
                                    <strong>SPEED:</strong>
                                </div>
                                <div class="cell-80 cell">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="item.MorningReportWindSpeed"
                                       data-pk="{{item.ItemID}}"
                                       data-placement="bottom" data-type="select2"
                                       data-placeholder="Wind Speed" data-emptytext="Wind Speed?"
                                       data-value="{{item.MorningReportWindSpeed}}" data-source="{{page.windSpeeds}}"
                                       data-save="morningReport.Save(item)"
                                       tabindex="{{$index}}6">{{ page.showLookupData('WindSpeed', item, item.MorningReportWindSpeed) }}</a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="cell-20 cell">
                                    <strong>SEA:</strong>
                                </div>
                                <div class="cell-80 cell">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="item.MorningReportSeaState"
                                       data-pk="{{item.ItemID}}"
                                       data-placement="bottom" data-type="select2"
                                       data-placeholder="Sea State" data-emptytext="Sea State?"
                                       data-value="{{item.MorningReportSeaState}}" data-source="{{page.seaStates}}"
                                       data-save="morningReport.Save(item)"
                                       tabindex="{{$index}}8">{{ page.showLookupData('SeaState', item, item.MorningReportSeaState) }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Vessel Arrangement -->
            <div class="row odd">
                <div class="col-lg-12">
                    <div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="cell-100 cell">
                                    <strong>VESSEL ARRANGEMENT:</strong>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="cell-100 cell">
                                    <a href="#" editable="{{page.security.modify}}" data-ng-model="item.MorningReportVesselConfiguration"
                                       data-pk="{{item.ItemID}}"
                                       data-placement="bottom" data-type="select2"
                                       data-placeholder="Vessel Configuration" data-emptytext="Vessel Configuration?"
                                       data-value="{{item.MorningReportVesselConfiguration}}" data-source="{{page.vesselConfigurations}}"
                                       data-save="morningReport.Save(item)"
                                       tabindex="{{$index}}1">{{ page.showLookupData('VesselConfiguration', item, item.MorningReportVesselConfiguration) }}</a>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div><!--/table-data-->
            <!-- Action Buttons -->
            <div class="row" ng-show="page.security.create">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default" ng-click="morningReport.Save(item)"><i class="fa fa-plus"></i> Save Morning Report</button>
                </div>
            </div>
            <div class="clear"></div>
            <statusmessage></statusmessage>
        </div><!--/ng-repeat-->
</section>