<section id="nearmiss" class="data log near-miss">
    <div class="row">
        <div class="cal-picker col-lg-3 col-lg-offset-8">
            <p class="input-group">
                <input type="text" class="form-control" show-button-bar="false" datepicker-popup="yyyy"
                       ng-model="page.viewDate" is-open="page.isDatePickerOpened" datepicker-options="page.dateOptions"
                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default fa fa-calendar" ng-click="page.openDatePicker($event)"></button>
                </span>
            </p>
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-info" ng-click="page.today()">Today</button>
        </div>
    </div>
    <section class="table-data {{nearMiss.classname}}">
        <div class="head-row row">
            <div class="col-lg-12">
                <div>
                    <div class="cell" ng-show="page.security.create && page.trip.IsCurrent"></div>
                    <div class="cell-14 cell">Date/Time</div>
                    <div class="cell-30 cell">Situation</div>
                    <div class="cell-18 cell">Cause</div>
                    <div class="cell">Severity</div>
                    <div class="cell-10 cell">Probability</div>
                    <div class="cell-12 cell">Generate Form</div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div ng-repeat="miss in nearMiss.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
            <div class="col-lg-12">
                <div>
                    <!-- Action Buttons -->
                    <div class="cell buttons" ng-show="page.security.create && page.trip.IsCurrent">
                        <button type="button" class="btn" ng-class="{'btn-primary': miss.ItemID === 0}"
                                ng-click="nearMiss.Save(miss, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                        <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="nearMiss.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                    </div>
                    <div class="cell-14 cell">
                        <a href="#" editable="{{page.security.create}}" data-ng-model="miss.NearMissDateTime"
                            data-pk="{{miss.ItemID}}"
                           data-placement="bottom"
                           data-apm-datetime
                           data-placeholder="Date/Time"
                           data-value="{{miss.NearMissDateTime | date:page.dateFormat}}"
                           data-save="nearMiss.Save(miss)"
                           tabindex="{{$index}}3">{{miss.NearMissDateTime | date:page.dateFormat}}</a>
                    </div>
                    <div class="cell-30 cell">
                        <a href="#" editable="{{page.security.create}}" data-ng-model="miss.NearMissUnsafeAct"
                            data-pk="{{miss.ItemID}}"
                           data-placement="bottom" data-type="select2"
                           data-placeholder="Situation" data-select2="{{page.select2Options}}"
                           data-value="{{miss.NearMissUnsafeAct}}" data-source="{{page.unsafeActs}}"
                           data-save="nearMiss.Save(miss)"
                           tabindex="{{$index}}4">{{ page.showLookupData('UnsafeAct', miss, miss.NearMissUnsafeAct) | viewTags }}</a>
                    </div>
                    <div class="cell-18 cell">
                        <a href="#" editable="{{page.security.create}}" data-ng-model="miss.NearMissCause"
                            data-pk="{{miss.ItemID}}"
                           data-placement="bottom" data-type="textarea"
                           data-placeholder="Near Miss Cause"
                           data-value="{{miss.NearMissCause}}"
                           data-save="nearMiss.Save(miss)"
                           tabindex="{{$index}}5">{{ miss.NearMissCause }}</a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.create}}" data-ng-model="miss.NearMissSeverity"
                            data-pk="{{miss.ItemID}}"
                           data-placement="bottom" data-type="select2"
                           data-placeholder="Severity"
                           data-value="{{miss.NearMissSeverity}}" data-source="{{page.levels}}"
                           data-save="nearMiss.Save(miss)"
                           tabindex="{{$index}}6">{{ page.showLookupData('Level', miss, miss.NearMissSeverity) }}</a>
                    </div>
                    <div class="cell-10 cell">
                        <a href="#" editable="{{page.security.create}}" data-ng-model="miss.NearMissProbability"
                            data-pk="{{miss.ItemID}}"
                           data-placement="bottom" data-type="select2"
                           data-placeholder="Probability"
                           data-value="{{miss.NearMissProbability}}" data-source="{{page.levels}}"
                           data-save="nearMiss.Save(miss)"
                           tabindex="{{$index}}7">{{ page.showLookupData('Level', miss, miss.NearMissProbability) }}</a>
                    </div>
                    <div class="cell-12 cell">
                        <button type="button" class="btn btn-default" tabindex="{{$index}}8" ng-click="nearMiss.GenerateForm(miss)">Generate Form</button>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section><!--/table-data-->
    <div class="row" ng-show="page.security.create">
        <div class="col-lg-12">
            <button type="button" class="btn btn-default" ng-click="nearMiss.Insert()" ng-show="page.isToday()"><i class="fa fa-plus"></i> Add Near Miss Entry</button>
        </div>
    </div>
    <statusmessage></statusmessage>
</section>