<section id="safetyreport" class="data log safety-report">
    <div class="row">
        <div class="cal-picker col-lg-3 col-lg-offset-8">
            <p class="input-group">
                <input type="text" class="form-control" show-button-bar="false" datepicker-popup="yyyy"
                       ng-model="page.viewDate" is-open="page.isDatePickerOpened" datepicker-options="page.dateOptions"
                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default fa fa-calendar" ng-click="page.openDatePicker($event)"></button>
                </span>
            </p>
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-info" ng-click="page.today()">Today</button>
        </div>
    </div>
    <section class="table-data {{safety.classname}}">
        <div class="head-row row">
            <div class="col-lg-12">
                <div>
                    <div class="cell" ng-show="page.security.create && page.trip.IsCurrent"></div>
                    <div class="cell-12 cell">Date/Time</div>
                    <div class="cell-12 cell">Position</div>
                    <div class="cell">Type</div>
                    <div class="cell-12 cell">Name</div>
                    <div class="cell-10 cell">Role</div>
                    <div class="cell-12 cell">Equipment</div>
                    <div class="cell-14 cell">Cause</div>
                    <div class="cell-12 cell">Generate Form</div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div ng-repeat="safe in safety.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
            <div class="col-lg-12">
                <div>
                    <!-- Action Buttons -->
                    <div class="cell buttons" ng-show="page.security.create && page.trip.IsCurrent">
                        <button type="button" class="btn" ng-show="safe.ItemID===0" ng-class="{'btn-primary': safe.ItemID === 0}"
                                ng-click="safety.Save(safe, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                        <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="safety.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                    </div>
                    <div class="cell-12 cell">
                        <a href="#" editable="{{page.security.create}}" data-ng-model="safe.SafetyDateTime"
                           data-pk="{{safe.ItemID}}"
                           data-placement="bottom"
                           data-apm-datetime
                           data-placeholder="Date/Time"
                           data-value="{{safe.SafetyDateTime | date:page.dateFormat}}"
                           data-save="safety.save(safe)"
                           tabindex="{{$index}}3">{{safe.SafetyDateTime | date:page.dateFormat}}</a>
                    </div>
                    <div class="cell-12 cell">
                        <a href="#" editable="{{page.security.create}}" data-ng-model="safe.SafetyPosition"
                           data-pk="{{safe.ItemID}}"
                           data-placement="bottom" data-type="text"
                           data-placeholder="Position"
                           data-value="{{safe.SafetyPosition}}"
                           data-save="safety.Save(safe)"
                           tabindex="{{$index}}4">{{ safe.SafetyPosition }}</a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.create}}" data-ng-model="safe.SafetyType"
                           data-pk="{{safe.ItemID}}"
                           data-placement="bottom" data-type="select2"
                           data-placeholder="Select a Type"
                           data-value="{{safe.SafetyType}}" data-source="{{page.safetyTypes}}"
                           data-save="safety.Save(safe)"
                           tabindex="{{$index}}5">{{ page.showLookupData('SafetyType', safe, safe.SafetyType) }}</a>
                    </div>
                    <div class="cell-12 cell">
                        <a href="#" editable="{{page.security.create}}" data-ng-model="safe.SafetyName"
                           data-pk="{{safe.ItemID}}"
                           data-placement="bottom" data-type="select2"
                           data-placeholder="Select Crew Member"
                           data-value="{{safe.SafetyName}}" data-source="{{page.crewMembers}}"
                           data-save="safety.Save(safe)" data-ng-change="safety.UpdateRole(safe, {{$index}})"
                           tabindex="{{$index}}6">{{ page.showLookupData('CrewMember', safe, safe.SafetyName) }}</a>
                    </div>
                    <div class="cell-10 cell">
                        {{ safe.SafetyRole }}
                    </div>
                    <div class="cell-12 cell">
                        <a href="#" editable="{{page.security.create}}" data-ng-model="safe.SafetyEquipment"
                           data-pk="{{safe.ItemID}}"
                           data-placement="bottom" data-type="text"
                           data-placeholder="Select Equipment"
                           data-value="{{safe.SafetyEquipment}}"
                           data-save="safety.Save(safe)"
                           tabindex="{{$index}}7">{{ safe.SafetyEquipment }}</a>
                    </div>
                    <div class="cell-14 cell">
                        <a href="#" editable="{{page.security.create}}" data-ng-model="safe.SafetyCause"
                           data-pk="{{safe.ItemID}}"
                           data-placement="bottom" data-type="textarea"
                           data-placeholder="Select a Cause"
                           data-value="{{safe.SafetyCause}}"
                           data-save="safety.Save(safe)"
                           tabindex="{{$index}}8">{{ safe.SafetyCause }}</a>
                    </div>
                    <div class="cell-12 cell">
                        <button type="button" class="btn btn-default" tabindex="{{$index}}9" ng-click="safety.GenerateForm(safe)">Generate Form</button>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section><!--/table-data-->
    <div class="row" ng-show="page.security.create">
        <div class="col-lg-12">
            <button type="button" class="btn btn-default" ng-click="safety.Insert()" ng-show="page.isToday()"><i class="fa fa-plus"></i> Add Safety Report</button>
        </div>
    </div>
    <statusmessage></statusmessage>
</section>