<section id="payroll" class="data log payroll">
    <div class="row">
        <div class="col-lg-12">
            <div class="picker-right cal-picker col-lg-offset-4 col-lg-3">
                <p class="input-group">
                    <input type="text" class="form-control" show-button-bar="false" datepicker-popup="yyyy"
                           ng-model="page.viewDate" is-open="page.isDatePickerOpened" datepicker-options="page.dateOptions"
                           date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default fa fa-calendar" ng-click="page.openDatePicker($event)"></button>
                    </span>
                </p>
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn btn-info btn-right" ng-click="page.today()">Today</button>
            </div>
        </div>
        <div class="col-lg-8">
            <section class="table-data {{safetyMeeting.classname}}">
                <div class="head-row row">
                    <div class="col-lg-12">
                        <div>
                            <div class="cell-10 cell" ng-show="page.security.create && page.trip.IsCurrent"></div>
                            <div class="cell-20 cell">Date/Time</div>
                            <div class="cell-50 cell">Topics Discussed</div>
                            <div class="cell-20 cell">Generate Form</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="safe in safetyMeeting.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
                    <div class="col-lg-12">
                        <div>
                            <!-- Action Buttons -->
                            <div class="cell-10 cell buttons" ng-show="page.security.create && page.trip.IsCurrent">
                                <button type="button" class="btn" ng-class="{'btn-primary': safe.ItemID === 0}"
                                        ng-click="safetyMeeting.Save(safe, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                                <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="safetyMeeting.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                            </div>
                            <div class="cell-20 cell">
                                <a href="#" editable="{{page.security.create}}" data-ng-model="safe.SafetyMeetingDateTime"
                                   data-pk="{{safe.ItemID}}"
                                   data-placement="bottom"
                                   data-apm-datetime
                                   data-placeholder="Date/Time"
                                   data-value="{{safe.SafetyMeetingDateTime | date:page.dateFormat}}"
                                   data-save="safetyMeeting.Save(safe)"
                                   tabindex="{{$index}}3">{{safe.SafetyMeetingDateTime | date:page.dateFormat}}</a>
                            </div>
                            <div class="cell-50 cell">
                                <a href="#" editable="{{page.security.create}}" data-ng-model="safe.SafetyMeetingTopicsDiscussed"
                                   data-pk="{{safe.ItemID}}"
                                   data-placement="bottom" data-type="select2"
                                   data-placeholder="Topics Discussed" data-select2="{{page.select2Options}}"
                                   data-value="{{safe.SafetyMeetingTopicsDiscussed}}" data-source="{{page.topicsDiscussed}}"
                                   data-save="safetyMeeting.Save(safe)"
                                   tabindex="{{$index}}4">{{ page.showLookupData('SafetyMeetingTopicsDiscussed', safe, safe.SafetyMeetingTopicsDiscussed ) | viewTags }}</a>
                            </div>
                            <div class="cell-20 cell">
                                <button type="button" class="btn btn-default" tabindex="{{$index}}5" ng-click="safetyMeeting.GenerateForm(safe)">Generate Form</button>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row" ng-show="page.security.create">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default" ng-click="safetyMeeting.Insert()" ng-show="page.isToday()"><i class="fa fa-plus"></i> Add Safety Meeting</button>
                </div>
            </div>
        </div>       
    </div>
    <statusmessage></statusmessage>
</section>