<div class="loading-message fade in modal-backdrop" ng-show="!page.complete">
    <div class="center"><i class="message fa fa-spinner fa-spin"></i> Loading</div>
</div>
<alert class="fade in" ng-repeat="alert in page.alerts" type="{{alert.type}}" close="page.closeAlert($index)" ng-bind-html="alert.msg"></alert>