<section id="tripinfo" class="data log trip">
    <!-- current trip -->
    <alert class="row fade in" ng-show="!tripInfo.data[0].IsActive" ng-show="!tripInfo.data[0].IsActive" type="warning">
        <i class="fa fa-exclamation-triangle"></i>You are not on an active trip. Viewing data from trip #{{tripInfo.data[0].TripNumber}}.
        <button type="button" ng-show="page.security.modify" class="btn btn-primary" ng-click="tripInfo.StartTrip()">Start Next Trip</button>
    </alert>
    <!-- end trip -->
    <alert class="row fade in" ng-show="tripInfo.data[0].IsActive" type="success">
        <i class="fa fa-exclamation-triangle"></i>You are currently active in Trip #{{tripInfo.data[0].TripNumber}}
        <button type="button" ng-show="page.security.modify" class="btn btn-primary" ng-click="tripInfo.EndTrip()">End Trip</button>
    </alert>
    <section class="table-data {{tripInfo.classname}}">
        <div class="head-row row">
            <div class="col-lg-12">
                <div>
                    <div class="cell-6 cell" ng-show="page.security.modify"></div>
                    <div class="cell cell">Status</div>
                    <div class="cell cell">Number</div>
                    <div class="cell-15 cell">Position</div>
                    <div class="cell-15 cell">Destination</div>
                    <div class="cell cell">ETD</div>
                    <div class="cell cell">ETA Destination</div>
                    <div class="cell">EST Speed</div>
                    <div class="cell cell">Total Distance</div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="trip in tripInfo.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
            <div class="col-lg-12">
                <div>
                    <!-- Action Buttons -->
                    <div class="buttons cell-6 cell" ng-show="page.security.modify">
                        <button type="button" class="btn" ng-class="{'btn-primary': trip.ItemID === 0}"
                                ng-click="tripInfo.Save(trip)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                    </div>
                    <div class="cell">
                        <span ng-show="trip.IsCurrent">Current Trip</span>
                        <span ng-show="trip.IsNext">Next Trip</span>
                        <span ng-show="!trip.IsNext && !trip.IsCurrent">Last Trip</span>
                    </div>
                    <div class="cell">
                        <a href="#" ng-show="trip.IsNext" editable="{{page.security.modify && trip.IsNext}}" data-ng-model="trip.TripNumber"
                           data-pk="{{trip.ItemID}}"
                           data-placement="bottom" data-type="text"
                           data-apm-tripnumber
                           data-placeholder="Trip Number"
                           data-value="{{trip.TripNumber}}"
                           data-save="tripInfo.Save(trip)"
                           tabindex="{{$index}}2">{{trip.TripNumber}}</a>
                        <span ng-show="!trip.IsNext">{{trip.TripNumber}}</span>
                    </div>
                    <div class="cell-15 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="trip.TripPosition"
                           data-pk="{{trip.ItemID}}"
                           data-placement="bottom" data-type="text"
                           data-placeholder="Position"
                           data-value="{{trip.TripPosition}}"
                           data-save="tripInfo.Save(trip)"
                           tabindex="{{$index}}2">{{trip.TripPosition}}</a>
                    </div>
                    <div class="cell-15 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="trip.TripDestination"
                           data-pk="{{trip.ItemID}}"
                           data-placement="bottom" data-type="text"
                           data-placeholder="Destination"
                           data-value="{{trip.TripDestination}}"
                           data-save="tripInfo.Save(trip)"
                           tabindex="{{$index}}3">{{trip.TripDestination}}</a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="trip.TripETD"
                           data-pk="{{trip.ItemID}}"
                           data-placement="bottom" data-type="text"
                           data-placeholder="ETD"
                           data-value="{{trip.TripETD}}"
                           data-save="tripInfo.Save(trip)"
                           tabindex="{{$index}}4">{{trip.TripETD}}</a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="trip.TripDestinationETA"
                           data-pk="{{trip.ItemID}}"
                           data-placement="bottom" data-type="text"
                           data-placeholder="Destination ETA"
                           data-value="{{trip.TripDestinationETA}}"
                           data-save="tripInfo.Save(trip)"
                           tabindex="{{$index}}5">{{trip.TripDestinationETA}}</a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="trip.TripESTSpeed"
                           data-pk="{{trip.ItemID}}"
                           data-placement="bottom" data-apm-number
                           data-placeholder="EST Speed"
                           data-value="{{trip.TripESTSpeed}}"
                           data-save="tripInfo.Save(trip)"
                           tabindex="{{$index}}6">{{trip.TripESTSpeed}}</a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="trip.TripTotalDistance"
                           data-pk="{{trip.ItemID}}"
                           data-placement="bottom" data-apm-number
                           data-placeholder="Trip Total Distance"
                           data-value="{{trip.TripTotalDistance}}"
                           data-save="tripInfo.Save(trip)"
                           tabindex="{{$index}}7">{{trip.TripTotalDistance}}</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section><!--/table-data-->   
    <statusmessage></statusmessage>
</section>