<section id="decklog" class="data log vessel">
    <section class="table-data {{vesselInfo.classname}}">
        <div class="head-row row">
            <div class="col-lg-12">
                <div>
                    <div class="cell-6 cell">&nbsp;</div>
                    <div class="cell">Name</div>
                    <div class="cell-6 cell">Number</div>
                    <div class="cell-18 cell">Flag/NRT/ Call Sign</div>
                    <div class="cell">Vessel Type</div>
                    <div class="cell-12 cell">Owner</div>
                    <div class="cell-12 cell">Operator</div>
                    <div class="cell">Wheel House Phone</div>
                    <div class="cell">ER Phone</div>
                    <div class="cell">Email</div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div ng-repeat="vessel in vesselInfo.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">           
            <div class="col-lg-12">
                <div>
                    <div class="cell-6 cell">
                        {{ vessel.VesselBoatType }}
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-save="vesselInfo.Save(vessel)"
                           data-pk="{{vessel.ItemID}}"
                           data-ng-model="vessel.VesselName"
                           data-placement="bottom" data-type="text" required
                           data-placeholder="Name"
                           data-value="{{ vessel.VesselName }}"
                           tabindex="{{$index}}1">{{ vessel.VesselName }}</a>
                    </div>
                    <div class="cell-6 cell">
                        <a href="#" editable="{{page.security.modify}}" data-save="vesselInfo.Save(vessel)"
                           data-pk="{{vessel.ItemID}}"
                           data-ng-model="vessel.VesselNumber"
                           data-placement="bottom" data-type="text" required
                           data-placeholder="Vessel Number"
                           data-value="{{ vessel.VesselNumber }}"
                           tabindex="{{$index}}1">{{ vessel.VesselNumber }}</a>
                    </div>
                    <div class="cell-18 cell">
                        <a href="#" editable="{{page.security.modify}}" data-save="vesselInfo.Save(vessel)"
                           data-pk="{{vessel.ItemID}}"
                           data-ng-model="vessel.VesselFlag"
                           data-placement="bottom" data-type="text"
                           data-placeholder="Flag"
                           tabindex="{{$index}}2">{{ vessel.VesselFlag }}</a> /
                        <a href="#" editable="{{page.security.modify}}" data-save="vesselInfo.Save(vessel)"
                           data-pk="{{vessel.ItemID}}"
                           data-ng-model="vessel.VesselNRT"
                           data-placement="bottom" data-type="text"
                           data-placeholder="NRT"
                           data-value="{{ vessel.VesselNRT }}"
                           tabindex="{{$index}}3">{{ vessel.VesselNRT }}</a> /
                        <a href="#" editable="{{page.security.modify}}" data-save="vesselInfo.Save(vessel)"
                           data-pk="{{vessel.ItemID}}"
                           data-ng-model="vessel.VesselCallSign"
                           data-placement="bottom" data-type="text"
                           data-placeholder="Call Sign"
                           data-value="{{ vessel.VesselCallSign }}"
                           tabindex="{{$index}}4">{{ vessel.VesselCallSign }}</a>
                        </a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-save="vesselInfo.Save(vessel)"
                           data-pk="{{vessel.ItemID}}"
                           data-ng-model="vessel.VesselType"
                           data-placement="bottom" data-type="text"
                           data-placeholder="Vessel Type"
                           data-value="{{ vessel.VesselType }}"
                           tabindex="{{$index}}5">{{ vessel.VesselType }}</a>
                        </a>
                    </div>
                    <div class="cell-12 cell">
                        <a href="#" editable="{{page.security.modify}}" data-save="vesselInfo.Save(vessel)"
                           data-pk="{{vessel.ItemID}}"
                           data-ng-model="vessel.VesselOwner"
                           data-placement="bottom" data-type="text"
                           data-placeholder="Owner"
                           data-value="{{ vessel.VesselOwner }}"
                           tabindex="{{$index}}6">{{ vessel.VesselOwner }}</a>
                        </a>
                    </div>
                    <div class="cell-12 cell">
                        <a href="#" editable="{{page.security.modify}}" data-save="vesselInfo.Save(vessel)"
                           data-pk="{{vessel.ItemID}}"
                           data-ng-model="vessel.VesselOperator"
                           data-placement="bottom" data-type="textarea"
                           data-placeholder="Operator"
                           data-value="{{ vessel.VesselOperator }}"
                           tabindex="{{$index}}7">{{ vessel.VesselOperator }}</a>
                        </a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-save="vesselInfo.Save(vessel)"
                           data-pk="{{vessel.ItemID}}"
                           data-ng-model="vessel.VesselWheelHousePhone"
                           data-placement="bottom" data-type="tel"
                           data-placeholder="Wheel House Phone" data-pattern="\d{3}\-\d{3}\-\d{4}"
                           data-value="{{ vessel.VesselWheelHousePhone }}"
                           tabindex="{{$index}}8">{{ vessel.VesselWheelHousePhone }}</a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-save="vesselInfo.Save(vessel)"
                           data-pk="{{vessel.ItemID}}"
                           data-ng-model="vessel.VesselERPhone"
                           data-placement="bottom" data-type="tel"
                           data-placeholder="ER Phone" data-pattern="\d{3}\-\d{3}\-\d{4}"
                           data-value="{{ vessel.VesselERPhone }}"
                           tabindex="{{$index}}9">{{ vessel.VesselERPhone }}</a>
                    </div>
                    <div class="cell">
                        <a href="#" editable="{{page.security.modify}}" data-save="vesselInfo.Save(vessel)"
                           data-pk="{{vessel.ItemID}}"
                           data-ng-model="vessel.VesselEmail"
                           data-placement="bottom" data-type="email"
                           data-placeholder="Email"
                           data-value="{{ vessel.VesselEmail }}"
                           tabindex="{{$index}}10">{{ vessel.VesselEmail }}</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section>
    <statusmessage></statusmessage>
</section>