﻿<section id="visuallog" class="data log visual">
    <!--Datepicker-->
    <div class="row">
        <div class="cal-picker col-lg-3 col-lg-offset-8">
            <p class="input-group">
                <input type="text" class="form-control" show-button-bar="false" datepicker-popup="MM/dd/yyyy"
                       ng-model="page.viewDate" is-open="page.isDatePickerOpened" datepicker-options="page.dateOptions"
                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default fa fa-calendar" ng-click="page.openDatePicker($event)"></button>
                </span>
            </p>
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-info btn-today" ng-click="page.today()">Today</button>
        </div>
    </div>
    <section class="table-data {{visualMonitoring.classname}}">
        <div class="head-row row">
            <div class="col-lg-12">
                <div>
                    <div class="cell" ng-show="page.security.modify && page.trip.IsCurrent"></div>
                    <div class="cell-15 cell">Time</div>
                    <div class="cell-18 cell">Notes</div>
                    <div class="cell-18 cell">Name</div>
                    <div class="cell-18 cell">Title</div>
                    <div class="cell-18 cell">Signature</div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div ng-repeat="visual in visualMonitoring.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
            <div class="col-lg-12">
                <div class="editable-row editable-row-{{$index}}">
                    <div class="buttons cell" ng-show="page.security.create && page.trip.IsCurrent">
                        <button type="button" class="btn" ng-show="visual.ItemID===0" ng-class="{'btn-primary': visual.ItemID === 0}"
                                ng-click="visualMonitoring.Save(visual, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                        <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="visualMonitoring.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                    </div>
                    <div class="cell-15 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="visual.VisualMonitoringDateTime"
                           data-disabled="{{visual.ItemID>0}}" data-pk="{{visual.ItemID}}" ng-hide="{{visual.ItemID>0}}"
                           data-placement="bottom"
                           data-apm-time
                           data-placeholder="Select time"
                           data-value="{{visual.VisualMonitoringDateTime | date:'HH:mm'}}"
                           data-save="visualMonitoring.Save(visual)"
                           tabindex="{{$index}}3">{{visual.VisualMonitoringDateTime | date:'HH:mm'}}</a>
                        <span ng-hide="!{{visual.ItemID>0}}">
                            {{ visual.VisualMonitoringDateTime | date:'HH:mm' }}
                        </span>
                    </div>
                    <div class="cell-18 cell">
                        <a href="#" editable="{{page.security.modify}}" data-ng-model="visual.VisualMonitoringNotes"
                           data-disabled="{{visual.ItemID>0}}" data-pk="{{visual.ItemID}}" ng-hide="{{visual.ItemID>0}}"
                           data-placement="bottom" data-type="textarea"
                           data-placeholder="Notes"
                           data-save="visualMonitoring.Save(visual)"
                           tabindex="{{$index}}4">
                            {{ visual.VisualMonitoringNotes }}
                        </a>
                        <span ng-hide="!{{visual.ItemID>0}}">
                            {{ visual.VisualMonitoringNotes }}
                        </span>
                    </div>
                    <div class="cell-18 cell">
                        <a href="#" editable="{{page.security.create}}" data-ng-model="visual.VisualMonitoringName"
                           data-pk="{{visual.ItemID}}" ng-hide="{{visual.ItemID>0}}" data-disabled="{{visual.ItemID>0}}"
                           data-placement="bottom" data-type="select2" data-select2="{{page.select2Options}}"
                           data-placeholder="Select Crew Member"
                           data-value="{{visual.VisualMonitoringName}}" data-source="{{page.crewMembers}}"
                           data-save="visualMonitoring.Save(visual)" data-ng-change="visualMonitoring.UpdateRole(visual, {{$index}})"
                           tabindex="{{$index}}5">{{ page.showLookupData('CrewMember', visual, visual.VisualMonitoringName) }}</a>

                        <span ng-hide="!{{visual.ItemID>0}}">
                            {{ visual.VisualMonitoringName }}
                        </span>
                    </div>
                    <div class="cell-18 cell">
                        {{visual.VisualMonitoringTitle}}
                    </div>
                    <div class="cell-18 cell signature">
                        <a href="#" editable="{{page.security.create}}" data-ng-model="visual.VisualMonitoringSignature"
                           data-disabled="{{visual.ItemID>0}}" data-pk="{{visual.ItemID}}" ng-hide="{{visual.ItemID>0}}"
                           data-placement="bottom"
                           data-placeholder="Signature"
                           data-value="{{visual.VisualMonitoringSignature}}"
                           data-save="visualMonitoring.Save(visual)"
                           tabindex="{{$index}}6">
                            {{ visual.VisualMonitoringSignature }}
                        </a>
                        <span ng-hide="!{{visual.ItemID>0}}">
                            {{ visual.VisualMonitoringSignature }}
                        </span>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section><!--/table-data-->
    <div class="row" ng-show="page.security.create">
        <div class="col-lg-12">
            <button type="button" class="btn btn-default" ng-click="visualMonitoring.Insert()"><i class="fa fa-plus"></i> Add Visual Monitoring Entry</button>
        </div>
    </div>

    <statusmessage></statusmessage>
</section>