<section id="wasteoil" class="data log waste">
    <div class="row">
        <div class="cal-picker col-lg-3 col-lg-offset-8">
            <p class="input-group">
                <input type="text" class="form-control" show-button-bar="false" datepicker-popup="MM/yyyy"
                        ng-model="page.viewDate" is-open="page.isDatePickerOpened" datepicker-options="page.dateOptions"
                        date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default fa fa-calendar" ng-click="page.openDatePicker($event)"></button>
                </span>
            </p>
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-info" ng-click="page.today()">Today</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <section class="table-data {{dirtyFilter.classname}}">
                <h2 class="table-header">Dirty Filters</h2>
                <div class="head-row row">
                    <div class="col-lg-12">
                        <div>
                            <div class="cell-12 cell" ng-show="page.security.modify && page.trip.IsCurrent"></div>
                            <div class="cell-20 cell">Date</div>
                            <div class="cell-18 cell">Type</div>
                            <div class="cell-20 cell">Quantity</div>
                            <div class="cell-30 cell">Dock</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="filter in dirtyFilter.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
                    <div class="col-lg-12">
                        <div>
                            <!-- Action Buttons -->
                            <div class="buttons cell-12 cell" ng-show="page.security.modify && page.trip.IsCurrent">
                                <button type="button" class="btn" ng-class="{'btn-primary': filter.ItemID === 0}"
                                        ng-click="dirtyFilter.Save(filter, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}1"></button>
                                <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="dirtyFilter.Delete($index)" title="Delete" tabindex="{{$index}}2"></button>
                            </div>
                            <div class="cell-20 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="filter.DirtyFilterDate"
                                   data-pk="{{filter.ItemID}}"
                                   data-placement="bottom"
                                   data-apm-date
                                   data-placeholder="Date"
                                   data-value="{{filter.DirtyFilterDate | date:page.datetimePickerOpts.format}}"
                                   data-save="dirtyFilter.Save(filter)"
                                   tabindex="{{$index}}3">{{filter.DirtyFilterDate | date:page.datetimePickerOpts.format}}</a>
                            </div>
                            <div class="cell-18 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="filter.DirtyFilterType"
                                   data-pk="{{filter.ItemID}}"
                                   data-placement="bottom" data-type="select2"
                                   data-placeholder="Type"
                                   data-value="{{filter.DirtyFilterType}}" data-source="{{page.dirtyFilterTypes}}"
                                   data-save="dirtyFilter.Save(filter)"
                                   tabindex="{{$index}}4">{{ page.showLookupData('DirtyFilterType', filter, filter.DirtyFilterType) }}</a>
                            </div>
                            <div class="cell-20 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="filter.DirtyFilterQuantity"
                                   data-pk="{{filter.ItemID}}"
                                   data-placement="bottom" data-apm-number
                                   data-placeholder="Quantity"
                                   data-value="{{filter.DirtyFilterQuantity}}"
                                   data-save="dirtyFilter.Save(filter)"
                                   tabindex="{{$index}}5">{{ filter.DirtyFilterQuantity }}</a>
                            </div>
                            <div class="cell-30 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="filter.DirtyFilterDock"
                                   data-pk="{{filter.ItemID}}"
                                   data-placement="bottom" data-type="select2"
                                   data-placeholder="Dirty Filter Dock"
                                   data-value="{{filter.DirtyFilterDock}}" data-source="{{page.terminalDocks}}"
                                   data-save="dirtyFilter.Save(filter)"
                                   tabindex="{{$index}}6">{{ page.showLookupData('TerminalDockName', filter, filter.DirtyFilterDock) }}</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row" ng-show="page.security.create">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default" ng-click="dirtyFilter.Insert()" ng-show="page.isToday()"><i class="fa fa-plus"></i> Add Filter Entry</button>
                </div>
            </div>

            <section class="table-data {{slopDump.classname}}">
                <h2 class="table-header">Slop Tank Pump Off</h2>
                <div class="head-row row">
                    <div class="col-lg-12">
                        <div>
                            <div class="cell-12 cell" ng-show="page.security.modify && page.trip.IsCurrent"></div>
                            <div class="cell-18 cell">Date/Time</div>
                            <div class="cell-35 cell">Dock</div>
                            <div class="cell-20 cell">Tank</div>
                            <div class="cell-15 cell">Gallons</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="dump in slopDump.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
                    <div class="col-lg-12">
                        <div>
                            <!-- Action Buttons -->
                            <div class="buttons cell-12 cell" ng-show="page.security.modify && page.trip.IsCurrent">
                                <button type="button" class="btn" ng-class="{'btn-primary': dump.ItemID === 0}"
                                        ng-click="slopDump.Save(dump, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}7"></button>
                                <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="slopDump.Delete($index)" title="Delete" tabindex="{{$index}}8"></button>
                            </div>
                            <div class="cell-18 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="dump.SlopDumpDateTime"
                                   data-pk="{{dump.ItemID}}"
                                   data-placement="bottom"
                                   data-apm-datetime
                                   data-placeholder="Date/Time"
                                   data-value="{{dump.SlopDumpDateTime | date:page.datetimePickerOpts.format}}"
                                   data-save="slopDump.Save(dump)"
                                   tabindex="{{$index}}9">{{dump.SlopDumpDateTime | date:page.datetimePickerOpts.format}}</a>
                            </div>
                            <div class="cell-35 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="dump.SlopDumpDock"
                                   data-pk="{{dump.ItemID}}"
                                   data-placement="bottom" data-type="select2"
                                   data-placeholder="Dock"
                                   data-value="{{dump.SlopDumpDock}}" data-source="{{page.terminalDocks}}"
                                   data-save="slopDump.Save(dump)"
                                   tabindex="{{$index}}10">{{ page.showLookupData('TerminalDockName', dump, dump.SlopDumpDock) }}</a>
                            </div>
                            <div class="cell-20 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="dump.SlopDumpTank"
                                   data-pk="{{dump.ItemID}}"
                                   data-placement="bottom" data-type="select2"
                                   data-placeholder="Tank"
                                   data-value="{{dump.SlopDumpTank}}" data-source="{{page.slopDumpTanks}}"
                                   data-save="slopDump.Save(dump)"
                                   tabindex="{{$index}}11">{{ page.showLookupData('SlopDumpTank', dump, dump.SlopDumpTank) }}</a>
                            </div>
                            <div class="cell-15 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="dump.SlopDumpGallons"
                                   data-pk="{{dump.ItemID}}"
                                   data-placement="bottom" data-apm-number
                                   data-placeholder="Gallons"
                                   data-save="slopDump.Save(dump)"
                                   tabindex="{{$index}}11">{{ dump.SlopDumpGallons }}</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row" ng-show="page.security.create">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default" ng-click="slopDump.Insert()" ng-show="page.isToday()"><i class="fa fa-plus"></i> Add Pump Off Entry</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <section class="table-data {{slopTankSounding.classname}}">
                <h2 class="table-header">Slop Tanks Soundings</h2>
                <div class="head-row row">
                    <div class="col-lg-12">
                        <div>
                            <div class="cell-25 cell" ng-show="page.security.modify && page.trip.IsCurrent"></div>
                            <div class="cell-25 cell">Date/Time</div>
                            <div class="cell-30 cell">Tank</div>
                            <div class="cell-20 cell">Gallons</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="sounding in slopTankSounding.data" ng-class-even="'even'" ng-class-odd="'odd'" class="row row-{{$index}}">
                    <div class="col-lg-12">
                        <div>
                            <!-- Action Buttons -->
                            <div class="buttons cell-25 cell" ng-show="page.security.modify && page.trip.IsCurrent">
                                <button type="button" class="btn" ng-class="{'btn-primary': sounding.ItemID === 0}"
                                        ng-click="slopTankSounding.Save(sounding, $index)" class="btn btn-primary fa fa-save" title="Save" tabindex="{{$index}}7"></button>
                                <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="slopTankSounding.Delete($index)" title="Delete" tabindex="{{$index}}8"></button>
                            </div>
                            <div class="cell-25 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="sounding.SlopTankSoundingDateTime"
                                   data-pk="{{sounding.ItemID}}"
                                   data-placement="bottom"
                                   data-apm-datetime
                                   data-placeholder="Date/Time"
                                   data-value="{{ sounding.SlopTankSoundingDateTime | date:page.datetimePickerOpts.format }}"
                                   data-save="slopTankSounding.Save(sounding)"
                                   tabindex="{{$index}}9">{{ sounding.SlopTankSoundingDateTime | date:page.datetimePickerOpts.format }}</a>
                            </div>
                            <div class="cell-30 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="sounding.SlopTankSoundingTank"
                                   data-pk="{{sounding.ItemID}}"
                                   data-placement="bottom" data-type="select2"
                                   data-placeholder="Slop Tank Sounding Tank"
                                   data-value="{{sounding.SlopTankSoundingTank}}" data-source="{{page.slopSoundingTanks}}"
                                   data-save="slopTankSounding.Save(sounding)"
                                   tabindex="{{$index}}10">{{ page.showLookupData('SlopSoundingTank', sounding, sounding.SlopTankSoundingTank) }}</a>
                            </div>
                            <div class="cell-20 cell">
                                <a href="#" editable="{{page.security.modify}}" data-ng-model="sounding.SlopTankSoundingGallons"
                                   data-pk="{{sounding.ItemID}}"
                                   data-placement="left" data-apm-number
                                   data-placeholder="Gallons"
                                   data-save="slopTankSounding.Save(sounding)"
                                   tabindex="{{$index}}11">{{ sounding.SlopTankSoundingGallons }}</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row" ng-show="page.security.create">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default" ng-click="slopTankSounding.Insert()" ng-show="page.isToday()"><i class="fa fa-plus"></i> Add Sounding Entry</button>
                </div>
            </div>
        </div><!--/col-lg-4-->
    </div><!--/row-->
    <statusmessage></statusmessage>
</section>